* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: font;
    src: url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2);
}

@font-face {
    font-family: font1;
    src: url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2);
}

@font-face {
    font-family: font2;
    src: url(https://azure.microsoft.com/etc.clientlibs/onecloud/clientlibs/clientlib-mwf-new/resources/fonts/MWFFluentIcons.woff2);
}

body {
    font-family: font;
}

.tablet {
    display: none;
}

.desktop {
    display: none;
}

header {
    width: 100%;
}

.searchbar {
    display: none;
}

.lists {
    display: none;
}

.hero-ban-position {
    display: none;
}

.hero-ban-tab {
    display: none;
}

.tablet-feature {
    display: none;
}

header {
    color: #1a1a1f;
    font-size: 15px;
    padding-inline: 12px;
    padding-top: 12px;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dots {
    display: none;
}

.text {
    color: #1a1a1f;
    font-family: font;
    font-weight: 600;
    padding: 14px;
    padding-top: 9px;
    font-size: 16.3px;
    letter-spacing: 0.6px;
    margin-left: 3px;
}

.first {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    padding-left: 12px;
}

.image {
    color: #1a1a1f;
    font-size: 15px;
    padding-left: 6px;
    margin-left: auto;
    margin-right: auto;
}

.image img {
    height: 33px;
    width: 33px;
}



.sign {
    color: #1f1f1a;
    font-size: 14px;
    padding: 17px 20px 23px 30px;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: -0.03em;
}

.second {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}

.bodyimage {
    height: 100%;
    width: 100%;
}

.paragraph {
    /* margin-left: auto;
    margin-right: auto; */
    color: #000000;
    padding-inline: 16px;
    width: 100%;
    background-color: #f7f7f7;
    padding-bottom: 92px;
    margin-top: -4px;
}

.bodytxt {
    text-align: left;
    padding-left: 5px;
}

.bodytxt h1 {
    font-size: 32px;
    color: #0c1420;
    background-color: #f7f7f7;
    width: 105%;
    text-align: left;
    padding-left: 6px;
    padding-top: 28px;
    margin-left: -11px;
}

.para {
    color: #142034;
    font-size: 18px;
    margin: 12px 0px 0px;
    background-color: #f7f7f7;
    text-align: left;
    width: 89%;
    padding-left: 10px;
    padding-right: 8px;
    padding-bottom: 42px;
    /* word-spacing: 2px; */
}

.para p {
    text-align: left;
    width: 122%;
    background-color: #f7f7f7;
    margin-left: -11px;
}

/* .btn-group {
    padding-left: 5px;
    padding-right: 0px;
    background-color: #f7f7f7;
    padding-bottom: 83px;
    width: 70%;
}

.btn-getStart {
    padding-left: 3px;
    padding-top: 50px;
    background-color: #f7f7f7;
    width: 100%;
}

.btn-getStart button {
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 600;
    background-color: #0078D4;
    padding: 10px 14px;
    padding: 15px;
    width: 140%;
}

.btn-tryAzure {
    color: #243a5e;
    font-size: 15px;
    padding-left: 3px;
    padding-top: 10px;
    background-color: #f7f7f7;
}

.btn-tryAzure {
    color: #243a5e;
    font-size: 15px;
    background: transparent;
    border-radius: 7px;
    padding: 10px 14px;
    width: 140%;
    padding: 13px;
} */

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #f7f7f7;
    margin: 4px;
}

.btn-getStart {
    background-color: #0078D4;
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 600;
    padding: 16px 14px;
}

.btn-tryAzure {
    color: #243a5e;
    font-size: 15px;
    border-radius: 7px;
    background-color: #f7f7f7;
    padding: 15px 14px;
}

.feature {
    text-align: left;
    color: #0067b8;
    font-size: 12px;
    padding-left: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
}

.arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    padding-right: 10px;
    padding-top: 10px;
    width: 6%;
}

.arrow-down {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
}

.body-tag {
    background-image: linear-gradient(90deg, rgb(237, 232, 246)0%, rgb(244, 250, 253)49%);
    padding: 56px 0px;
    font-size: 16px;
}

.body-feature {
    color: #000000;
    font-size: 16px;
    background-color: transparent;
    padding-bottom: 20px;
    padding-left: 3px;
}

.body-feature p {
    color: darkblue;
    font-size: 12px;
    margin: 0px 0px 12px;
    padding-left: 15px;
    background-color: transparent;
}

.body-feature h3 {
    color: #142034;
    font-size: 24px;
    padding-left: 15px;
    width: 100%;
    background-color: transparent;
}

.cards-layout {
    display: flex;
    flex-direction: column;
    margin-inline: 14px;
}

.card-one {
    margin-inline: 14px;
    width: 100%;
    margin-left: -1px;
    margin-right: 7px;
    /* box-shadow: 5px; */
    padding-inline: 9px;
    background: white;
    padding-block: 8px;
    border-radius: 13px;
    box-sizing: border-box;

}

.card-one img {
    width: 100%;
}

.cogn-txt {
    padding-left: 5px;
}

.cogn-txt h5 {
    gap: 5px;
    padding-bottom: 21px;
    color: #0c1420;
    font-size: 18px;
}

.cogn-txt p {
    padding-bottom: 34px;
}

.cogn-arrow {
    display: flex;
    gap: 7px;
}

.arrow-up {
    /* background: #0078d4; */
    /* padding: 20px; */
    width: 10%;
    height: 20%;
    padding-bottom: 9px;
}

.arrow-up p {
    background: #0078d4;
    padding: 4px;
    color: white;
    text-align: center;
    border-radius: 6px;
    width: 28px;
    padding-block: 4px;
}

.cogn-arrow span {
    font-size: 15px;
    color: rgb(36, 58, 94);
    font-weight: 600;
}

.card-two {
    margin-inline: 14px;
    width: 100%;
    margin-left: -1px;
    margin-right: 7px;
    /* box-shadow: 5px; */
    padding-inline: 9px;
    background: white;
    padding-block: 8px;
    border-radius: 13px;
    box-sizing: border-box;
    margin-top: 8px;
}

.card-two img {
    width: 100%;
    border-radius: 7px;
}
.content-card-two{
    padding-left: 5px;
}

.tablet-text {
    display: none;
}
.content-card-two h5{
    gap: 5px;
    padding-bottom: 21px;
    color: #0c1420;
    font-size: 18px;
}
.content-card-two p{
    padding-bottom: 34px;
}
.content-arrow{
    display: flex;
    gap: 7px;
}
/* .arrow-bar{
    width: 10px;
    height: 20px;
    /* padding-bottom: 9px; */
.arrow-bar{
    background: #0078d4;
    color: white;
    border-radius: 6px;
    width: 28px;
    display: flex;
    align-items: center;
}
.arrow-bar p{
    width: 10px;
    height: 20px;
}
.content-arrow span{
    font-size: 15px;
    color: rgb(36, 58, 94);
    font-weight: 600;
}

.card-three{
    margin-inline: 14px;
    width: 100%;
    margin-left: -1px;
    margin-right: 7px;
    /* box-shadow: 5px; */
    padding-inline: 9px;
    background: white;
    padding-block: 8px;
    border-radius: 13px;
    box-sizing: border-box;
    margin-top: 8px;
}
.card-three img{
    width: 100%;
    border-radius: 7px;
}
.content-card-three{
    padding-left: 5px;
}
.content-card-three h5{
    gap: 5px;
    padding-bottom: 21px;
    color: #0c1420;
    font-size: 18px;
}
.content-card-three p{
    padding-bottom: 34px;
}
.card-three-arrow{
    display: flex;
    gap: 7px;
}
.arrow-icon{
    width: 10%;
    height: 20%;
    padding-bottom: 9px;
}
.arrow-icon p{
    background: #0078d4;
    padding: 4px;
    color: white;
    text-align: center;
    border-radius: 6px;
    width: 28px;
    padding-block: 4px;
}
.card-three-arrow span{
    font-size: 15px;
    color: rgb(36, 58, 94);
    font-weight: 600;
}


nav {
    display: none;
}


/* @media  screen and (min-width:540px) {
    .bodytxt h1{
        padding-left: 55px;
    }
    .para{
        padding-left: 60px;
        padding-right: 60px;
        width: 92%;
        word-spacing: 1px;
    }
    .para p{
        width: 121%;
        margin: 12px 0px 0px;
    }
    .mobilebtn{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px;
        margin: 24px 0px 0px;
        padding-left: 50px;
    }
    .btn-group{
        white-space: nowrap;
        width: 43%;
        display: flex;
    }
    .btn-group button{
        width: 70%;
        padding-block: 15px;
        border-radius: 6px;
    }
    .btn-txt{
       padding-top: 44px;
       padding-bottom: 1px;
       white-space: nowrap;
       display: flex;
       /* width: 50%; */
/* }
    .btn-txt button{
        border-radius: 7px;
        padding-block: 15px;
    }
    .feature{
        text-align: left;
        color: #0067b8;
        font-size: 12px;
        padding-left: 30px;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    } 
    .arrow {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        padding-left: 10px;
        padding-top: 10px;
        width: 10%;
      }
      .arrow-down{
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 4px;
      }
        
        
     
} */

@media screen and (min-width: 768px) {
    .first {
        display: none;
    }


    .image {
        margin-inline: 0;
        color: #1a1a1f;
        font-size: 15px;
        display: flex;
        align-content: space-around;
        padding-left: 0px;
        height: 24px;
        width: 20%;
        /* width: 26.25px; */
    }

    .image img {
        height: 25px;
        width: 25px;
        margin-left: 11px;

    }

    .logo-nav-items {
        display: flex;
    }

    nav {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;
        color: #1a1a1f;
        font-size: 13px;
        padding-left: 17px;
        gap: 20px;
    }


    .desktop {
        display: none;
    }

    .abouts {
        display: none;
    }

    .start {
        display: none;
    }

    .dots {
        color: #1a1a1f;
        font-size: 13px;
        padding: 15px 8px;
        display: flex;
    }

    .hero-ban-position {
        display: none;
    }

    .hero-ban-tab {
        display: none;
    }


    /* .tablet {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }

    .tablet-header {
        display: flex;
        padding-left: 8px;

    } */

    /* .tablet-image {
        color: #1a1a1f;
        font-size: 15px;
        display: flex;
        align-content: space-around;
        height: 24px;
        width: 26.25px;
    } */

    .tablet-text {
        display: block;
        color: #1a1a1f;
        font-size: 18px;
        font-weight: 600;
        margin: 0px 0px 0px 3px;
        width: 40%;
        padding-left: 7px;
    }

    .third {
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;
        /* padding: 0px 12px; */
        margin-right: auto;
        width: auto;
    }

    /* .third p {
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;
        color: #1a1a1f;
        font-size: 13px;
        padding: 20px 8px;
    } */

    .half {
        display: flex;
        align-items: center;
        padding-left: 50px;
    }

    .search {
        padding: 1px 6px;
        padding-bottom: 5px;
        padding-left: 35px;
    }

    .icon {
        padding: 9px;
    }

    .dots {
        color: #1a1a1f;
        font-size: 13px;
        padding: 15px 8px;
    }

    .sign {
        padding: 8px;
    }

    .in {
        color: #1a1a1f;
        font-size: 13px;
        padding: 20px 8px;
        text-align: right;
        white-space: nowrap;
    }

    header {
        padding: 0;
    }

    .bodyimage {
        width: 100%;
    }

    .tabletbodyimg {
        height: 70%;
        width: 50%;
        padding-top: 1px;
        background-color: #f7f7f7;
    }

    .paragraph {
        margin-left: auto;
        margin-right: auto;
        color: #000000;
        /* padding: 0px 4px; */
        background-color: #f7f7f7;
        padding-bottom: 17px;
    }

    .bodytxt h1 {
        font-size: 32px;
        color: #0c1420;
        font-weight: 600;
        width: 102%;
        text-align: left;
        background-color: #f7f7f7;
        padding-left: 52px;
        padding-top: 20px;
    }

    .para p {
        background-color: #f7f7f7;
        margin-left: 2px;
    }

    .para {
        color: #142034;
        font-size: 18px;
        margin: 17px 4px -3px;
        text-align: left;
        background-color: #f7f7f7;
        padding-left: 40px;
        padding-right: 50px;
    }

    .btn-group {
        display: flex;
        flex-direction: row;
        background-color: #f7f7f7;
        padding-bottom: 70px;
        gap: 8px;
        padding-left: 44px;
    }



    .btn-getStart {
        color: #FFFFFF;
        border: none;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 600;
        background-color: #0078D4;
        padding: 16px;
        width: 15%;
        white-space: nowrap;
    }

    .btn-tryAzure {
        border-radius: 8px;
        white-space: nowrap;
        /* padding: 5px 4px;
        padding-top: 36px; */
        text-align: center;
        background: transparent;
        padding: 16px 10px 10px;
        gap: 2px;
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }



    .feature {
        text-align: left;
        color: #0067b8;
        font-size: 12px;
        padding-left: 30px;
        padding-top: 20px;
        display: flex;
    }

    .arrow {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        padding-left: 10px;
        padding-top: 20px;
        width: 7%;
    }

    .arrow-down {
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 4px;
    }

    .body-tag {
        background-image: linear-gradient(90deg, rgb(237, 232, 246)0%, rgb(244, 250, 253)49%);
        padding: 56px 0px;
        font-size: 16px;
    }

    .body-feature {
        color: #000000;
        font-size: 16px;
        background-color: transparent;
        padding-bottom: 20px;
        padding-left: 37px;
    }

    .body-feature p {
        color: darkblue;
        font-size: 12px;
        margin: 0px 0px 12px;
        padding-left: 15px;
        background-color: transparent;
    }

    .body-feature h3 {
        color: #142034;
        font-size: 24px;
        padding-left: 15px;
        width: 100%;
        background-color: transparent;
    }

    .cards-layout {
        display: flex;
        flex-direction: column;
    }

    .card-one {
        width: 86%;
        margin-left: 53px;
        margin-right: auto;
        border-radius: 17px;
        /* box-shadow: 5px; */
        padding-inline: 10px;
        background: white;
        padding-block: 8px;
    }

    .card-one img {
        width: 100%;
    }

    .cogn-txt {
        padding-left: 5px;
    }

    .cogn-txt h5 {
        gap: 5px;
        padding-bottom: 21px;
        color: #0c1420;
        font-size: 18px;
    }

    .cogn-txt p {
        padding-bottom: 34px;
    }

    .cogn-arrow {
        display: flex;
        /* gap: 7px; */
    }

    .arrow-up {
        /* background: #0078d4; */
        /* padding: 20px; */
        width: 5%;
        height: 20%;
        padding-bottom: 9px;
    }

    .arrow-up p {
        background: #0078d4;width: 10%;
        height: 20%;
        padding-bottom: 9px;
        padding: 4px;
        color: white;
        text-align: center;
        border-radius: 6px;
        width: 28px;
        padding-block: 4px;
    }

    .cogn-arrow span {
        color: #243a5e;
        font-size: 15px;
        font-weight: 600;
        text-align: left;
    }
    .card-two{
        width: 86%;
        margin-left: 53px;
        margin-right: auto;
        border-radius: 17px;
        /* box-shadow: 5px; */
        padding-inline: 10px;
        background: white;
        padding-block: 8px;
    }
    .card-two img{
        width: 100%;
    }
    .content-card-two{
        padding-left: 5px;
    }
    .content-card-two h5{
        gap: 5px;
        padding-bottom: 21px;
        color: #0c1420;
        font-size: 18px;
    }
    .content-card-two p{
        padding-bottom: 34px;
    }
    .content-arrow{
        display: flex;
    }
    .arrow-bar{
        width: 5%;
        height: 20%;
        padding-bottom: 9px;
    }
    .arrow-bar p{
        /* background: #0078d4; */
        width: 10%;
        height: 20%;
        padding-bottom: 9px;
        padding: 4px;
        color: white;
        text-align: center;
        border-radius: 6px;
        width: 28px;
        padding-block: 4px;
    }
    .content-arrow span{
        color: #243a5e;
        font-size: 15px;
        font-weight: 600;
        text-align: left;
    }
    .card-three{
        width: 86%;
        margin-left: 53px;
        margin-right: auto;
        border-radius: 17px;
        /* box-shadow: 5px; */
        padding-inline: 10px;
        background: white;
        padding-block: 8px;
    }
    .card-three img{
        width: 100%;
    }
    .content-card-three{
        padding-left: 5px;
    }
    .content-card-three h5{
        gap: 5px;
        padding-bottom: 21px;
        color: #0c1420;
        font-size: 18px;
    }
    .content-card-three p{
        padding-bottom: 34px;
    }
    .card-three-arrow{
        display: flex;
    }
    .arrow-icon{
        width: 5%;
        height: 20%;
        padding-bottom: 9px;
    }
    .arrow-icon p{
        background: #0078d4;width: 10%;
        height: 20%;
        padding-bottom: 9px;
        padding: 4px;
        color: white;
        text-align: center;
        border-radius: 6px;
        width: 28px;
        padding-block: 4px;
    }
    .card-three-arrow span{
        color: #243a5e;
        font-size: 15px;
        font-weight: 600;
        text-align: left;
    }


}

@media screen and (min-width:1024px) {
    header {
        height: 55px;
    }

    .tablet-text {
        width: min-content;
        padding-right: 5px;
        margin: 9px;
        padding-bottom: 1px;
        margin-left: 5px;
        margin-right: 14px;
    }

    .tablet-text p {
        font-size: 16.3px;
        letter-spacing: 0.8px;
        margin-right: -6px;
    }

    .logo-nav-items {
        display: flex;
        align-items: center;
        padding-left: 8px;
    }

    .first {
        display: none;
    }

    .image {
        margin-inline: 0;
        color: #1a1a1f;
        font-size: 15px;
        display: flex;
        align-content: space-around;
        padding-top: 1px;
        padding-right: 1px;
    }

    .image img {
        height: 25px;
        width: 25px;
        margin-left: 3px;
    }

    nav {
        display: flex;
        align-items: baseline;
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;
        color: #1a1a1f;
        font-size: 13px;
        padding-left: 5px;
        gap: 17px;

    }

    .material-symbols-outlined {
        font-size: 20px;
        padding-right: 6px;
        padding-bottom: 3px;
    }

    .searchbar span {
        background: transparent;
    }


    .desktop {
        display: none;
    }

    .abouts {
        display: none;
    }

    .start {
        display: none;
    }

    .dots {
        color: #1a1a1f;
        font-size: 13px;
        padding: 15px 7px;
        display: flex;
        padding-top: 13px;
    }

    .bodyimage {
        display: none;
    }

    .hero-ban-tab {
        display: none;
    }

    .cards-layout {
        display: none;
    }

    .hero-ban-position {
        display: block;
        position: relative;
        height: 400px;
    }

    .hero-ban-position img {
        object-fit: cover;
        width: 100%;
        height: 560px;
    }

    .hero-banner {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        min-height: 560px;
    }

    .paragraph {
        position: absolute;
        top: 97px;
        background: transparent;
        padding-top: 36px;
    }

    .bodytxt {
        background: transparent;
    }

    .bodytxt h1 {
        background: transparent;
        font-size: 40px;
        width: 44%;
        padding-left: 43px;
    }

    .para {
        background: transparent;
        width: 44%;
    }

    .para p {
        background: transparent;
        width: 135%;
        padding-right: 0px;
    }

    .btn-group {
        background: transparent;
        padding-top: 11px;
        /* margin: 32px 0px 0px; */
    }

    .btn-getStart {
        padding-top: 15px;
        width: 13%;
    }

    .btn-tryAzure {
        background: transparent;
        padding-top: 15px;
        border-radius: 7px;
        width: 17%;
    }

    .feature {
        display: none;
    }

    .tablet-feature {
        padding-inline: 40px;
        padding-block: 7px;
        /* z-index: 10;
        margin-left: auto;
        margin-right: auto; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* position: absolute;
        top: 618px; */
        background-color: white;
    }

    .tablet-feature p {
        text-align: left;
        color: darkblue;
        font-size: 14px;
        display: flex;
        white-space: nowrap;
        padding-left: 19px;
    }

    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 72%;
    }

    .start {
        white-space: nowrap;
        display: flex;
        text-align: right;
        width: 20%;
        padding-top: 5px;
        padding-left: 111px;
    }

    .start button {
        padding: 9px 0px 6px;
        font-size: 15px;
        color: #000000;
        text-align: center;
        border: none;
        width: 100%;
        border-radius: 5px;
        font-weight: 600;
        background-color: #89c402;
    }
    .body-tag{
        background-image: linear-gradient(90deg, rgb(237, 232, 246)0%, rgb(244, 250, 253)49%);
        padding: 56px 0px;
        font-size: 16px;
    }
    .body-feature{
        color: #000000;
        font-size: 16px;
        background-color: transparent;
        padding-bottom: 41px;
        padding-left: 37px;
    }
    .body-feature p {
        color: darkblue;
        font-size: 12px;
        margin: 0px 0px 12px;
        padding-left: 15px;
        background-color: transparent;
    }
    .body-feature h3 {
        color: #142034;
        font-size: 24px;
        padding-left: 15px;
        width: 100%;
        background-color: transparent;
    }
    .cards-layout {
        display: flex;
        flex-direction: row;
    }
    .card-one{
        width: 100%;
        padding-bottom: 4%;
    }
    .cogn-txt h5{
        padding-bottom: 52px;
        padding-top: 19px;
    }
    .cogn-arrow span{
        padding-left: 17px;
    }
    .card-two{
        width: 100%;
        padding-bottom: 4%;
    }
    .content-card-two h5{
        padding-bottom: 52px;
        padding-top: 19px;
    }
    .content-arrow span{
        padding-left: 17px;
    }
    





    @media screen and (min-width:1440px) {
        .first {
            display: none;
        }

        .image {
            margin-inline: 0;
            color: #1a1a1f;
            font-size: 15px;
            display: flex;
            align-content: space-around;
            padding-left: 0px;
            height: 24px;
            width: 24px;
        }

        .tablet-text p {
            gap: 5px;
            margin: 0px 0px 0px 10px;

        }

        nav {
            display: flex;
            align-items: baseline;
            display: flex;
            justify-content: space-between;
            align-content: space-around;
            align-items: center;
            color: #1a1a1f;
            font-size: 13px;
            padding-left: 14px;
            gap: 18px;
        }

        .desktop {
            display: none;
        }


        .dots {
            display: none;
        }

        .icon {
            display: none;
        }

        .feature {
            display: none;
        }
        /* .hero-ban-position{
            display: none;
        } */

        .searchbar {
            background-color: #f8f9fa;
            border-radius: 4px;
            border-color: #747479;
            color: #4c4c51;
            border: 1px solid #747479;
            font-size: 13px;
            display: flex;
            align-items: center;
            width: 120px;
            height: 32px;
            padding-left: 8px;
            justify-content: space-between;
        }

        .searchbar input {
            border: none;
            outline: none;
            background-color: #f8f9fa;
            width: 40px;
        }

        .lists {
            color: #1a1a1f;
            font-size: 15px;
            margin: 0px;
            display: flex;
            align-content: space-between;
            justify-content: space-around;
            align-items: center;
            white-space: nowrap;
        }

        .lists p {
            color: #1a1a1f;
            font-size: 13px;
            padding: 20px 8px;
            display: flex;
            justify-content: space-around;
        }

        .lists button {
            background-color: #89c402;
            border: 1px solid #6f9e02;
            border-radius: 4px;
            color: #1a1a1f;
            height: 40%;
            display: flex;
            align-items: center;
            white-space: nowrap;
            font-size: 11px;
            font-weight: 600;
            padding: 9px 5px;
            line-height: 1;
            text-align: center;

        }

        /* .hero-ban-tab{
            height: 70%;
            width: 100%;
            padding-top: 1px;
        } */

        .hero-banner{
            min-height: 560px;
        }
        .hero-ban-position {
            position: relative;
            /* height: 248px;
            object-position: 67% 50%; */
        }

        .hero-ban-position img {
            object-fit: cover;
            width: 100%;
            height: 487px;
            object-position: 31% 50%;
        }

        .hero-banner {
            display: flex;
            flex-direction: row;
            background-color: transparent;
        }

        .paragraph {
            position: absolute;
            top: 123px;
            background: transparent;
            padding-left: 30px;
        }

        .bodytxt h1 {
            background: transparent;
            font-size: 48px;
            width: 100%;
            padding-top: 1px;
        }

        .para p {
            background: transparent;
            width: 134%;
            font-size: 20px;
            word-spacing: 1px;
        }

        .btn-group {
            background: transparent;
            width: 41%;
            padding-top: 11px;
        }

        .btn-getStart {
            width: 25%;
            padding-bottom: 21px;
        }

        .btn-tryAzure {
            width: 33%;
            padding-top: 18px;
            border-radius: 7px;
        }

        .tablet-feature {
            padding-inline: 40px;
            padding-block: 0px;
            z-index: 10;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 544px;
        }

        .tablet-feature p {
            text-align: left;
            color: darkblue;
            font-size: 14px;
            display: flex;
            white-space: nowrap;
            padding-left: 19px;
        }

        .about {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 51%;
        }

        .start {
            white-space: nowrap;
            display: flex;
            text-align: right;
            width: 17%;
            padding-right: 43px;
            padding-top: 10px;
            padding-left: 94px;
        }

        .start button {
            padding: 9px 0px 10px;
            font-size: 15px;
            color: #000000;
            text-align: center;
            border: none;
            width: 100%;
            border-radius: 5px;
            font-weight: 600;
            background-color: #89c402;
        }



    }



}

/* @media screen and (min-width: 860px) {
    .tabletbodyimg{
        position: relative;
        height: 88%;
    }
    .tabletbodyimg img {
        object-fit: cover;
    }
    .maintablet{
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }
    .tabletparagraph{
        position: absolute;
        top: 75px;
        background: transparent;
        padding-top: 36px;
    }
    .tabletpara{
        background: transparent;
    }
    .tabletpara h1{
        background: transparent;
        font-size: 40px;
        width: 44%;
    }
    .para2{
        background: transparent;
        width: 44%;
    }
    .para2 p{
        background: transparent;
        width: 135%;
        /* padding-bottom: 5px; */
/* }
    .tabletbtn{
        background: transparent;
        margin: 32px 0px 0px;
    } 
    .btn2{
        background: transparent;
        padding-top: 6px;
    }
    .btntxt2{
        background: transparent;
        padding-top: 6px;
        padding-bottom: 1px;
    }
    .btntxt2 button{
        background: transparent;
        border-radius: 7px;
    }
    .tabletfeature{
        padding-inline: 40px;
        padding-block: 0px;
        z-index: 10;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 618px;
    }
     .tabletfeature p{
        text-align: left;
        color:darkblue;
        font-size: 16px;
        display: flex;
        white-space: nowrap;
    }
     .about{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        /* gap: 10px; */
/* }
    .abouts{
         display: flex;
         gap: 45px;
          /* padding: 0px 0px 4px;  */
/* padding-right: 35px; */
/* } 
    .start{
        white-space: nowrap;
        display: flex;
        text-align: right;
        width: 25%;
        padding-right: 30px;
        /* padding: 2px 10px; */
/* padding-top: 10px;
        padding-left: 88px;
    }
    .start button{
        /* padding: 5px; */
/* padding: 9px 0px 10px;
        font-size: 15px;
        color: #000000;
        text-align: center;
        border: none;
        width: 100%;
        border-radius: 5px;
        font-weight: 600;
        background-color: #89c402;
    }

    .tabletarrow{
        display: none;
    } 
      
}   */
/* @media screen and (min-width: 1080px) { 
    .mobile {
        display: none;
    }

    .tablet {
        display: none;
    }

    .desktop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 0px;
    }

    .desktop-header {
        display: flex;
        justify-content: space-between;
        margin: 1px;
    }

    .desktop-image {
        color: #1a1a1f;
        font-size: 15px;
        display: flex;
        align-content: space-around;
        padding-left: 2px;
        height: 24px;
        width: 48.25px;
    } */
/* .desktop-image img{
        width: 100%;
        /* height: 15px; */
/* }  */

/* .desktop-text {
        color: #1a1a1f;
        font-size: 18px;
        font-weight: 600;
        padding-right: 13px;
        margin: 0px 0px 0px 12px;
    }

    .fourth {
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;
    }

    .fourth p {
        display: flex; */
/* justify-content: space-between; */
/* align-content: space-around;
        align-items: center;
        color: #1a1a1f;
        font-size: 13px;
        padding: 16px 8px;
    } */

/* .angle {
        display: flex;
        align-items: center;
        padding-left: 30px;
        width: 33%;
    }

    .searchbar {
        background-color: #f8f9fa;
        border-radius: 4px;
        border-color: #747479;
        color: #4c4c51;
        border: 1px solid #747479;
        font-size: 13px;
        display: flex;
        align-items: center;
        width: 120px;
        height: 32px;
        padding-left: 8px;
        justify-content: space-between;
    }

    .searchbar input {
        border: none;
        outline: none;
        background-color: #f8f9fa;
        width: 40px;
    }

    .lines {
        color: #1a1a1f;
        font-size: 15px;
        margin: 10px;
        display: flex;
        align-content: space-between;
        justify-content: space-around;
        align-items: center;
        white-space: nowrap;
    } */

/* .lines p {
        color: #1a1a1f;
        font-size: 13px;
        padding: 7px 9px;
        display: flex;
        justify-content: space-around;
    }

    .lines button {
        background-color: #89c402;
        border: 1px solid #6f9e02;
        border-radius: 4px;
        color: #1a1a1f;
        height: 40%;
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-size: 12px;
        font-weight: 600;
        padding: 9px;
        line-height: 1;
        text-align: center;
    }

    .desktopbodyimg{
        height: 70%;
        width: 100%;
        padding-top: 1px;
    }
    .desktopparagraph{
        margin-left: auto;
        margin-right: auto;
        color: #000000;
        padding: 0px 4px;
        padding-top: 28px;
    }
    .desktoppara h1{
        font-size: 40px;
        color: #0c1420;
        font-weight: 600; */
/* width: 100%; */
/* text-align: left;
        padding-left: 50px;
        padding-top: 20px;
    }
    .deskpara{
        color: #142034;
        font-size: 18px;
        word-spacing: 3px;
        margin:  12px 0px 0px;
        text-align:left;
        padding-left: 50px;
        padding-right: 10px;
        width: 20%;
    }
    .deskpara p{
        width: 310%;
    }
    .deskbtns{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px;
        background: transparent;
        padding-top: 27px; */
/* padding-left: 46px; */
/* }
    
    .deskbtn{
        width: 15%;
        height: 20%;
        padding-left: 50px;
        padding-top: 30px;
        border-radius: 7px;
        white-space: nowrap; 
    }

    .deskbtn button{
        color: #FFFFFF;
        border: none;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 600;
        background-color: #0078D4;
        padding: 10px;
        width: 100%;
    }
    .deskbtntxt{
       padding-top: 33px;
       padding-left: 7px;
       white-space: nowrap;
       display: flex; */
/* width: 87%; */
/* }

    .deskbtntxt button{
        color: #243a5e;
        font-size: 15px;
        border-radius: 8px;
        background: transparent;
        padding: 8px;
    }

    .desktopbodyimg{
        position: relative;
        height: 248px;
    }
    .desktopbodyimg img {
        object-fit: cover;
        width: 100%;
    }
    .maindesktop{
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }
    .desktopparagraph{
        position: absolute;
        top: 123px;
        background: transparent;
    }
    .desktoppara{
        background: transparent;
    }
    .desktoppara h1{
        background: transparent;
        font-size: 48px;
    }
    .deskpara{
        background: transparent;
    }
    .deskpara p{
        background: transparent;
        width: 298%;
        font-size: 20px;
        word-spacing: 1px;
    }
    .deskbtn{
        background: transparent;
        width: 12%;
    }
    .deskbtntxt{
        background: transparent;
    }
    .feature-navbar{
        padding-inline: 42px;
        padding-block: 0px;
        padding-top: 0px;
        z-index: 10;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 560px;
    }
    .deskfeature{
        display: flex;
        gap: 40px; */
/* justify-content: space-between; */
/* align-items: center;
        width: 100%;
    }
    .deskfeature p{
        text-align: left;
        color:#0067b8;
        font-size: 16px;
        display: flex;
        white-space: nowrap; */
/* gap: 45px; */
/* }
    .startbtn{
        white-space: nowrap;
        display: flex;
        text-align: right;
        padding-right: 10px; */
/* padding: 2px 10px; */
/* padding-top: 5px;
        padding-left: 88px;
    } 
    .startbtn button{
        padding: 9px 0px 10px;
        font-size: 15px;
        color: #000000;
        text-align: center;
        border: none;
        width: 90px;
        border-radius: 5px;
        font-weight: 600;
        background-color: #89c402;
    }
} */