* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'font';
    src: url('https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/fonts/Inter-Regular.woff2');
}

@font-face {
    font-family: 'font1';
    src: url('https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/fonts/Inter-SemiBold.woff2');
}

@font-face {
    font-family: 'font2';
    src: url('https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/fonts/roboto-regular.woff2');
}

.tablet-header-tag {
    display: none;
}

.hero-header-tag {
    display: none;
}

header {
    color: #000;
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-inline-start: 12px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 5px;
}

.header-container {
    display: flex;
}

.flipkart-image-logo {
    height: 23px;
    width: 23px;
    margin-left: 11px;
    margin-top: -2px;
}

.flipkart-image-logo img {
    width: 100%;
    height: 100%;
}

.mobile-text {
    color: #212121;
    font-size: 16px;
    padding-left: 12px;
    font-weight: 400;
    font-family: 'font2';
    margin-top: -1px;
}

.logo-accessibilities {
    display: flex;
}

.search-bar {
    padding-right: 17px;
    margin-top: -7px;
}

.cart-logo {
    padding-right: 36px;
    margin-top: -2px;
}

.login-tag {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 10px;
    font-family: 'font2';
    padding-right: 26px;
    padding-top: 3px;
}

.hero-header {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    margin-top: 0px;
    border-bottom: 1px solid rgb(220, 223, 230);
}

.sort-tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 0%;
}

.sort-image-tag {
    padding-top: 6px;
}

.sort-tag p {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01px;
    margin-left: 8px;
    color: rgb(17, 17, 18);
    font-family: 'font1';
}

.border-line-tag {
    background-color: rgb(213, 215, 219);
    height: 16px;
    width: 1px;
}

.filter-tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 0%;
}

.filter-image-tag {
    padding-top: 6px;
}

.filter-tag p {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01px;
    margin-left: 8px;
    color: rgb(17, 17, 18);
    font-family: 'font1';
}

.hero-header-body {
    box-sizing: border-box;
    display: flex;
    padding-left: 9px;
}

.top-sale-tag {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(219, 219, 219);
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 8px;
    padding-top: 3px;
    padding-left: 6px;
    /* padding-right: 8px; */
    height: 40px;
    width: 99px;
    border-radius: 4px;
}

.top-sale-image {
    width: 49px;
    height: 32px;
}

.top-sale-image img {
    width: 100%;
    height: 100%;
}

.top-sale-tag span {
    box-sizing: border-box;
    font-size: 11px;
    font-weight: 400;
    font-family: 'font';
    padding-top: 0px;
    padding-left: 8px;
    line-height: 17px;
}

.triangle-layout {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(219, 219, 219);
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 8px;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 8px;
    height: 40px;
    width: 71px;
    border-radius: 4px;
}

.triangle-image-layout {
    width: 32px;
    height: 32px;
}

.triangle-image-layout img {
    width: 100%;
    height: 100%;
}

.triangle-layout span {
    box-sizing: border-box;
    font-size: 11px;
    font-weight: 400;
    font-family: 'font';
    padding-top: 10px;
    padding-left: 8px;
}

.triangle-currency {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(219, 219, 219);
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 8px;
    padding-left: 7px;
    padding-top: 2px;
    /* padding-right: 8px; */
    height: 40px;
    width: 115px;
    border-radius: 4px;
}

.triangle-image-currency {
    width: 32px;
    height: 32px;
    padding-top: 1px;
}

.triangle-image-currency img {
    width: 100%;
    height: 100%;
}

.triangle-currency span {
    box-sizing: border-box;
    font-size: 11px;
    font-weight: 400;
    font-family: 'font';
    padding-top: 1px;
    padding-left: 8px;
    line-height: 17px;
}

.mobile-contents {
    height: 310px;
}

.mi-contents {
    display: flex;
    padding-top: 31px;
    padding-bottom: 12px;
    padding-inline: 13px;

}

.mi-mobile-image {
    height: 120px;

}

.mi-mobile-image img {
    width: 100%;
    height: 100%;
}

.mi-mobile-contents {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    margin-left: 30px;

}

.mobile-type {
    color: rgb(17, 17, 18);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.01px;
    line-height: 20px;
    font-family: 'font';
    margin-bottom: 4px;
    margin-right: 2px;
}

.canvas-contents {
    display: flex;
    margin-bottom: 6px;
    margin-top: 4px;
}

.canvass-mobile {
    display: flex;
}

.canvass-star svg {
    aspect-ratio: auto 48 / 48;
    color: red;
}

.canvas-rating {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 4px;
    padding-bottom: 2px;
    letter-spacing: 0px;
    font-family: 'font';
    color: #717478;
}

/* canvas{
    overflow-clip-margin: content-box;
    overflow: clip;
} */
.canvas-plus-image {
    width: 55px;
    height: 14px;
}

.canvas-plus-image img {
    width: 100%;
    height: 100%;
}

.rating-off-tag {
    display: flex;
    gap: 9px;
}

.rating-off-tag p {
    color: #008c00;
    font-family: 'font';
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01px;
    white-space: nowrap;
}

.rating-off-tag a {
    color: #717478;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.01px;
    line-height: 24px;
    font-family: 'font';
    text-decoration-line: line-through;
}

.rating-off-tag span {
    color: rgba(17, 17, 18, 1.00);
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01px;
    font-family: 'font';
}

.extra-content {
    color: #26a541;
    font-size: 12px;
    font-weight: 400;
    margin-top: 6px;
}

.left-content {
    color: #c70055;
    font-size: 12px;
    font-weight: 400;
    margin-top: 6px;
    font-family: 'font3';
}

.delivery-content {
    color: #000;
    margin-top: 6px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'font2';
}

.storage-container {
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: 1px solid rgb(213, 215, 219);
    padding-bottom: 3px;
}

.ram-content {
    border: 1px solid rgb(213, 215, 219);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    align-items: center;
    width: 176px;
    white-space: nowrap;
}

.ram-content p {
    color: rgb(113, 116, 120);
    font-size: 12px;
    font-weight: 400;
    font-family: 'font';
    line-height: 18px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
}

.display-minor {
    display: flex;
}

.display-content {
    border: 1px solid rgb(213, 215, 219);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    align-items: center;
    margin-top: 5px;
    height: 26px;
}

.display-content p {
    color: rgb(113, 116, 120);
    font-size: 12px;
    font-weight: 400;
    font-family: 'font';
    line-height: 18px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    white-space: nowrap;
}

.minor-content {
    border: 1px solid rgb(213, 215, 219);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    align-items: center;
    margin-top: 4px;
}

.minor-content p {
    color: rgb(113, 116, 120);
    font-size: 12px;
    font-weight: 400;
    font-family: 'font';
    line-height: 18px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    white-space: nowrap;
}

.rear-content {
    border: 1px solid rgb(213, 215, 219);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    align-items: center;
    margin-top: 4px;
    width: 125px;
}

.rear-content p {
    color: rgb(113, 116, 120);
    font-size: 12px;
    font-weight: 400;
    font-family: 'font';
    line-height: 18px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    white-space: nowrap;
}

.rear-front {
    display: flex;
}

.front-content {
    border: 1px solid rgb(213, 215, 219);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
}

.front-content p {
    color: rgb(113, 116, 120);
    font-size: 12px;
    font-weight: 400;
    font-family: 'font';
    line-height: 18px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    white-space: nowrap;
}

.extra-inch-content {
    border: 1px solid rgb(213, 215, 219);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    width: 282px;
}

.extra-inch-content p {
    color: rgb(113, 116, 120);
    font-size: 12px;
    font-weight: 400;
    font-family: 'font';
    line-height: 18px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    white-space: nowrap;
}

.mi-wishlist-content {
    display: flex;
}

.wishlist {
    padding-top: 21px;
    padding-right: 12px;
}

.main-desktop-body-container {
    display: none;
}

.main-review-container {
    display: none;
}

.main-footer-container {
    display: none;
}

@media screen and (min-width:768px) {


    .storage-container {
        display: flex;
        flex-wrap: wrap;
    }

    .mi-mobile-contents {
        margin-left: 0px;
        padding-left: 18px;
    }

    .mi-contents {
        gap: 3px;
        padding-bottom: 10px;
        padding-top: 32px;
    }

    .canvas-contents {
        gap: 3px;
    }

    .canvass-mobile {
        display: flex;
        gap: 15px;
    }

    .canvas-plus-image {
        margin-top: 2px;
    }

    .rating-off-tag {
        padding-left: 1px;
        padding-top: 1px;
    }

    .login-tag {
        padding-right: 26px;
    }

    header {
        padding-bottom: 6px;
    }

    .hero-header {
        margin-top: -1px;
        padding-right: 0px;
    }

    .mi-wishlist-content {
        display: flex;
        justify-content: space-between;
    }

    .wishlist {
        padding-top: 21px;
        padding-right: 12px;
        margin-top: 0px;
    }


    .mobile-contents {
        height: auto;
    }

    .mi-mobile-image {
        margin-top: 4px;
        margin-left: 3px;
    }

    .ram-content {
        width: auto;
    }


}





@media screen and (min-width:1142px) {

    header {
        display: none;
    }

    .hero-header {
        display: none;
    }

    .hero-header-body {
        display: none;
    }

    .main-mobile-body-container {
        display: none;
    }

    .main-review-container {
        display: flex;
    }

    .main-footer-container {
        display: flex;
        flex-direction: column;
    }

    .tablet-header-tag {
        background-color: rgb(40, 116, 240);
        display: flex;
        flex-direction: row;
        height: 56px;
        justify-content: center;
        padding-top: 7px;
        padding-left: 138px;
        padding-right: 9px;
    }

    .flipkart-memo {
        padding-top: 4px;
        padding-right: 5px;
    }

    .image-memo-tag {
        width: 75px;
        height: 20px;
    }

    .image-memo-tag img {
        width: 100%;
        height: 100%;
    }

    .memo-text-content {
        box-sizing: border-box;
        color: rgb(240, 240, 240);
        font-size: 11px;
        line-height: 15.4px;
        margin-top: -1px;
        display: flex;
        font-style: italic;
        font-family: 'font2';
    }

    .memo-text-content span {
        color: #ffe500;
        font-size: 11px;
        font-weight: 500;
        margin-right: 2px;
        padding-left: 2px;
    }

    .memo-icon {
        width: 10px;
        height: 10px;
    }

    .memo-icon img {
        width: 100%;
        height: 100%;
    }

    .search-bar-tag {
        background-color: rgb(255, 255, 255);
        display: flex;
        height: 36px;
        width: 304px;
        justify-content: flex-start;
        margin-top: 3px;
        margin-left: 6px;
        padding-top: 4px;
        padding-left: 2px;
    }

    .search-bar-content {
        font-size: 14px;
        font-weight: 400;
        font-family: 'font2';
        padding-left: 14px;
        padding-right: 16px;
        white-space: nowrap;
        padding-top: 6px;
        color: #878787;
    }

    .search-bar-icon {
        padding-left: 10px;
        padding-right: 12px;
        padding-top: 5px;
    }

    .login-bar-tag {
        margin-right: 20px;
        margin-left: 20px;
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        color: rgb(40, 116, 240);
        border-radius: 2px;
        width: 121px;
        height: 31px;
        margin-top: 5px;
    }

    .login-bar-tag a {
        font-size: 16px;
        font-weight: 600;
        font-family: 'font2';
        letter-spacing: 0.1px;
        line-height: 20px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        padding-top: 6px;
    }

    .seller-content-tag {
        box-sizing: border-box;
        color: rgb(240, 240, 240);
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 11px;
    }

    .seller-content-tag span {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.1px;
        line-height: 20px;
        font-family: 'font2';
        color: rgb(255, 255, 255);
    }

    .more-tag {
        color: rgb(240, 240, 240);
        box-sizing: border-box;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
        display: flex;
        gap: 4px;
    }

    .more-tag p {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.1px;
        line-height: 20px;
        font-family: 'font1';
    }

    .chevron-up {
        padding-left: 4px;
        padding-top: 7px;
        color: rgb(255, 255, 255);
        transform-origin: 43% 38%;
        transform: rotateZ(-89deg);
    }

    .cart-content-tag {
        box-sizing: border-box;
        color: rgb(240, 240, 240);
        margin-left: 16px;
        margin-right: 20px;
        display: flex;
        margin-top: 10px;
    }

    .cart-container {
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 3px;
    }

    .cart-content-tag span {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.1px;
        line-height: 20px;
        font-family: 'font2';
        padding-top: 2px;
    }

    .hero-header-tag {
        background-color: rgb(255, 255, 255);
        box-sizing: border-box;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 21px;
        height: 39px;
    }

    .feature-types {
        display: flex;
        justify-content: center;
        height: 100%;
        padding-left: 15px;
        gap: 2px;
    }

    .feature-types span {
        font-size: 14px;
        font-weight: 600;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 19.6px;
        font-family: 'font2';
        padding-left: 6px;
    }

    .chevron-gap {
        padding-top: 15px;
        width: 8px;
        padding-left: 1px;
        transform: rotate(270deg);
    }

    .main-desktop-body-container {
        background-color: #f1f3f6;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 8px;
        padding-left: 8px;
        display: flex;
    }

    .filter-container {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .06);
        height: 2140px;
    }

    .filter-section {
        border-bottom: 1px solid rgb(240, 240, 240);
        color: rgb(33, 33, 33);
        box-sizing: border-box;
        font-size: 18px;
        font-family: 'font';
        font-weight: 600;
        line-height: 19.6px;
        padding-bottom: 12px;
        padding-top: 20px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .category-section {
        box-sizing: border-box;
        border-bottom: 1px solid rgb(240, 240, 240);
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .category-section span {
        color: rgb(33, 33, 33);
        font-size: 11px;
        font-weight: 500;
        font-family: 'font1';
        line-height: 16.8px;
        margin-bottom: 5px;
    }

    .accessory-tag {
        box-sizing: border-box;
        padding-top: 11px;
        padding-bottom: 5px;
        display: flex;
        gap: 5px;
    }

    .accessory-tag a {
        color: rgb(135, 135, 135);
        font-size: 14px;
        line-height: 19.6px;
        font-family: 'font2';
    }

    .chevron-left {
        padding-top: 1px;
    }

    .text-accessory {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .text-accessory p {
        font-size: 14px;
        font-weight: 600;
        line-height: 19.6px;
        font-family: 'font2';
        padding-left: 14px;
        padding-top: 2px;
    }

    .price-section {
        border-bottom: 1px solid rgb(240, 240, 240);
        padding-left: 16px;
        padding-top: 14px;
        padding-bottom: 16px;
        padding-right: 16px;
    }

    .price-section span {
        color: rgb(33, 33, 33);
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.3px;
        line-height: 18.2px;
        font-family: 'font2';
    }

    .background-color-tag {
        display: flex;
        padding-top: 3px;
        align-items: flex-end;
    }

    .inline-color {
        background-color: rgb(224, 224, 224);
    }

    .circle-bar {
        background-color: #2874f0;
        height: 6px;
        width: 236px;
        transform: translate(0px) scaleX(0.995);
        transform-origin: left center;
        display: flex;
        justify-content: space-between;
    }

    .zero-circle {
        transform: translateX(0px);
        position: absolute;
        left: -13.5px;
        top: -3.5px;
        transition: translate .5s ease-out;
    }

    .zero-circle-tag {
        border: 1px solid rgb(186, 186, 186);
        border-radius: 50%;
        height: 13px;
        width: 13px;
        position: absolute;
        top: -3px;
        left: -6px;
        background-color: white;
        z-index: 100;
    }

    .circle-zero {
        transform: translateX(0px);
    }

    .circle-zero-tag {
        border: 1px solid rgb(186, 186, 186);
        border-radius: 50%;
        height: 13px;
        width: 13px;
        position: relative;
        top: -3px;
        left: 9px;
        background-color: white;
    }

    .dots-tag {
        display: flex;
    }

    .dot {
        color: #c2c2c2;
        font-size: 20px;
    }

    .select-container {
        display: flex;
        gap: 9px;
        padding-top: 6px;
    }

    .minimum {
        width: 99px;
        border: 1px solid #e0e0e0;
        background-color: #fff;
    }

    .min {
        width: 107px;
        border: 1px solid #e0e0e0;
        background-color: #fff;
    }

    .limit {
        color: #878787;
        font-size: 14px;
        line-height: 1;
        font-family: 'font';
    }

    .brand-section {
        border-bottom: 1px solid rgb(240, 240, 240);
        box-sizing: border-box;
        padding-bottom: 16px;
        padding-top: 18px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .brand-icon-tag {
        margin-bottom: -16px;
        margin-top: -18px;
        margin-left: -16px;
        margin-right: -16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-top: 17px;
        display: flex;
        justify-content: space-between;
        color: rgb(33, 33, 33);
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.3px;
        line-height: 18.2px;
        font-family: 'font2';
    }

    .icon-chevron {
        transform: rotate(90deg);
    }

    .brand-label {
        display: flex;
        gap: 1px;
        padding-top: 16px;
        padding-bottom: 15px;
    }

    .label {
        border: 1px solid rgb(194, 194, 194);
    }

    .label-content {
        font-size: 14px;
        line-height: 14px;
        padding-left: 11px;
        font-family: 'font';
    }

    .assured-section {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(240, 240, 240);
        padding-top: 16px;
        padding-left: 16px;
        padding-bottom: 16px;
        padding-right: 16px;
    }

    .label-assure {
        display: flex;
        gap: 11px;
    }

    .assure {
        border: 1px solid #c2c2c2;
        margin-top: -5px;
    }

    .assure-image {
        width: 77px;
        height: 21px;
        margin-top: 1px;
        padding-left: 1px;
    }

    .assure-image img {
        width: 100%;
        height: 100%;
    }

    .question-mark {
        border: 1px solid #e0e0e0;
        background-color: #fff;
        border-radius: 50%;
        width: 16px;
        font-size: 11px;
        font-weight: 500;
        height: 16px;
        line-height: 16px;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
        margin-right: 2px;
    }

    .rating-section {
        padding-left: 16px;
        padding-top: 16px;
        padding-right: 16px;
        padding-bottom: 29px;
        border-bottom: 1px solid rgb(240, 240, 240);
    }

    .rating-heading {
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-right: 16px;
        margin-bottom: -16px;
        margin-top: -16px;
        margin-left: -16px;
        margin-right: -16px;
    }

    .rating-heading p {
        color: rgb(33, 33, 33);
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.3px;
        line-height: 18.2px;
        font-family: 'font2';
    }

    .chevron-icon-rating {
        color: rgb(135, 135, 135);
        font-size: 19px;
        margin-top: -2px;
        margin-right: -2px;
        transform: rotate(90deg);
    }

    .label-rating-container {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .label-rating {
        display: flex;
        gap: 12px;
        padding-top: 12px;
    }

    .label-rating p {
        font-size: 14px;
        line-height: 19px;
        font-family: 'font2';
    }

    .invoice-section {
        padding-right: 24px;
        padding-left: 31px;
        padding-top: 32px;
        padding-bottom: 16px;
        margin-top: -16px;
        margin-left: -16px;
        margin-right: -16px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(240, 240, 240);
    }

    .invoice-section p {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.3px;
        line-height: 18.2px;
        font-family: 'font2';
        padding-left: 1px;
        padding-top: 1px;
    }

    .chevron-icon-invoice {
        color: rgb(135, 135, 135);
        transform: rotate(-90deg);
        padding-right: 3px;
        padding-left: 5px;
    }

    .ram-section {
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 28px;
        padding-right: 16px;
        border-bottom: 1px solid rgb(240, 240, 240);
    }

    .ram-chevron-content {
        display: flex;
        justify-content: space-between;
    }

    .ram-chevron-content p {
        font-size: 13px;
        font-weight: 600;
        font-family: 'font2';
    }

    .chevron-icon-down {
        color: rgb(135, 135, 135);
        padding-right: 0px;
        padding-top: 0px;
        transform: rotate(90deg);
    }

    .list-items {
        display: flex;
        gap: 6px;
    }

    .list-items-ram {
        display: flex;
        flex-direction: column;
        gap: 17px;
        padding-top: 15px;
    }

    .bit-item {
        font-size: 14px;
        line-height: 14px;
        font-family: 'font2';
    }

    .internal-section {
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
        padding-top: 13px;
        padding-right: 7px;
        padding-bottom: 13px;
        border-bottom: 1px solid rgb(240, 240, 240);
    }

    .internal-section p {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.3px;
        line-height: 18.2px;
        font-family: 'font2';
        white-space: nowrap;
    }

    .chevron-up-internal {
        padding-right: 15px;
        transform: rotate(-90deg);
    }

    .icon-left-bar {
        transform: rotate(180deg);
    }

    .discount-section {
        border-bottom: 1px solid rgb(240, 240, 240);
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-right: 16px;
    }

    .discount-icon p {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.3px;
        line-height: 18.2px;
        font-family: 'font1';
    }

    .discount-icon {
        display: flex;
        justify-content: space-between;
        padding-bottom: 6px;
    }

    .discount-item {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .offer-section {
        border-bottom: 1px solid rgb(240, 240, 240);
        padding-right: 16px;
        padding-top: 16px;
        padding-left: 16px;
        padding-bottom: 16px;
    }

    .offer-tag-section {
        display: flex;
        justify-content: space-between;
    }

    .offer-tag-section p {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.3px;
        line-height: 18.2px;
        font-family: 'font1';
    }

    .offer-list-items {
        display: flex;
        gap: 4px;
        opacity: 0.5;
    }

    .offer-item {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .guiding-container {
        padding-top: 30px;
        text-align: center;
    }

    .guiding-container p {
        font-size: 14px;
        line-height: 19.6px;
        font-family: 'font';
        color: rgb(33, 33, 33);
    }

    .guide-icon {
        color: rgb(40, 116, 240);
        margin-bottom: 20px;
        margin-top: 5px;
        display: flex;
        align-items: baseline;
        gap: 4px;
        justify-content: center;
    }

    .guide-icon p {
        color: rgb(40, 116, 240);
    }

    .desktop-filter-mobiles {
        height: 7116px;
        width: 270px;
    }

    .mobile-header-contents {
        background-color: #fff;
        border-bottom: 1px solid rgb(240, 240, 240);
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 13px;
        margin-left: 5px;
    }

    .nav-mobile-items {
        display: flex;
        padding-top: 2px;
    }

    .home-tag {
        display: flex;
        color: rgb(135, 135, 135);
    }

    .home-tag p {
        font-size: 12px;
        line-height: 16.8px;
        font-family: 'font2';
    }

    .home-bar {
        transform: rotate(180deg);
    }

    .mobile-details {
        padding-top: 11px;
        padding-bottom: 4px;
        padding-right: 5px;
    }

    .mobile-details a {
        color: rgb(40, 116, 240);
        font-size: 12px;
        line-height: 17.4px;
        font-family: 'font2';
    }

    .mobile-details span {
        color: rgb(135, 135, 135);
    }

    .main-mobile-container {
        margin-left: 5px;
    }

    .product-contents {
        display: flex;
        align-items: center;
        padding-top: 0px;
    }

    .product-contents h1 {
        font-size: 16px;
        font-weight: 600;
        line-height: 22.4px;
        margin-top: 8px;
        font-family: 'font2';
    }

    .product-contents span {
        color: rgb(135, 135, 135);
        font-size: 12px;
        line-height: 16.8px;
        margin-left: 10px;
        font-family: 'font2';
        padding-top: 9px;
    }

    .product-nav-bar {
        display: flex;
    }

    .product-nav-bar span {
        color: rgb(33, 33, 33);
        font-size: 14px;
        font-weight: 600;
        line-height: 19.6px;
        padding-bottom: 4px;
        padding-right: 10px;
        padding-top: 8px;
        font-family: 'font2';
    }

    .product-nav-bar p {
        color: rgb(40, 116, 240);
        font-size: 14px;
        font-weight: 600;
        font-family: 'font2';
        line-height: 19.6px;
        margin-left: 11px;
        margin-right: 10px;
        padding-bottom: 4px;
        padding-top: 8px;
        border-bottom: 2px solid rgb(40, 116, 240);
    }

    .product-nav-bar a {
        font-size: 14px;
        line-height: 19.6px;
        font-family: 'font2';
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 4px;
        padding-top: 8px;
    }

    .desktop-mobile-content {
        background-color: #fff;
        margin-left: 5px;
    }

    .image-mi-tag {
        width: 88px;
        height: 200px;
        margin-left: 36px;
        margin-right: 36px;
    }

    .image-mi-tag img {
        width: 100%;
        height: 100%;
    }

    .list-bar {
        display: flex;
        gap: 8px;
        padding-top: 17px;
    }

    .desktop-mobile-content {
        border-bottom: 1px solid rgb(240, 240, 240);
        padding-bottom: 30px;
        padding-left: 24px;
        padding-top: 24px;
        display: flex;
    }

    .bar-content {
        font-size: 14px;
        color: #212121;
        line-height: 14px;
        font-family: 'font2';
    }

    .wishlist-icon {
        padding-left: 30px;
    }

    .phone-ratings {
        display: flex;
        margin-top: 6px;
        gap: 9px;
    }

    .smart-phone-details {
        display: flex;
        padding-left: 19px;
    }

    .smart-phone-canvas {
        display: flex;
        background-color: rgb(56, 142, 60);
        color: rgb(255, 255, 255);
        padding-bottom: 2px;
        padding-left: 6px;
        padding-right: 4px;
        padding-top: 2px;
        border-radius: 3px;
        font-size: 12px;
        font-weight: 500;
    }

    .smart-header p {
        color: rgb(33, 33, 33);
        font-size: 18px;
        font-weight: 600;
        line-height: 18px;
        font-family: 'font2';
    }

    .star-ratings span {
        color: #878787;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        box-sizing: border-box;
        font-family: 'font2';
    }

    .nav-list-contents {
        margin-top: 13px;
        padding-left: 13px;
    }

    .item-contents {
        color: rgb(194, 194, 194);
    }

    .mobile-performance {
        padding-right: 8px;
        font-size: 14px;
        line-height: 22px;
        font-family: 'font2';
    }

    .mobile-performance p {
        color: rgb(33, 33, 33);
        padding-right: 8px;
    }

    .assure-section-container {
        display: flex;
    }

    .assure-main-container {
        padding-left: 25px;
    }

    .assure-contents {
        padding-right: 10px;
    }

    .assure-image-container {
        width: 77px;
        height: 21px;
    }

    .assure-image-container img {
        width: 100%;
        height: 100%;
    }

    .pricing-details p {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
        font-size: 25px;
        font-weight: 500;
        line-height: 25px;
        font-family: 'font1';
    }

    .real-content {
        padding-top: 10px;
        display: flex;
        gap: 3px;
    }

    .real-content a {
        color: rgb(135, 135, 135);
        font-size: 14px;
        line-height: 14px;
        text-decoration-line: line-through;
        text-decoration-color: rgb(135, 135, 135);
    }

    .real-content span {
        color: rgb(56, 142, 60);
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.2px;
        line-height: 13px;
        font-family: 'font1';
        white-space: nowrap;
    }

    .delivery-details {
        color: rgb(33, 33, 33);
        font-size: 12px;
        line-height: 16px;
        font-family: 'font2';
        margin-top: 6px;
    }

    .offer-contents {
        color: rgb(199, 0, 85);
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        margin-top: 5px;
        font-family: 'font2';
    }

    .bank-offer {
        color: rgb(38, 165, 65);
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        margin-top: 5px;
        font-family: 'font2';
    }

    .discount-content {
        margin-top: 5px;
        background-color: rgb(233, 222, 255);
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 4px;
        padding-top: 4px;
        border-radius: 2px;
        width: 153px;
        white-space: nowrap;
    }

    .discount-content p {
        color: rgb(112, 72, 198);
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        font-family: 'font1';
    }

    .exchange-offer {
        display: flex;
        margin-top: 5px;
    }

    .exchange-offer a {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        font-family: 'font2';
    }

    .exchange-offer p {
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        font-family: 'font1';
    }

    .exchange-offer span {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        font-family: 'font2';
    }

    .saving-tag {
        color: rgb(112, 72, 198);
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        font-family: 'font1';
        margin-top: 5px;
    }

    .desktop-page-contents {
        background-color: #fff;
        border-top: 1px solid #e0e0e0;
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        margin-left: 5px;
    }

    .desktop-page-contents span {
        color: rgb(33, 33, 33);
        font-size: 14px;
        line-height: 32px;
        font-family: 'font';
        white-space: nowrap;
    }

    .nav-page-lists {
        padding-top: 4px;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 5px;
    }

    .page-one {
        background-color: rgb(40, 116, 240);
        color: rgb(255, 255, 255);
        border-radius: 50%;
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-family: 'font1';
    }

    .page-content {
        color: rgb(33, 33, 33);
        padding-left: 8px;
        padding-right: 8px;
        font-weight: 500;
        font-family: 'font1';
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .next-one {
        padding-left: 25px;
        padding-right: 25px;
        color: rgb(40, 116, 240);
        font-size: 14px;
        font-weight: 500;
        line-height: 32px;
        font-family: 'font1';
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fact-content {
        background-color: rgb(255, 255, 255);
        color: rgb(33, 33, 33);
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-right: 16px;
        margin-left: 5px;
        margin-top: 10px;
        display: flex;
    }

    .fact-content span {
        color: rgb(33, 33, 33);
        font-size: 16px;
        font-weight: 500;
        line-height: 22.4px;
        font-family: 'font1';
    }

    .fact-statements {
        margin-left: 24px;
    }

    .true-content {
        border: 1px solid rgb(215, 215, 215);
        color: rgb(33, 33, 33);
        font-size: 14px;
        font-weight: 500;
        line-height: 19.6px;
        margin-right: 8px;
        padding-left: 28px;
        padding-right: 28px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .false-content {
        border: 1px solid rgb(215, 215, 215);
        color: rgb(33, 33, 33);
        font-size: 14px;
        font-weight: 500;
        line-height: 19.6px;
        margin-right: 8px;
        padding-left: 28px;
        padding-right: 28px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .main-review-container {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 33px;
        background-color: #f1f3f6;
    }

    .review-contents {
        background-color: rgb(255, 255, 255);
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
        margin-top: 5px;

    }

    .review-header-content {
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        font-family: 'font1';
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px solid rgb(240, 240, 240);
    }

    .review-body-contents {
        border-bottom: 1px solid rgb(240, 240, 240);
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
    }

    .review-image-content-container {
        display: flex;
    }

    .review-image-tag {
        width: 77px;
        height: 150px;
        margin-left: 70px;
        margin-right: 51px;
    }

    .review-image-tag img {
        width: 100%;
        height: 100%;
    }

    .review-mobile-contents {
        padding-left: 21px;
    }

    .review-heading {
        color: rgb(33, 33, 33);
        font-size: 18px;
        font-weight: 500;
        line-height: 25.2px;
        margin-bottom: 2px;
        font-family: 'font1';
    }

    .star-rating-review {
        display: flex;
        margin-bottom: 8px;
    }

    .rating-star-review {
        background-color: rgb(56, 142, 60);
        color: rgb(255, 255, 255);
        padding-bottom: 2px;
        padding-top: 2px;
        padding-left: 6px;
        padding-right: 4px;
        display: flex;
        height: 19px;
        font-size: 12px;
        border-radius: 3px;
        font-weight: 500;
    }

    .rating-star-image {
        width: 10px;
        height: 10px;
    }

    .ratings-review {
        color: #878787;
        font-weight: 500;
        padding-left: 8px;
        line-height: 1.5;
        white-space: nowrap;
    }

    .ratings-review span {
        font-size: 14px;
        font-weight: 600;
        font-family: 'font2';
    }

    .off-rating-review {
        display: flex;
        margin-bottom: 5px;
    }

    .off-rating-review p {
        color: rgb(33, 33, 33);
        font-size: 14px;
        font-weight: 500;
        line-height: 19.6px;
        font-family: 'font1';
    }

    .rating-review-tag {
        color: rgb(135, 135, 135);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.2px;
        line-height: 19.6px;
        font-family: 'font';
        margin-left: 12px;
    }

    .ul-review-items p {
        color: rgb(33, 33, 33);
        font-size: 14px;
        line-height: 19.6px;
        padding-bottom: 8px;
        font-family: 'font2';
    }

    .comment-heading {
        color: #878787;
        font-size: 14px;
        padding-left: 24px;
        line-height: 19.6px;
        font-family: 'font2';
    }

    .rating-comment {
        display: flex;
        justify-content: center;
        background-color: rgb(56, 142, 60);
        color: rgb(255, 255, 255);
        border-radius: 3px;
        width: 29px;
        font-size: 12px;
        font-weight: 500;
        margin-top: 3px;
    }

    .column-comment-section p {
        color: #212121;
        padding-left: 12px;
        padding-top: 3px;
        font-size: 14px;
        font-weight: 500;
        font-family: 'font1';
    }

    .column-comment-section {
        display: flex;
        padding-left: 24px;
        padding-right: 24px;
    }

    .row-section-comment {
        font-size: 14px;
        line-height: 19.6px;
        font-family: 'font2';
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .row-banner-comment {
        display: flex;
        padding-left: 24px;
        padding-right: 24px;
    }

    .row-banner-comment p {
        color: rgb(135, 135, 135);
        font-size: 12px;
        font-weight: 500;
        line-height: 16.8px;
        margin-right: 8px;
        font-family: 'font2';
        white-space: nowrap;
    }

    .recent-review-heading {
        color: rgb(135, 135, 135);
        font-size: 14px;
        padding-left: 24px;
        line-height: 19.6px;
        font-family: 'font2';
    }

    .column-review-contents {
        padding-left: 24px;
        padding-right: 24px;
    }

    .row-content {
        display: flex;
    }

    .rating-review-recent {
        background-color: rgb(56, 142, 60);
        color: rgb(255, 255, 255);
        border-radius: 3px;
        font-weight: 500;
        font-size: 12px;
        margin-top: 3px;
        display: flex;
        width: 29px;
        justify-content: center;
        align-items: center;
    }

    .row-content p {
        color: #212121;
        font-size: 14px;
        font-weight: 500;
        padding-left: 12px;
        padding-top: 3px;
        line-height: 19.6px;
        font-family: 'font1';
    }

    .row-review-banner {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .row-review-banner p {
        font-size: 14px;
        line-height: 19.6px;
        font-family: 'font2';
    }

    .row-review-banner span {
        color: rgb(40, 116, 240);
        font-size: 14px;
        font-weight: 500;
        font-family: 'font1';
        line-height: 19.6px;
    }

    .review-details {
        display: flex;
    }

    .review-details p {
        color: rgb(135, 135, 135);
        font-size: 12px;
        font-weight: 500;
        line-height: 16.8px;
        margin-right: 8px;
        font-family: 'font2';
        white-space: nowrap;
    }

    .main-footer-container {
        border-top: 1px solid #ddd;
    }

    .footer-container {
        background-color: #fff;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px;
    }

    .footer-row-content-container {
        display: flex;
        flex-direction: row-reverse;
    }

    .footer-section-column {
        color: rgb(135, 135, 135);
        margin-bottom: 30px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        flex-basis: 347px;
        flex-shrink: 0;
        height: 461px;
    }

    .footer-column-mobile-heading {
        font-size: 14px;
        box-sizing: border-box;
        font-weight: 700;
        line-height: 16px;
        margin-bottom: 10px;
        font-family: 'font1';
    }

    .mobile-header-footer {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        color: rgb(135, 135, 135);
        font-size: 11px;
        font-weight: 500;
        font-family: 'font1';
        line-height: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .footer-nav {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e0e0e0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mobile-content-footer a {
        color: rgb(40, 116, 240);
        font-size: 11px;
        line-height: 16px;
        font-family: 'font';
    }

    .price-detail-content a {
        color: rgb(135, 135, 135);
        font-size: 11px;
        line-height: 16px;
        font-family: 'font1';
    }

    .updated-message {
        box-sizing: border-box;
        margin-top: 12px;
        font-size: 12px;
        font-style: italic;
        line-height: 16px;
        font-family: 'font';
    }

    .footer-link-items {
        color: #2874f0;
        font-size: 11px;
        line-height: 16px;
        font-family: 'font';
    }

    .body-footer-container h2 {
        color: rgb(135, 135, 135);
        font-size: 14px;
        font-weight: 700;
        font-family: 'font1';
        margin-bottom: 10px;
    }

    .mi-mobile-footer-content {
        color: rgb(135, 135, 135);
        font-size: 11px;
        line-height: 16px;
        font-family: 'font2';
    }

    .mi-mobile-footer-content a {
        color: rgb(40, 116, 240);
    }

    .heading-footer {
        color: rgb(40, 116, 240);
        font-size: 13px;
        line-height: 16px;
        font-family: 'font';
    }

    .heading-footer span {
        color: rgb(135, 135, 135);
    }

    table,
    th,
    td {
        border: 1px solid #878787;
        border-collapse: collapse;
        color: rgb(135, 135, 135);
        display: table-cell;
        font-size: 11px;
        font-weight: 700;
        font-family: 'font';
        line-height: 16px;
        text-align: left;
    }

    .table-data-content {
        width: 606px;
        padding-left: 5px;
    }

    .table-data-price {
        width: 167px;
        padding-left: 4px;
    }

    td a {
        color: rgb(40, 116, 240);
        font-size: 11px;
        line-height: 16px;
        font-family: 'font3';
        padding-right: 100px;
    }

    .row-content-footer-container {
        padding-bottom: 7px;
        padding-top: 25px;
    }

    .problem-solution-heading {
        padding-bottom: 10px;
        padding-left: 24px;
        padding-top: 10px;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        border-bottom: 1px solid #e0e0e0;
        font-family: 'font2';
        text-align: left;
    }

    .solution-type-container {
        border-bottom: 1px solid #e0e0e0;
        box-sizing: border-box;
        font-size: 12px;
        line-height: 16px;
        font-family: 'font';
        padding: 10px 0px;
        padding-bottom: 13px;

    }

    .question-type {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        font-family: 'font2';
    }

    .answer-type {
        font-size: 12px;
        font-family: 'font2';
        line-height: 16px;
    }

    .final-footer-section {
        background-color: #172337;
    }

    .footer-section-contents {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        padding-top: 40px;
        margin-left: 65px;
        gap: 9px;
    }

    .about-tag {
        color: rgb(135, 135, 135);
        font-size: 12px;
        font-weight: 400;
        line-height: 16.8px;
        margin-bottom: 9px;
        font-family: 'font2';
    }

    .about-content-tag {
        display: flex;
        flex-direction: column;
    }

    .about-contents {
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        font-family: 'font2';
    }

    .mail-register-container {
        display: flex;
    }

    .mail-footer-contents {
        border-left: 1px solid rgb(69, 77, 94);
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        flex-direction: column;
    }

    .mail-footer-container {
        padding-left: 60px;
    }

    .mail-header {
        color: rgb(135, 135, 135);
        font-size: 12px;
        font-weight: 400;
        line-height: 16.8px;
        margin-bottom: 9px;
        font-family: 'font2';
    }

    .mail-contents {
        color: rgb(255, 255, 255);
        font-size: 12px;
        line-height: 18px;
        font-family: 'font2';
    }

    .register-footer-contents {
        box-sizing: border-box;
        margin-bottom: 10px;
        padding-left: 14px;
    }

    .register-header {
        color: rgb(135, 135, 135);
        font-size: 12px;
        font-weight: 400;
        line-height: 16.8px;
        font-family: 'font2';
        margin-bottom: 9px;
    }

    .register-contents {
        color: rgb(255, 255, 255);
        font-size: 12px;
        line-height: 18px;
        font-family: 'font2';
    }

    .register-contents a {
        color: rgb(40, 116, 240);
    }

    .final-footer-section-content {
        border-top: 1px solid rgb(69, 77, 94);
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 3px;
        padding-right: 4px;
    }

    .seller-container {
        display: flex;
    }

    .seller-content {
        color: rgb(255, 255, 255);
        font-size: 14px;
        line-height: 19.6px;
        margin-left: 8px;
        font-family: 'font2';
    }

    .logo-icon-signal {
        color: rgb(255, 255, 255);
        font-size: 14px;
        line-height: 19.6px;
        font-family: 'font';
    }
    .seller-cart-container{
        display: flex;
        flex-direction: row;
    }


}

@media screen and (min-width:1440px) {


    .main-desktop-body-container {
        max-width: 1600px;
        margin: 0 auto;
    }

    .main-body-container-desktop {
        background-color: #f1f3f6;
    }

    .main-review-container {
        max-width: 1600px;
        margin: 0 auto;
    }

    .tablet-header-tag {
        padding-left: 57px;
    }

    .home-tag{
        margin-right: -1px;
    }

    .brand-label{
        padding-top: 17px;
    }

    .assured-section{
        padding-top: 15px;
    }

    .search-bar-tag {
        width: 540px;
        display: flex;
        justify-content: space-between;
    }

    .tablet-header-tag {
        display: flex;
        justify-content: center;
        padding-right: 0px;
    }

    .feature-types {
        padding-left: 21px;
    }

    .hero-header-tag {
        display: flex;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        max-width: 1248px;
        padding-right: 27px;
    }

    .main-mobile-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;
    }

    .background-color-tag{
        padding-top: 6px;
    }

    .product-contents {
        padding-top: 0px;
    }

    .review-contents {
        width: 100%;
    }

    .chevron-gap {
        color: #878787;
        padding-top: 17px;
        padding-left: 2px;
        transform: rotate(270deg);
    }

    .home-bar {
        transform: rotate(180deg);
    }

    .list-items-ram {
        padding-top: 15px;
    }

    .footer-section-contents {
        display: flex;
        justify-content: space-evenly;
        margin-left: 0px;
    }

    .mail-footer-container {
        padding-left: 0px;
    }

    .mail-header{
        margin-bottom: 7px;
        margin-top: 2px;
    }

    .final-footer-section-content {
        padding-left: 11px;
        padding-right: 23px;
    }



}

@media screen and (min-width:1600px) {

    .tablet-header-tag {
        display: flex;
        gap: 6px;
        padding-left: 80px;
    }

    .seller-content-tag{
        margin-left: 6px;
        margin-right: 13px;
    }

    .seller-cart-container{
        padding-left: 20px;
        gap: 12px;
    }

    .more-tag{
        margin-right: 15px;
        margin-left: 15px;
    }

    .search-bar-icon{
        padding-left: 8px;
        padding-right: 14px;
    }

    .login-bar-tag a{
        padding-top: 7px;
    }

    .search-bar-tag {
        margin-left: -13px;
        width: 564px;
    }

    .cart-content-tag span {
        padding-top: 1px;
    }

    .assure-main-container {
        padding-left: 92px;
    }

    .real-content {
        gap: 8px;
    }

    .offer-container {
        padding-left: 3px;
        padding-top: 3px;
    }

    .assure-image-container {
        margin-top: 1px;
        margin-left: -3px;
    }

    .wishlist-icon {
        padding-top: 2px;
    }

    .nav-mobile-items {
        padding-top: 3px;
    }

    .nav-list-contents {
        margin-top: 12px;
    }

    .product-nav-bar {
        margin-top: -1px;
    }

    .list-items-ram{
        gap: 18px;
    }

    .main-body-container-desktop {
        margin: 0 auto;
        min-width: 978px;
        width: 100%;
    }

    .main-desktop-body-container {
        margin-left: 78px;
        max-width: 1679px;

    }

    .internal-section {
        padding-top: 21px;
    }

    .chevron-up-internal {
        padding-right: 6px;
        padding-left: 5px;
    }

    .smart-header {
        padding-top: 1px;
    }

    .filter-section {
        padding-top: 21px;
        font-size: 17px;
    }

    .price-section {
        padding-top: 14px;
    }

    .text-accessory {
        padding-top: 4px;
    }

    .category-section {
        padding-top: 15px;
    }

    .brand-section {
        padding-top: 17px;
    }

    .chevron-left {
        padding-top: 0px;
    }

    .mobile-header-contents {
        padding-top: 12px;
    }

    .mobile-details {
        padding-top: 10px;
    }

    .feature-types {
        gap: 0px;
    }

    .footer-section-contents {
        margin-left: -49px;
    }

    .review-body-contents {
        gap: 101px;
    }

    .ul-review-items p {
        padding-bottom: 6px;
        width: 20vw;
    }

    .row-section-comment {
        width: 22vw;
    }

    .table-data-content {
        min-width: 684px;
    }

    .table-data-price {
        width: 189px;
    }

    .main-review-container {
        max-width: 1679px;
    }

    .login-bar-tag {
        margin-left: 40px;
        margin-right: 8px;
    }

    .cart-content-tag {
        padding-right: 14px;
    }

    .flipkart-memo {
        padding-right: 19px;
    }

    .solution-type-container {
        padding-bottom: 11px;
    }



}