* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: font;
    src: url('https://typography.doordash.com/TTNorms-Bold.woff2');
}

@font-face {
    font-family: font1;
    src: url('https://typography.doordash.com/TTNorms-Medium.woff2');
}

@font-face {
    font-family: font2;
    src: url('https://typography.doordash.com/TTNorms-Regular.woff2');
}

.emblem-tag {
    display: none;
}

.location-bar {
    display: none;
}

.emblem-tag-container {
    display: none;
}

.doordash-text {
    display: none;
}

.arrow-icon-side {
    display: none;
}

.image-dash-bar-desktop-image {
    display: none;
}

.unlock-content-desktop-image {
    display: none;
}

.doorstep-tag-desktop-image {
    display: none;
}

.delivery-pass-desktop-image {
    display: none;
}

.cravings-contents-desktop-image {
    display: none;
}

.privacy-contents-desktop {
    display: none;
}

.personal-contents-desktop {
    display: none;
}

.personal-privacy-contents {
    display: none;
}
.doordash-code{
    display: none;
}
.package-one-content-desktop-image{
    display: none;
}
.package-one-content-image{
    display: flex;
}

.fixed-control-tag {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    padding: 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.inline-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: -3px;
}

.inline-controls {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 12px;
}

.button-control {
    background-color: rgb(235, 23, 0);
    border-radius: 24px;
    color: rgb(255, 255, 255);
    width: 72px;
    height: 32px;
    text-align: center;
}

.button-control span {
    font-size: 16px;
    font-weight: 700;
    font-family: 'font';
    line-height: 22px;
    letter-spacing: -0.04ch;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.text-control span {
    font-size: 16px;
    font-weight: 700;
    font-family: 'font';
    line-height: 22px;
    letter-spacing: -0.04ch;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.background-image {
    height: 550px;
    width: 375px;
    background-image: url('https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_oh_canada/hero_landing_us_mobile.png');
    display: flex;
    background-size: cover;
    background-position: center;
    position: relative;
}

header {
    position: absolute;
    top: 16px;
    /* right: 24px; */
}

.sign-tags {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding-right: 0px;
}

.sign-in-tag {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    background-color: rgb(235, 23, 0);
    border-radius: 22px;
    width: 72px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-tag span {
    font-size: 16px;
    font-family: 'font';
    line-height: 22px;
    letter-spacing: -0.454401px;
    padding-left: 1px;
}

.sign-up-tag {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: rgb(73, 73, 73);
    border-radius: 22px;
    width: 79px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-tag span {
    font-size: 16px;
    font-family: 'font';
    line-height: 22px;
    letter-spacing: -0.454401px;
    padding-left: 2px;
}

.header-text-container {
    padding-top: 111px;
}

.emblem-container {
    display: flex;
    /* position: absolute; */
    align-items: center;
    height: 100%;
    justify-content: center;
    padding-left: 25px;
    /* top: 143px;
    right: 158px; */
}

.header-heading {
    letter-spacing: 0px;
    font-size: 22px;
    line-height: 28px;
    font-family: 'font';
    color: rgb(255, 255, 255);
    max-width: 350px;
    text-align: center;
    padding-top: 20px;
    padding-left: 25px;
    /* position: absolute;
    right: 83px;
    top: 195px;
    width: 207px; */
}

.search-button {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 32px;
    padding-top: 13px;
    padding-bottom: 5px;
    padding-right: 4px;
    border: none;
    margin-top: 29px;
    width: 93%;
    justify-content: space-between;
    margin-left: 26px;
    height: 48px;
    width: 324px;
}

.search-bar {
    padding-left: 14px;
    max-width: 100%;
}

.enter-text {
    padding-right: 63px;
    padding-top: 1px;
    font-size: 16px;
    /* color: rgb(25, 25, 25); */
    color: rgb(133, 133, 133);
    font-weight: 500;
    font-family: 'font';
}

.arrow-bar {
    padding-right: 8px;
}

.contact-address {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    border-radius: 32px;
    padding-top: 8px;
    padding-bottom: 2px;
    margin-top: 16px;
    width: 58%;
    margin-left: 80px;
}

.contact-icon {
    padding-left: 12px;
}

.contact-text {
    color: rgb(73, 73, 73);
    font-size: 14px;
    font-weight: 700;
    font-family: 'font';
    padding-left: 4px;
}

.app-container {
    display: flex;
    background-color: rgb(247, 247, 247);
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 16px;
    width: 100%;
    max-width: 100%;
    height: 148px;
    width: 335px;
    margin-left: 20px;
    margin-block: 19px;
}

.emblem-app-icon {
    background-color: white;
    width: 60px;
    height: 60px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 16px;
    padding: 8px;
}

.google-play-services {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 8px;
    padding-bottom: 6px;
}

.google-play-services img {
    width: 75px;
    height: 13px;
    margin-top: 1px;
}

.google-play-services span {
    color: rgb(25, 25, 25);
    font-size: 18px;
    font-weight: 700;
    font-family: 'font';
    letter-spacing: -0.04ch;
    padding-top: 4px;
    /* margin-bottom: 19px; */
}

.google-play-services p {
    color: rgb(118, 118, 118);
    font-size: 14px;
    font-weight: 600;
    font-family: 'font2';
    /* margin-bottom: 3px; */
    padding-top: 8px;
}

.app-button {
    background-color: rgb(235, 23, 0);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 24px;
    width: 124px;
    height: 32px;
    display: flex;
    justify-content: center;
    gap: 7px;
    /* padding-top: 7px; */
    align-items: center;
    margin-top: 9px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.app-button span {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    font-family: 'font1';
    white-space: nowrap;
    padding-left: 10px;
}

.app-button img {
    padding-right: 19px;
}

.body-contents {
    margin-top: 40px;
    margin-bottom: 40px;
}

.dasher-component {
    display: flex;
    padding-block: 23px;
    padding-inline: 24px;
}

.dasher-component img {
    width: 88px;
    height: 88px;
}

.dasher-contents h2 {
    color: rgb(25, 25, 25);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.908802px;
    line-height: 40px;
    font-family: 'font';
    width: 88%;
    padding-left: 31px;

}

.dasher-earnings {
    padding-top: 10px;
    padding-left: 22px;
}

.dasher-earnings img {
    height: 16px;
    width: 16px;
    padding-top: 5px;
}

.dasher-contents h3 {
    color: rgb(25, 25, 25);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0ch;
    font-family: 'font1';
    padding-left: 31px;
}

.dasher-earnings span {
    color: rgb(235, 23, 0);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.04ch;
    font-family: 'font';
    padding-left: 6px;
}

/* .cravings-pass{
   
} */
.cravings-contents img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* .main-cravings-content{
    background-color: rgb(254, 241, 238);
}
.cravings-contents {

} */
.main-cravings-delivery {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
    box-sizing: border-box;
    /* margin-bottom: -300px; */

}

.background-path {
    background-color: rgb(254, 241, 238);
    position: absolute;
    top: 18%;
    height: 82%;
    z-index: -1;
    width: 100%;
}

.cravings-contents h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01ch;
    color: rgb(25, 25, 25);
    font-family: 'font';
    text-align: left;
    margin-top: 20px;
}

.cravings-contents span {
    font-size: 18px;
    text-align: left;
    font-weight: 700;
    color: rgb(25, 25, 25);
    line-height: 22px;
    letter-spacing: 0ch;
    font-family: 'font';
    margin-top: 10px;
}

.cravings-contents p {
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    letter-spacing: 0ch;
    margin-top: 10px;
    font-family: 'font1';
}

.craving-button {
    background-color: rgb(235, 23, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 24px;
    width: 130px;
    height: 32px;
}

.craving-button p {
    font-size: 14px;
    font-family: 'font';
    padding-top: 5px;
    padding-left: 11px;
    margin-top: 20px;
}

/* .cravings-contents{
    background-color: rgb(254, 241, 238);
} */
.delivery-pass img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-top: 40px;
}

.delivery-contents h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01ch;
    color: rgb(25, 25, 25);
    font-family: 'font';
    text-align: left;
    margin-top: 20px;
    width: 70vw;
}

.delivery-contents span {
    font-size: 16px;
    text-align: left;
    font-weight: 700;
    color: rgb(25, 25, 25);
    line-height: 22px;
    letter-spacing: 0ch;
    font-family: 'font2';
    margin-top: 10px;
}

.delivery-button {
    background-color: rgb(235, 23, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 24px;
    width: 114px;
    height: 32px;
}

.delivery-button p {
    font-size: 14px;
    font-family: 'font';
    padding-top: 6px;
    padding-left: 4px;
    margin-top: 35px;
}

.store-tag {
    position: relative;
}

.image-filter img {
    /* background-image: url('https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/grocery_desktop.png') ; */
    /* position: relative; */
    height: 350px;
    width: 375px;
    background-color: rgba(30, 30, 30, 0.6);
    filter: brightness(51%);
    object-fit: cover;
}

.store-contents {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 21px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.store-contents h2 {
    text-align: center;
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
    font-size: 24px;
    font-weight: 700;
    font-family: 'font';
    line-height: 32px;
    letter-spacing: -0.01ch;
    margin-top: -23px;
}

.store-contents span {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0ch;
    font-family: 'font';
    margin-top: 20px;
}

.store-contents p {
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: 'font2';
    line-height: 20px;
    letter-spacing: 0ch;
    width: 89vw;
}

.store-button {
    background-color: rgb(235, 23, 0);
    color: rgb(255, 255, 255);
    border-radius: 24px;
    text-align: center;
    width: 124px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
}

.doorstep-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.doorstep-tag img {
    box-sizing: border-box;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.doorstep-tag h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01ch;
    color: rgb(25, 25, 25);
    font-family: 'font';
    margin-top: 20px;
}

.doorstep-tag p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0ch;
    font-family: 'font1';
    margin-top: 10px;
}

.shop-now {
    background-color: rgb(235, 23, 0);
    color: rgb(255, 255, 255);
    border-radius: 24px;
    width: 90px;
    height: 32px;
    margin-right: auto;
    margin-top: 31px;
}

.shop-now p {
    padding-left: 9px;
    padding-top: 6px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'font';
}

.package-tag {
    display: flex;
    justify-content: center;
    background-color: rgb(254, 241, 238);
    padding: 40px 20px 20px;
    width: 100%;
}

.package-tag p {
    color: rgb(25, 25, 25);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.170399px;
    text-align: center;
    font-family: 'font';
    width: 72vw;
}

.package-home-tag {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow-x: scroll;
    background-color: rgb(254, 241, 238);
}

.package-one-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    /* justify-content: center; */
}

.package-one-content img {
    width: 297px;
    height: 180px;
    object-fit: cover;
}
.package-one-content-desktop-image{
    display: flex;
}
.package-one-content-image{
    display: none;
}
.package-home-contents h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01ch;
    color: rgb(25, 25, 25);
    font-family: 'font';
    /* width:65vw; */
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 91%;
    margin-inline: auto;
}

.package-home-contents p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0ch;
    margin-top: 10px;
    text-align: center;
    width: 79vw;
    font-family: 'font1';
}

.package-home-button {
    background-color: rgb(235, 23, 0);
    /* text-align: center; */
    border-radius: 24px;
    color: rgb(255, 255, 255);
    width: 150px;
    height: 32px;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.package-home-button p {
    font-size: 14px;
    margin-top: 4px;
    font-family: 'font';
}

.extra-quote {
    font-size: 12px;
    font-family: 'font1';
    font-weight: 500;
    color: rgb(25, 25, 25);
}

.unlock-tag {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 40px 20px 20px;
    width: 100%;
}

.unlock-tag p {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01ch;
    font-family: 'font';
    text-align: center;
}

.unlock-content img {
    width: 335px;
    height: 180px;
}

.unlock-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.unlock-dash-content h2 {
    font-size: 24px;
    text-align: left;
    line-height: 32px;
    letter-spacing: -0.01ch;
    font-weight: 700;
    margin-top: 20px;
    font-family: 'font';
    width: 69vw;
}

.unlock-dash-content p {
    font-size: 14px;
    text-align: left;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0ch;
    margin-top: 22px;
    font-family: 'font2';
    width: 88vw;
}

.unlock-button {
    background-color: rgb(235, 23, 0);
    color: rgb(255, 255, 255);
    border-radius: 24px;
    /* display: flex; */
    width: 136px;
    height: 32px;
}

.unlock-button p {
    font-size: 14px;
    font-family: 'font';
    padding-left: 10px;
    padding-top: 6px;
}

.bussiness-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 7px;
    /* background-color: rgb(254, 241, 238); */
}

.image-dash-bar img {
    width: 335px;
    height: 180px;
    object-fit: cover;
}

.bussiness-dash-content h2 {
    font-size: 24px;
    text-align: left;
    line-height: 32px;
    letter-spacing: -0.01ch;
    font-weight: 700;
    margin-top: 20px;
    font-family: 'font';
    width: 72vw;
}

.bussiness-dash-content p {
    font-size: 14px;
    text-align: left;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0ch;
    margin-top: 21px;
    font-family: 'font2';
    width: 88vw;
}

.bussiness-button {
    background-color: rgb(235, 23, 0);
    color: rgb(255, 255, 255);
    border-radius: 24px;
    /* display: flex; */
    width: 136px;
    height: 32px;
}

.bussiness-button p {
    font-size: 14px;
    font-family: 'font';
    padding-left: 10px;
    padding-top: 6px;
}

/* .main-dash-container{
    background-color:rgb(254, 241, 238) ;
} */
.main-dash-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
    box-sizing: border-box;
}

.image-dash-container {
    background-color: rgb(254, 241, 238);
    position: absolute;
    top: 20%;
    height: 80%;
    z-index: -1;
    width: 100%;
}

.footer {
    padding: 0px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
}

.footer-starting-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    padding-left: 16px;
}

.top-city-tag {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    box-sizing: border-box;
    padding-left: 16px;
}

.top-city-tag h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0ch;
    color: rgb(255, 255, 255);
    font-family: 'font1';
    margin-bottom: 8px;
}

.top-city-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.most-recent-contents {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 9px;
    padding-top: 5px;
}

.most-recent-contents span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0ch;
    color: rgb(196, 196, 196);
    font-family: 'font1';
}

.top-cuisines-tag {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    box-sizing: border-box;
}

.top-cuisines-tag h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0ch;
    color: rgb(255, 255, 255);
    font-family: 'font1';
    margin-bottom: 8px;
    width: 42vw;
}

.top-cuisines-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}
.most-cuisines-contents {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 7px;
    padding-top: 4px;
}

.most-cuisines-contents span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0ch;
    color: rgb(196, 196, 196);
    font-family: 'font1';
}

.top-popular-tag {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.top-popular-tag h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0ch;
    color: rgb(255, 255, 255);
    font-family: 'font1';
    margin-bottom: 8px;
    /* width: 42vw; */
}

.top-popular-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.most-popular-contents {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 7px;
}

.most-popular-contents span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0ch;
    color: rgb(196, 196, 196);
    font-family: 'font1';
}

.logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    gap: 9px;
}

.app-store-logo img {
    color: rgb(196, 196, 196);
    background-color: rgb(73, 73, 73);
    border-radius: 8px;
    padding: 2px 8px;
    color: rgb(0, 0, 0);
}

.figuring-tag {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 23px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.figuring-tag h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0ch;
    color: rgb(255, 255, 255);
    font-family: 'font1';
    margin-bottom: 8px;
}

.known-contents {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 7px;
    padding-top: 7px;
}

.known-contents span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0ch;
    color: rgb(196, 196, 196);
    font-family: 'font1';
}

.promoting-tag {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 27px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.promoting-tag h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0ch;
    color: rgb(255, 255, 255);
    font-family: 'font1';
    margin-bottom: 8px;
}

.promote-contents {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 7px;
    padding-top: 8px;
}

.promote-contents span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0ch;
    color: rgb(196, 196, 196);
    font-family: 'font1';
}

.working-tag {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 36px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.working-tag h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0ch;
    color: rgb(255, 255, 255);
    font-family: 'font1';
    margin-bottom: 11px;
}

.work-contents {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    padding-top: 1px;
}

.work-contents span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0ch;
    color: rgb(196, 196, 196);
    font-family: 'font1';
}

.media-emblems {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding-bottom: 4px;
}

.input-container {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.input-logo-contents {
    background-color: rgb(247, 247, 247);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: 'font';
    letter-spacing: 0ch;
    width: 150px;
    height: 32px;
    border-radius: 16px;
    border: none;
    color: rgb(25, 25, 25);
    padding-left: 11px;
    display: flex;
    align-items: center;
}

.logo-emblem-footer img {
    /* padding-left: 9px; */
}

.field {
    border: none;
    padding-left: 4px;
    font-family: 'font1';
}

.final-contents {
    padding-bottom: 32px;
}

.inline-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 11px;
}

.inline-child-container {
    display: flex;
    gap: 11px;
    height: 18px;
}

.inline-child-contents {
    display: flex;
    justify-content: center;
    gap: 19px;
}

.inline-child-contents span {
    color: rgb(196, 196, 196);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0ch;
    font-family: 'font2';
}

.privacy-child-contents {
    display: flex;
    flex-direction: column;
}

.privacy-contents span {
    color: rgb(196, 196, 196);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0ch;
    font-family: 'font2';
    display: flex;
    justify-content: center;
    padding-left: 15px;
}

.personal-contents span {
    color: rgb(196, 196, 196);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0ch;
    font-family: 'font2';
    padding-left: 14px;
}

.child-contents span {
    color: rgb(196, 196, 196);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0ch;
    font-family: 'font2';
    padding-left: 14px;
}

















@media screen and (min-width: 768px) {

    .fixed-control-tag {
        /* padding: 16px 48px; */
        padding: 16px 13px;
    }

    .button-control {
        width: 78px;
        height: 40px;
    }

    .button-control span {
        font-size: 18px;
    }

    .text-control span {
        font-size: 18px;
    }

    .background-image {
        width: 100%;
        height: 650px;
    }

    .emblem-container {
        display: none;
    }

    .emblem-tag-container {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .doordash-text {
        display: none;
    }

    .hero-banner-container {
        display: none;
    }

    .cravings-contents-image {
        display: none;
    }

    .delivery-pass-image {
        display: none;
    }

    .doorstep-tag-image {
        display: none;
    }

    .unlock-content-image {
        display: none;
    }

    .image-dash-bar-image {
        display: none;
    }

    .privacy-child-contents {
        display: none;
    }
    .package-one-content-image{
        display: none;
    }
    .package-one-content-desktop-image{
        display: flex;
    }

    header {
        /* display: flex;
        row-gap: 8px;
        justify-content: flex-end; */
        padding-right: 24px;
        /* top: 16px; */
        /* right: -25px; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .header-main-container {
        display: flex;
        width: 100%;
        width: 100%;
        justify-content: flex-end;
    }

    .emblem-tag {
        display: flex;
        /* align-self: center;
        margin-right: 161px; */
        justify-content: center;
        align-items: center;
        width: 50.5%;
        /* margin-left: -63px; */
    }

    .sign-in-tag {
        width: 78px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sign-in-tag span {
        font-size: 18px;
        padding-left: 0px;
    }

    .sign-tags {
        /* margin-left: 160px; */
    }

    .sign-up-tag {
        width: 86px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sign-up-tag span {
        font-size: 18px;
        padding-left: 0px;
    }

    /* .header-text-container { */
    /* padding-top: 0px; */


    /* .emblem-tag{
        display: flex;
    } */
    .header-heading {
        padding-top: 4px;
        padding-left: 93px;
    }

    .search-button {
        width: 53vw;
        padding-top: 16px;
        padding-top: 16px;
        padding-bottom: 10px;
        padding-bottom: 10px;
        margin-left: 12px;
    }

    .location-bar {
        display: flex;
        padding-left: 20px;
        padding-bottom: 5px;

    }

    .enter-text {
        padding-right: 136px;
    }

    .arrow-bar {
        padding-right: 12px;
    }

    .contact-address {
        width: 27vw;
        margin-left: 114px;
    }

    .body-contents {
        margin: 32px 0px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dasher-component {
        padding: 16px;
        display: flex;
        /* width: 100%;
        min-width: 360px; */
    }

    .dasher-component img {
        width: 124px;
        height: 124px;
        margin-right: 64px;
    }

    .dasher-contents {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 250px;
    }

    .dasher-contents h2 {
        width: 32vw;
        padding-left: 0px;
    }

    .dasher-contents h3 {
        width: 251px;
        padding-left: 0px;
    }

    .dasher-earnings {
        padding-left: 0px;
        padding-top: 11px;
    }

    .dasher-earnings span {
        padding-left: 0px;
    }

    .dasher-earnings img {
        width: 16px;
        height: 16px;
    }

    .cravings-contents {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-bottom: 25px;
        gap: 60px;
    }

    .cravings-contents-desktop-image {
        display: flex;
    }

    .cravings-contents-desktop-image img {
        /* width: 100%; */
        height: 500px;
        object-fit: cover;
        width: 293px;
        margin-top: 1px;
    }

    .contents-of-cravings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        text-align: left;
        gap: 0px;
    }

    .cravings-contents h2 {
        font-size: 40px;
        letter-spacing: -0.568px;
        line-height: 44px;
        text-align: left;
        margin-top: 20px;
    }

    .cravings-contents span {
        font-size: 24px;
        letter-spacing: -0.01ch;
        line-height: 32px;
        margin-top: 20px;
        text-align: left;
    }

    .cravings-contents p {
        font-size: 16px;
        margin-top: 10px;
        text-align: left;
    }

    .craving-button {
        width: 146px;
        height: 40px;
        margin-top: 20px;
    }

    .craving-button p {
        padding-top: 0px;
    }

    .background-path {
        top: 43%;
        height: 55%;
    }

    .delivery-pass {
        display: flex;
        flex-direction: row;
        column-gap: 60px;
        box-sizing: border-box;
        justify-content: center;
        padding-left: 0px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .delivery-pass-desktop-image {
        display: flex;
    }

    .delivery-pass-desktop-image img {
        width: 302px;
        height: 500px;
        object-fit: cover;
        margin-top: 18px;
    }

    .delivery-contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 13px;
    }

    .delivery-contents h2 {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -0.02ch;
        width: 45vw;
    }

    .delivery-contents span {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        margin-top: 20px;
    }

    .delivery-button {
        width: 127px;
        height: 40px;
        margin-top: 20px;
    }

    .delivery-button p {
        margin-top: 6px;
        font-size: 16px;
        padding-top: 4px;
        padding-left: 2px;
    }

    .image-filter img {
        width: 768px;
        height: 600px;
        margin-top: -15px;
    }

    .store-contents {
        /* padding-left: 86px;
        padding-bottom: 43px; */
        width: 100%;
        padding-bottom: 19px;

    }

    .store-contents h2 {
        font-size: 40px;
        box-sizing: border-box;
        line-height: 44px;
        font-weight: 700;
        letter-spacing: -0.02ch;
        width: 50vw;
        /* margin-left: auto; */
    }

    .store-contents span {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.01ch;
        /* margin-left: auto; */
    }

    .store-contents p {
        /* margin-left: auto; */
        font-weight: 400;
        width: 68vw;
        line-height: 22px;
        margin-top: 10px;
        padding-bottom: 9px;
        font-size: 16px;
        font-family: 'font1';
    }



    .store-button {
        width: 138px;
        height: 40px;
    }

    .store-button p {
        margin-left: 0px;
        font-size: 16px;
        font-family: 'font';
        padding-bottom: 10px;
    }

    .doorstep-tag {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 37px;
    }

    .doorstep-tag-desktop-image {
        display: flex;
    }

    .doorstep-contents {
        text-align: left;
        box-sizing: border-box;
        padding-right: 63px;
        padding-top: 70px;
    }

    .doorstep-tag h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: -0.02ch;
        width: 32vw;
        margin-top: 4px;
    }

    .doorstep-tag p {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        margin-top: 12px;
    }
    .package-tag{
        padding: 64px 20px 20px;
    }

    .shop-now {
        width: 100px;
        height: 40px;
    }

    .shop-now p {
        padding-left: 12px;
        padding-top: 9px;
        font-size: 16px;
    }

    .doorstep-tag-desktop-image img {
        height: 500px;
        width: 350px;
        object-fit: cover;
        transform: translate(10px, 38px);
        margin-top: -23px;
        margin-right: 10px;
        /* margin-top: 18px; */
    }

    .main-body-content-container {
        position: relative;
    }

    .background-color-path {
        background-color: rgb(254, 241, 238);
        position: absolute;
        top: 47%;
        height: 42%;
        z-index: -1;
        width: 100%;
    }

    .package-tag p {
        font-size: 40px;
        line-height: 44px;
        font-weight: 700;
        letter-spacing: -0.02ch;
        width: 57vw;
    }

    .package-home-tag {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .package-one-content {
        display: flex;
        flex-direction: column;
        width: 50%;
        box-sizing: border-box;
        padding: 40px;
    }

    .package-one-content img {
        width: 344px;
        height: 344px;
        object-fit: cover;
        object-position: center center;
    }

    .package-home-contents h2 {
        line-height: 44px;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: -0.02ch;
        text-align: center;
    }

    .package-home-contents p {
        line-height: 22px;
        font-size: 16px;
        font-weight: 500;
        width: 44vw;
    }

    .extra-quote {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 14px;
    }

    .unlock-tag {
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        padding: 60px 20px 40px;
    }

    .unlock-tag p {
        line-height: 44px;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: -0.02ch;
        text-align: center;
        width: 64vw;
    }

    .unlock-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }
    .unlock-content-desktop-image{
        display: flex;
    }

    .unlock-content-desktop-image img {
        width: 310px;
        height: 500px;
        margin-right: -20px;
        margin-top: -40px;
        object-fit: cover;
    }

    .unlock-dash-content {
        /* margin-inline: auto; */
        margin-left: -19px;
        margin-bottom: 52px;
    }

    .unlock-dash-content h2 {
        font-size: 40px;
        line-height: 44px;
        font-weight: 700;
        letter-spacing: -0.0ch;
        width: 45vw;
    }

    .unlock-dash-content p {
        width: 43vw;
        letter-spacing: -0.0ch;
        margin-top: 25px;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        font-family: 'font1';
    }

    .unlock-button {
        width: 152px;
        height: 40px;
    }

    .unlock-button p {
        padding-left: 11px;
        padding-top: 9px;
    }

    .image-dash-container {
        top: 43%;
        height: 56%;
    }

    .bussiness-container {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }
    .image-dash-bar-desktop-image{
        display: flex;
    }

    .image-dash-bar-desktop-image img {
        height: 500px;
        width: 306px;
        object-fit: cover;
    }

    .bussiness-dash-content h2 {
        width: 32vw;
        line-height: 44px;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: -0.02ch;
    }

    .bussiness-dash-content p {
        width: 47vw;
        line-height: 22px;
        font-size: 16px;
        font-weight: 500;
        font-family: 'font1';
    }

    .bussiness-button {
        width: 156px;
        height: 40px;
    }

    .bussiness-button p {
        padding-left: 13px;
        padding-top: 8px;
        font-family: 'font';
    }

    .bussiness-dash-content {
        /* margin-top: 43px; */
    }

    .footer-starting-contents {
        display: flex;
        flex-direction: column;
    }

    .top-city-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 133px;
    }

    .top-city-tag {
        padding-left: 0px;
    }

    .top-city-tag h2 {
        text-align: left;
    }

    .most-recent-contents {
        text-align: left;
    }

    .top-cuisines-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 200px;
    }

    .top-cuisines-tag h2 {
        text-align: left;
    }

    .most-cuisines-contents {
        text-align: left;
    }

    .top-popular-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 52px;
    }

    .top-popular-tag {
        margin-left: 0px;
    }

    .top-popular-tag h2 {
        text-align: left;
        margin-top: -9px;
    }

    .most-popular-contents {
        text-align: left;
        gap: 6px;
        padding-top: 22px;
        margin-right: -17px;
    }

    .ending-container {
        display: flex;
        justify-content: space-between;
    }

    .figuring-tag {
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 32px;
    }

    .figuring-tag h2 {
        margin-bottom: 16px;
    }

    .known-contents {
        text-align: left;
        gap: 8px;
        padding-top: 0px;
    }

    .promoting-tag {
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 32px;
    }

    .promote-contents {
        text-align: left;
        gap: 8px;
        padding-top: 8px;
    }

    .working-tag {
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 32px;
    }

    .working-tag h2 {
        text-align: left;
    }

    .work-contents {
        text-align: left;
        gap: 8px;
        padding-top: 5px;
    }

    .media-input-tag {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
    }

    .inline-container {
        display: flex;
        justify-content: center;
        /* width: 54%; */
        width: auto;
        /* gap: 4px; */
        margin-top: 0px;
        margin-left: -12px;
    }

    .privacy-contents-desktop {
        color: rgb(196, 196, 196);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0ch;
        font-family: 'font2';
        display: flex;
        justify-content: center;
    }

    .personal-contents-desktop {
        color: rgb(196, 196, 196);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0ch;
        font-family: 'font2';
        display: flex;
        padding-left: 36px;
    }

    .child-contents span {
        padding-left: 16px;
    }

    .media-input-tag {
        height: 26px;
    }

    .final-contents {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .logo-emblem-footer {
        height: 18px;
        padding-right: 4px;
    }

    .input-container {
        padding-inline: 15px;
        margin-block: -18px;
    }
    .media-emblems{
        padding-bottom: 2px;
        gap: 12px;
    }
    .input-logo-contents{
        margin-inline: -3px;
    }
    .logo-footer{
        padding-top: 30px;
        gap: 5px;
    }
    .inline-image{
        margin-inline: -4px;
    }
    











}




@media screen and (min-width:1024px) {
    .fixed-control-tag{
        padding: 16px 48px; 
    }

    .background-image {
        width: 100%;
    }

    .emblem-tag {
        display: none;
    }

    .emblem-tag-container {
        display: flex;
    }

    .privacy-child-contents {
        display: none;
    }

    .privacy-contents-desktop {
        display: none;
    }

    .personal-contents-desktop {
        display: none;
    }
    .package-one-content-image{
        display: none;
    }
    .package-one-content-desktop-image{
        display: flex;
    }

    .emblem-text-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64%;
        gap: 12px;
        padding-bottom: 8px;
        padding-left: 8px;
    }

    .doordash-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-heading {
        font-size: 39px;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 496px;
        padding-top: 16px;
    }

    .search-button {
        width: 54vw;
        margin-top: 42px;
        padding-top: 15px;
    }

    .enter-text {
        padding-right: 279px;
    }

    .contact-address {
        margin-left: 185px;
        width: 20vw;
    }

    .dasher-contents h2 {
        width: 24vw;
    }

    .cravings-contents h2 {
        letter-spacing: -0.02ch;
        font-weight: 700;
        line-height: 44px;
        width: 36vw;
    }

    .cravings-contents span {
        letter-spacing: -0.01ch;
    }

    .cravings-contents p {
        line-height: 22px;
        font-weight: 500;
        width: 39vw;
    }

    .cravings-contents-desktop-image img {
        width: 524px;
        height: 500px;
        object-fit: cover;
    }

    .delivery-pass-desktop-image img {
        width: 524px;
        height: 500px;
        object-fit: cover;
        margin-top: 21px;
    }
    .delivery-contents{
        padding-top: 18px;
    }

    .delivery-contents h2 {
        width: 35vw;
    }

    .delivery-contents span {
        width: 108%;
    }

    .image-filter img {
        width: 1024px;
        height: 600px;
    }

    .store-contents h2 {
        margin-top: -30px;
    }

    .store-contents p {
        width: 51vw;
    }

    .doorstep-tag {
        padding-top: 60px;
    }

    .doorstep-contents h2 {
        margin-top: 11px;
    }

    .doorstep-tag-desktop-image img {
        height: 500px;
        width: 554px;
    }

    .package-tag {
        padding: 60px 20px 40px;
    }

    .package-tag p {
        width: 49vw;
    }

    .package-one-content img {
        width: 472px;
        height: 472px;
        object-fit: cover;
        object-position: center center;
    }

    .unlock-content-desktop-image img {
        height: 500px;
        width: 524px;
    }

    .unlock-tag p {
        width: 60vw;
    }

    .unlock-dash-content h2 {
        width: 40vw;
        letter-spacing: -0.02ch;
    }

    .unlock-dash-content p {
        width: 40vw;
        font-family: 'font1';
    }
    .unlock-button p{
        font-family: 'font';
    }

    .image-dash-bar-desktop-image img {
        height: 500px;
        width: 524px;
        object-fit: cover;
    }

    .bussiness-dash-content h2 {
        width: 35vw;
    }

    .bussiness-dash-content p {
        width: 39vw;
    }

    .bussiness-dash-content {
        /* margin-top: 54px; */
    }

    .top-city-container {
        gap: 80px;
        padding-top: 10px;
    }
    .most-recent-contents{
        gap: 9px;
    }

    .footer-starting-contents {
        display: flex;
        gap: 52px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .top-cuisines-container {
        gap: 97px;
    }

    .top-popular-tag {
        padding-top: 0px;
    }

    .top-popular-container {
        gap: 115px;
        padding-top: 10px;
    }

    .ending-container {
        display: flex;
        gap: 51px;
        justify-content: flex-start;
    }

    .logo-ending-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .logo-footer {
        gap: 7px;
        padding-top: 32px;
    }

    .media-input-tag {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .personal-privacy-contents {
        display: flex;
        color: rgb(196, 196, 196);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0ch;
        font-family: 'font2';
        display: flex;
        padding-left: 19px;
    }

    .inline-child-container {
        display: flex;
    }

    .inline-container {
        display: flex;
        justify-content: center;
        width: auto;
        margin-left: auto;
    }
    .promoting-tag{
        margin-right: -4px;
    }
    .input-container{
        margin-top: -13px;
    }
    .most-popular-contents{
        gap: 8px;
        padding-top: 0px;
    }
    .top-popular-tag h2{
        margin-bottom: 6px;
    }
    .inline-code-image{
        display: flex;
    }
    .doordash-code{
        display: flex;
        padding-left: 12px;
    }
    .background-path{
        top: 44%;
    }
    .doorstep-tag p{
        width: 36vw;
    }
    .package-home-contents p{
        width: 45vw;
        margin-top: 20px;
    }
    .package-home-button{
        height: 36px;
        margin-top: 33px;
    }
    .package-home-button p{
        margin-top: 5px;
    }
    .unlock-tag{
        padding: 58px 20px 40px;
    }
    .unlock-content{
        padding-top: 40px;
        padding-inline: 20px;
    }
    .unlock-dash-content{
        margin-bottom: 35px;
    }
    .image-dash-container{
        top: 45%;
    }
   








}




@media screen and (min-width:1440px) {

    .background-image {
        width: 1440px;
        height: 650px;
    }

    .arrow-bar {
        display: none;
    }

    .emblem-text-icon {
        width: 75%;
        padding-left: 14px;
    }

    .header-heading {
        max-width: 750px;
        padding-left: 24px;
    }

    .heading-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 458px;
    }

    .search-button {
        width: 38vw;
        height: 56px;
        margin-top: 41px;
    }

    .contact-address {
        margin-left: 11px;
        width: 14vw;
    }

    .arrow-icon-side {
        display: flex;
        background-color: rgb(235, 23, 0);
        height: 40px;
        width: 40px;
        border-radius: 100%;
        margin-right: 2px;
        padding-top: 7px;
        margin-top: -7px;
        padding-left: 5px;
        padding-bottom: 7px;
    }

    .enter-text {
        padding-top: 2px;
        padding-right: 270px;
        padding-right: 270px;
    }

    .body-contents {
        margin: 59px 0px;
        padding: 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .dasher-component {
        display: flex;
        flex-flow: column;
        min-width: 360px;
        margin: 5px 17px;
    }

    .dasher-component img {
        /* margin: 0px 64px 0px 0px; */
        margin-left: 50px;
        display: flex;
        justify-content: center;
        width: 154px;
        height: 154px;
    }

    .dasher-contents h2 {
        width: 17vw;
        text-align: center;
    }

    .dasher-contents h3 {
        text-align: center;
    }

    .dasher-earnings {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dasher-earnings img {
        width: 16px;
        height: 16px;
    }

    .dasher-earnings span {
        font-size: 18px;
    }

    .cravings-contents-desktop-image img {
        width: 695px;
        height: 500px;
        object-fit: cover;
    }

    .cravings-contents h2 {
        width: 27vw;
    }

    .cravings-contents p {
        width: 28vw;
    }

    .delivery-pass-desktop-image img {
        width: 724px;
        height: 500px;
        object-fit: cover;
    }

    .delivery-contents h2 {
        width: 25vw;
    }

    .delivery-contents span {
        width: 29vw;
    }

    .image-filter img {
        width: 1440px;
    }

    .store-contents h2 {
        width: 35vw;
    }

    .doorstep-tag {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 39px;
    }

    .doorstep-tag h2 {
        width: 27vw;
    }

    .doorstep-tag-desktop-image img {
        height: 500px;
        width: 696px;
    }

    .doorstep-contents p {
        width: 29vw;
    }

    .doorstep-contents {
        padding-left: 16px;
        padding-right: 18px;
    }

    .package-one-content img {
        width: 552px;
        height: 552px;
    }

    .package-tag p {
        width: 31vw;
    }

    .package-home-contents h2 {
        width: 86%;
        padding-left: 10px;
    }

    .package-home-contents p {
        width: 39vw;
    }

    .package-home-tag {
        padding-inline: 126px;
    }

    .unlock-tag p {
        width: 40vw;
    }

    .unlock-content-desktop-image img {
        width: 695px;
        height: 500px;
    }

    .unlock-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .unlock-dash-content h2 {
        width: 30vw;
    }

    .unlock-dash-content p {
        width: 28vw;
    }

    .image-dash-bar-desktop-image img {
        width: 724px;
        height: 500px;
        object-fit: cover;
    }

    .bussiness-dash-content h2 {
        width: 29vw;
    }

    .bussiness-dash-content p {
        width: 29vw;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        margin-inline: auto;
        max-width: 1159px;
    }

    .inline-container {
        display: flex;
        white-space: nowrap;
        width: auto;
        /* margin-inline: -1px; */
        margin-left: -11px;
    }

    .footer-starting-contents {
        display: flex;
        flex-direction: row;
        gap: 0px;
        padding-left: 0px;
        /* gap: 65px; */
    }

    .footer-container {
        width: 100%;
        background-color: black;
    }

    .ending-container {
        gap: 80px;
    }

    .final-contents {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin-right: 61px; */
        gap: 11px;
        padding-bottom: 35px;
    }

    .top-popular-container {
        gap: 148px;
    }

    .top-city-container {
        gap: 80px;
    }

    .top-cuisines-container {
        gap: 163px;
        padding-left: 96px;
    }
    .figuring-tag{
        padding-bottom: 36px;
    }
    .promoting-tag{
        margin-right: 4px;
    }
    .top-popular-tag{
        margin-right: 0px;
        padding: 32px 0px;
    }
    .input-container{
        padding-inline:46px;
        margin-bottom:-15px;
    }
    .media-emblems{
        padding-bottom: 11px;
    }
    .top-cuisines-tag{
        padding-top: 50px;
    }
    .top-cuisines-tag h2{
        padding-left: 96px;
    }


}