* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: font;
    src: url(https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
}

@font-face {
    font-family: font1;
    src: url(https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
}

@font-face {
    font-family: font2;
    src: url(https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
}

.header {
    color: rgb(34, 34, 34);
    display: flex;
}

.fixed-button {
    display: flex;
    position: fixed;
}

.fixed-button button {
    border: none;
    display: flex;
    width: 100%;
    color: white;
    white-space: nowrap;
    border-radius: 34px;
    padding-block: 5px;
    letter-spacing: -0.3px;
    font-weight: 600;
    padding-bottom: 14px;
    position: relative;
    left: 152px;
    top: 856px;
    padding-right: 20px;
    margin-left: -18px;
    margin-top: 5px;
    padding-top: 18px;
    background-color: rgb(34, 34, 34);
}

.fixed-button button p {
    color: rgb(255, 255, 255);
    border: none;
    padding-left: 15px;
}

.fixed-button button img {
    margin-top: -5px;
    margin-left: -8px;
}

.tablet-header-controls {
    display: none;
}

.tablet-header {
    display: none;
}

.tablet-lists {
    display: none;
}

.header-contents {
    display: flex;
}

button {
    background-color: white;
    display: flex;
    border: none;
    border-radius: 34px;
    margin-top: 16px;
    align-items: center;
    margin-inline: 29px;
    height: 54px;
    width: 77%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px 0px;
}

button img {
    padding-left: 16px;
    margin-top: -2px;
    margin-left: 4px;
}

.header-main {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
}

.header-heading {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding-right: 41px;
}

.header-text {
    display: flex;
    padding-left: 19px;
    padding-bottom: 4px;
    color: rgb(113, 113, 113);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    gap: 6px;
}

.header-symbol {
    display: flex;
    box-sizing: border-box;
    border: 1px solid grey;
    width: 159%;
    height: 40px;
    margin-top: 22px;
    padding-block: 6px;
    border-radius: 40px;
    margin-left: -14px;
    padding-left: 12px;
}

.header-symbol img {
    width: 61%;
}

.header-image-lists {
    display: flex;
    overflow: scroll;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-top: 8px;
    padding-left: 11px;
    gap: 14px;
    padding-bottom: 19px;
}
.header-image-lists::-webkit-scrollbar {
    display: none;
}

.image-one-farm {
    display: grid;
    padding-left: 29px;
    padding-top: 16px;
    border-bottom: 1px solid black;
}

.image-one-farm img {
    height: 24px;
}

.image-one-farm span {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    margin-left: -5px;
}

.image-two-pool {
    display: grid;
    padding-left: 29px;
    padding-top: 16px;
}

.image-two-pool img {
    height: 24px;
    margin-left: 18px;
    color: rgb(113, 113, 113);
}

.image-two-pool span {
    font-size: 14px;
    color: rgb(113, 113, 113);
    font-weight: 600;
    line-height: 16px;
    padding-top: 4px;
    margin-left: -12px;
    font-family: font2;
    white-space: nowrap;

}

.image-three-beach {
    display: grid;
    padding-left: 29px;
    padding-top: 16px;
}

.image-three-beach img {
    height: 24px;
    margin-left: 6px;
    color: rgb(113, 113, 113);
}

.image-three-beach span {
    font-size: 14px;
    color: rgb(113, 113, 113);
    font-weight: 600;
    line-height: 16px;
    padding-top: 4px;
    margin-left: -14px;
    font-family: font2;
    white-space: nowrap;
}

.image-four-luxe {
    display: grid;
    padding-left: 29px;
    padding-top: 16px;
}

.image-four-luxe img {
    height: 24px;
    margin-left: 6px;
    color: rgb(113, 113, 113);
}

.image-four-luxe span {
    font-size: 14px;
    color: rgb(113, 113, 113);
    font-weight: 600;
    line-height: 16px;
    padding-top: 4px;
    margin-left: 5px;
    font-family: font2;
    white-space: nowrap;
}

.image-five-design {
    display: grid;
    padding-left: 29px;
    padding-top: 16px;
}

.image-five-design img {
    height: 24px;
    margin-left: 25px;
    color: rgb(113, 113, 113);
}

.image-five-design span {
    font-size: 14px;
    color: rgb(113, 113, 113);
    font-weight: 600;
    line-height: 16px;
    padding-top: 4px;
    margin-left: 18px;
    font-family: font2;
    white-space: nowrap;
}

.image-six-view {
    display: grid;
    padding-left: 29px;
    padding-top: 16px;
}

.image-six-view img {
    height: 24px;
    margin-left: 6px;
    color: rgb(113, 113, 113);
}

.image-six-view span {
    font-size: 14px;
    color: rgb(113, 113, 113);
    font-weight: 600;
    line-height: 16px;
    padding-top: 4px;
    margin-left: 5px;
    font-family: font2;
    white-space: nowrap;
}

.image-seven-lake {
    display: grid;
    padding-left: 29px;
    padding-top: 16px;
}

.image-seven-lake img {
    height: 24px;
    margin-left: 6px;
    color: rgb(113, 113, 113);
}

.image-seven-lake span {
    font-size: 14px;
    color: rgb(113, 113, 113);
    font-weight: 600;
    line-height: 16px;
    padding-top: 4px;
    margin-left: 5px;
    font-family: font2;
    white-space: nowrap;
}

.image-eight-side {
    display: grid;
    padding-left: 29px;
    padding-top: 16px;
}

.image-eight-side img {
    height: 24px;
    margin-left: 6px;
    color: rgb(113, 113, 113);
}

.image-eight-side span {
    font-size: 14px;
    color: rgb(113, 113, 113);
    font-weight: 600;
    line-height: 16px;
    padding-top: 4px;
    margin-left: 5px;
    font-family: font2;
    white-space: nowrap;
}

.image-nine-omg {
    display: grid;
    padding-left: 29px;
    padding-top: 16px;
}

.image-nine-omg img {
    height: 24px;
    margin-left: 6px;
    color: rgb(113, 113, 113);
}

.image-nine-omg span {
    font-size: 14px;
    color: rgb(113, 113, 113);
    font-weight: 600;
    line-height: 16px;
    padding-top: 4px;
    margin-left: 5px;
    font-family: font2;
    white-space: nowrap;
}

.image-ten-room {
    display: grid;
    padding-left: 29px;
    padding-top: 16px;
}

.image-ten-room img {
    height: 24px;
    margin-left: 6px;
    color: rgb(113, 113, 113);
}

.image-ten-room span {
    font-size: 14px;
    color: rgb(113, 113, 113);
    font-weight: 600;
    line-height: 16px;
    padding-top: 4px;
    margin-left: 5px;
    font-family: font2;
    white-space: nowrap;
}

.tablet-header {
    display: none;
}

.tablet-lists {
    display: none;
}

.tax-controller {
    border: 1px solid rgb(221, 221, 221);
    height: 67px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    margin-bottom: 2pc;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
}


.display-tax-text {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    padding-inline: 21px;
}

.display-tax-text span {
    color: rgb(34, 34, 34);
    font-size: 16px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.44px;
    margin-left: -4px;
}

.icon-bar-tick {
    border-left: 16px solid black;
    border-radius: 26px;
    width: 13%;
}

.tick {
    border: 2px solid black;
    border-radius: 15px;
}

.post-card {
    position: relative;
}

/* .post-one-image {
    padding-inline: 22px;
} */

.post-card-image{
    padding-left: 20px;
}
.post-card-image img {
    width: 91vw;
    height: 86vw;
    border-radius: 14px;
}

.wishlist-icon {
    position: absolute;
    top: 25px;
    right: 20px;
}

.card-contents {
    display: grid;
    font-size: 15px;
    line-height: 19px;
    row-gap: 2px;
    padding-left: 22px;
    padding-bottom: 30px;
}

.card-contents h3 {
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    color: rgb(34, 34, 34);
}

.card-contents p {
    color: rgb(113, 113, 113);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.48px;
}

.prize-contents {
    color: rgb(34, 34, 34);
    font-size: 17px;
    padding-top: 6px;
    text-decoration: underline;
    /* display: flex; */
}

.prize-tag {
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 600;
}

.prize-tag-tax {
    font-weight: 400;
}

/* .post-two {
    position: relative;
}

.post-two-image {
    padding-inline: 22px;
    padding-top: 32px;
}

.post-two-image img {
    width: 94vw;
    height: 86vw;
    border-radius: 14px;
}

.image-two-contents {
    display: grid;
    font-size: 15px;
    line-height: 19px;
    row-gap: 2px;
    padding-left: 28px;
}

.image-two-contents h3 {
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    color: rgb(34, 34, 34);
}

.image-two-contents p {
    color: rgb(113, 113, 113);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.48px;
}

.money-contents-two {
    color: rgb(34, 34, 34);
    font-size: 17px;
    padding-top: 6px;
    text-decoration: underline;
    /* display: flex; */





.footer-section {
    box-sizing: border-box;
    line-height: 20.02px;
    background-color: #f7f7f7;
}

.footer-heading h2 {
    color: rgb(34, 34, 34);
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    padding-left: 30px;
}

.footer-scroll {
    display: flex;
    overflow: scroll;
    /* position: relative; */
    padding-top: 24px;
    gap: 29px;
    white-space: nowrap;
    padding-left: 30px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.footer-scroll::-webkit-scrollbar {
    display: none;
}

.mobile-footer-begins {
    padding-top: 46px;
    margin-inline: -24px;
    padding-left: 27px;
}

.footer-scroll img {
    position: absolute;
    width: 23px;
    right: 0px;
}

.popular {
    border-bottom: 2px solid rgb(34, 34, 34);
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.footer-room-contents {
    padding-top: 35px;
    padding-left: 18px;
}

.room-content-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 24px;
    padding-left: 22px;
    border-bottom: 1px solid rgb(221, 221, 221);

}

.footer-type-one {
    display: grid;
    grid-column: span 1;
}

.footer-type-two {
    grid-column: span 1;
}

.room-content-type a {
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 600;
}

.room-content-type p {
    color: rgb(113, 113, 113);
    font-size: 15px;
}

.scroll-items-footer {
    display: flex;
    gap: 33px;
}

.support-page {
    padding-top: 60px;
    padding-left: 36px;
    display: grid;
    gap: 12px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.support-page h3 {
    font-size: 15px;
    font-weight: 600;
}

.support-contents p {
    padding-block: 6px;
    font-size: 15px;
    font-weight: 400;
}

.hosting-page {
    padding-top: 43px;
    padding-left: 36px;
    display: grid;
    gap: 7px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.hosting-page h3 {
    font-size: 15px;
    font-weight: 600;
}

.hosting-contents p {
    padding-block: 6px;
    font-size: 15px;
    font-weight: 400;
}

.airbnb-home {
    padding-top: 25px;
    padding-left: 28px;
    display: grid;
    gap: 7px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.airbnb-home h3 {
    font-size: 15px;
    font-weight: 600;
}

.airbnb-home-contents p {
    padding-block: 6px;
    font-size: 15px;
    font-weight: 400;
}

.currency-footer {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding-left: 14px;
    gap: 12px;
    padding-top: 18px;
}

.footer-last-session {
    padding-bottom: 30px;
    padding-top: 5px;
}

.media-access {
    display: flex;
    gap: 8px;
    padding-left: 10px;
}

.media-access img {
    padding-left: 2px;
    padding-top: 4px;
}

.terms-conditions {
    padding-left: 25px;
    padding-top: 13px;
    font-size: 15px;
}

.media-icons {
    display: none;
}

.privacy-details {
    padding-top: 3px;
}

.footer-room-contents-tablet {
    display: none;
}



@media screen and (min-width: 768px) {

    header {
        display: none;
    }

    .header-image-lists {
        display: none;
    }

    .header-image-lists {
        display: none;
    }

    .star-contents {
        display: none;
    }

    .footer-room-contents {
        display: none;
    }

    .tablet-header {
        display: flex;
        height: 80px;
    }

    .tablet-header-controls {
        display: none;
    }

    .footer-room-contents-tablet {
        display: grid;
    }

    .tablet-lists {
        display: flex;
    }

    .media-icons {
        display: flex;
        gap: 15px;
        padding-left: 24px;
    }

    .tablet-emblem {
        display: flex;
        width: 100%;
        border-bottom: 1px solid rgb(221, 221, 221);
        margin-top: -1px;
    }

    .emblem-icon {
        padding-left: 38px;
        margin-top: 24px;
    }

    /* .tablet-emblem img {
        /* padding-top: 24px;
        margin-left: 40px; */


    .mobile-header-controls {
        width: 43%;
        padding-inline: 9px;
        margin-inline: 9px;
    }

    .mobile-header-controls p {
        color: rgb(34, 34, 34);
        font-size: 14px;
        font-weight: 600;
        border-right: 1px solid grey;
        height: 26px;
        padding-left: 13px;
    }

    .add-guest {
        display: flex;
        padding-left: 15px;
        margin-left: auto;
    }

    .add-guest p {
        color: rgb(113, 113, 113);
        border: none;
        padding-right: 22px;
        padding-top: 2px;
    }

    .add-guest img {
        background-color: rgb(255, 56, 92);
        border-radius: 17px;
        padding-block: 9px;
        padding-inline: 10px;
        margin-left: auto;
        margin-right: -2px;
        margin-top: -6px;
    }

    .tablet-head-home {
        display: flex;
        padding-left: 8px;
    }

    .icon-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-text span {
        color: rgb(34, 34, 34);
        font-size: 14px;
        font-weight: 600;
        white-space: nowrap;
        padding-left: 14px;
        padding-bottom: 10px;
    }


    .icon-text img {
        padding-left: 31px;
        padding-bottom: 13px;
    }

    .icon-emblems {
        border: 1px solid rgb(221, 221, 221);
        display: flex;
        margin-block: 42px;
        border-radius: 21px;
        margin-left: 26px;
        padding-inline: 11px;
        gap: 7px;
        margin-top: 13px;
        width: 32%;
        padding-top: 3px;
    }


    .tablet-lists {
        display: flex;
        flex-direction: column;
    }

    .tablet-list-items {
        display: flex;
        overflow: scroll;
        /* flex-basis: 44%; */
        padding-left: 13px;
        gap: 16px;
        padding-top: 9px;
    }

    .tablet-list-items::-webkit-scrollbar {
        display: none;
    }

    /* .tax-controller {
        margin-block: 29px;
        margin-inline: -154px;
        width: 174%;
    } */

    .list-items {
        display: flex;
        padding-inline: 27px;
        padding-top: 10px;
    }

    .image-one-farm {
        padding-left: 15px;
        border-bottom: 1px solid black;
    }

    .image-three-beach img {
        margin-left: 5px;
    }

    .image-four-luxe img {
        margin-left: 1px;
    }

    .image-five-design img {
        margin-left: 17px;
    }

    .image-six-view img {
        margin-left: 24px;
    }

    .image-six-view span {
        padding-top: 7px;
        margin-left: -6px;
    }

    .image-one-farm span {
        padding-top: 7px;
    }

    .image-two-pool span {
        padding-top: 8px;
    }

    .image-three-beach span {
        padding-top: 7px;
    }

    .image-four-luxe span {
        padding-top: 7px;
        margin-left: 0px;
    }

    .image-five-design span {
        padding-top: 7px;
        margin-left: 10px;
    }

    .arrow-bar {
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 32px;
        width: 5%;
        height: 27px;
        padding-top: 6px;
        padding-left: 8px;
        margin-top: 36px;
        margin-right: 15px;
    }

    .arrow-bar img {
        padding-right: 7px;
    }

    .filters {
        border: 1px solid rgb(221, 221, 221);
        font-size: 14px;
        width: 16%;
        height: 47px;
        margin-top: 26px;
        border-radius: 10px;
        padding-left: 13px;
        padding-top: 14px;
        margin-right: 14px;
    }


    .tax-controller {
        border: 1px solid rgb(221, 221, 221);
        height: 64px;
        /* width: 89%; */
        /* margin-block: 27px;
        margin-inline: 42px; */
        border-radius: 14px;
        /* width: 174%;
        margin-block: 27px;
        margin-inline: -154px; */
    }


    .display-tax-text {
        display: flex;
        justify-content: space-between;
        padding-top: 19px;
        padding-inline: 21px;
    }

    .display-tax-text span {
        color: rgb(34, 34, 34);
        font-size: 15px;
        font-weight: 600;
        padding-top: 5px;
        margin-left: -5px;
    }

    .icon-bar-tick {
        border: 1px solid black;
        border-radius: 13px;
    }

    /* .post-one {
        position: relative;
    } */

    .post-card-image {
        /* padding-left: 37px; */
        width: 43vw;
        height: 42vw;
    }

    .post-card-image img {
        /* width: 43vw;
        height: 42vw; */
        width: 100%;
        height: 100%;
    }

    .wishlist-icon {
        position: absolute;
        top: 17px;
        left: 290px;
    }
    .fixed-button button{
        top: 813px;
        left: 334px;
    }

    /* .card-contents {
        padding-left: 37px;
    } */

    /* .post-two {
        position: relative;
    } */

    /* .post-two-image{
        padding-left: 37px;
    } */
    /* .post-two-image {
        width: 43vw;
        height: 42vw;
    }

    .post-two-image img { */
        /* width: 43vw;
        height: 42vw; */
        /* width: 100%;
        height: 100%;
    } */

    /* .image-two-contents{
        padding-left: 37px;
    } */


    .tick {
        width: 67%;
    }

    .icon-bar-tick {
        width: 5%;
    }

    .main-body-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .tax-controller {
        grid-column: 2/4;
    }

    .hero-banner-cards {
        grid-column: span 2;
    }

    .footer-room-contents-tablet {
        padding-top: 35px;
        padding-left: 18px;
    }

    .room-content-type-tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8px;
        row-gap: 24px;
        padding-left: 22px;
        border-bottom: 1px solid rgb(221, 221, 221);

    }

    .footer-type-one-tablet {
        display: grid;
        grid-column: span 1;
    }

    .footer-type-two {
        grid-column: span 1;
    }

    .room-content-type-tablet a {
        color: rgb(34, 34, 34);
        font-size: 15px;
        font-weight: 600;
    }

    .room-content-type-tablet p {
        color: rgb(113, 113, 113);
        font-size: 14px;
    }

    .footer-scroll {
        gap: 30px;
        position: relative;
    }

    .footer-scroll img {
        position: absolute;
    }

    .scroll-items-footer {
        color: rgb(113, 113, 113);
        display: flex;
        gap: 19px;
    }

    .support-page {
        padding-block: 24px;
        line-height: 20.02px;
    }

    .hosting-page {
        padding-bottom: 28px;
        padding-left: 38px;
        line-height: 20.02px;
    }

    .airbnb-home {
        padding-left: 37px;
        padding-block: 5px;
        line-height: 20.02px;
    }

    .footer-last-session {
        display: grid;
        justify-content: center;
        padding-bottom: 23px;
        padding-right: 49px;
    }

    .privacy-details {
        display: flex;
        gap: 8px;
    }

    .terms-conditions p {
        padding-left: 88px;
        padding-top: 4px;
    }

    .currency-footer {
        padding-left: 19px;
    }

    .media-access {
        display: flex;
        gap: 16px;
    }

}

@media screen and (min-width: 1024px) {

    .emblem-icon {
        padding-left: 40px;
    }

    .scroll-items-footer img {
        display: none;
    }


    .tablet-emblem {
        display: flex;
        justify-content: space-between;
    }

    .mobile-header-controls {
        display: none;
    }

    .tablet-emblem button {
        margin-left: auto;
        width: 35%;
        padding-left: 11px;
        border: 1px solid #DDDDDD;
    }

    .tablet-header-controls {
        display: flex;
    }

    .tablet-head-home {
        padding-right: 55px;
    }

    .tablet-header-controls {
        width: 43%;
        padding-inline: 9px;
        margin-inline: 9px;
    }

    .tablet-header-controls p {
        color: rgb(34, 34, 34);
        font-size: 14px;
        font-weight: 600;
        border-right: 1px solid grey;
        height: 26px;
        padding-left: 17px;
    }

    .add-guest {
        display: flex;
        padding-left: 15px;
        margin-left: auto;
    }

    .add-guest p {
        color: rgb(113, 113, 113);
        border: none;
        padding-right: 22px;
        padding-top: 2px;
    }

    .add-guest img {
        background-color: rgb(255, 56, 92);
        border-radius: 17px;
        padding-block: 9px;
        padding-inline: 10px;
        margin-left: auto;
        margin-right: -2px;
        margin-top: -6px;
    }

    .arrow-bar {
        width: 3%;
    }

    .filters {
        width: 9%;
        padding-left: 17px;
        padding-top: 13px;
    }

    .arrow-bar {
        width: 3%;
        margin-top: 34px;
    }

    .tax-controller {
        /* margin-inline: -303px;
        width: 178%;
        grid-column: 3/6; */
        width: 93%;
    }

    .main-body-section {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .post-card-image {
        width: 30vw;
        height: 27vw;
    }
    .post-card-image img {
        width: 100%;
        height: 100%;
    }
    .wishlist-icon {
        position: absolute;
        top: 17px;
        left: 268px;
    }
    .fixed-button button {
        top: 803px;
        left: 459px;
    }

    /* .post- img {
        width: 298px;
        height: 283px;
    }

    .image-one-contents {
        padding-left: 39px;
        margin-top: -30px;
    }

    .post-two img {
        width: 298px;
        height: 283px;
    }

    .image-two-contents {
        margin-top: -34px;
        padding-left: 10px;
    }

    .post-three img {
        width: 298px;
        height: 283px;
        margin-top: -39px;
        margin-inline: -59px;
    }

    .image-three-contents {
        margin-top: -68px;
        margin-left: -58px;
    }

    .post-four img {
        width: 298px;
        height: 283px;
        margin-left: 13px;
    }

    .image-four-contents {
        padding-left: 39px;
        margin-top: -30px;
    }

    .post-five img {
        width: 298px;
        height: 283px;
        padding-inline: 7px;
    }

    .image-five-contents {
        margin-top: -34px;
        padding-left: 10px;
    }

    .post-six img {
        width: 298px;
        height: 283px;
        margin-inline: -17px;
    }

    .image-six-contents {
        padding-top: 235px;
        margin-inline: -26px;
    }

    .post-seven img {
        width: 298px;
        height: 283px;
    }

    .image-seven-contents {
        width: 126%;
        margin-block: -30px;
    }

    .post-eight img {
        width: 298px;
        height: 283px;
        margin-left: -9px;
    }

    .image-eight-contents {
        width: 111%; */
        /* padding-left: 202px; */
        /* margin-block: -33px;
    }

    .post-nine img {
        width: 298px;
        height: 283px;
        margin-inline: 113px;
    } */

   













}