* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: font;
    src: url(https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
}

@font-face {
    font-family: font1;
    src: url(https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
}

@font-face {
    font-family: font2;
    src: url(https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
}

.header {
    color: rgb(34, 34, 34);
    display: flex;
}

.fixed-button {
    display: flex;
    position: fixed;
}

.fixed-button button {
    border: none;
    display: flex;
    width: 100%;
    color: white;
    white-space: nowrap;
    border-radius: 34px;
    padding-block: 5px;
    letter-spacing: -0.3px;
    font-weight: 600;
    padding-bottom: 14px;
    position: relative;
    left: 152px;
    top: 856px;
    padding-right: 20px;
    margin-left: -18px;
    margin-top: -54px;
    padding-top: 18px;
    background-color: rgb(34, 34, 34);
}

.fixed-button button p {
    color: rgb(255, 255, 255);
    border: none;
    padding-left: 15px;
}

.fixed-button button img {
    margin-top: -5px;
    margin-left: -8px;
}

.tablet-header-controls {
    display: none;
}

.tablet-header {
    display: none;
}

.tablet-lists {
    display: none;
}
.emblem-icon-desktop{
    display: none;
}

.header-contents {
    display: flex;
}

button {
    background-color: white;
    display: flex;
    border: none;
    border-radius: 34px;
    margin-top: 16px;
    align-items: center;
    margin-inline: 29px;
    height: 54px;
    width: 73%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px 0px;
}

button img {
    padding-left: 16px;
    margin-top: -2px;
    margin-left: 4px;
}

.header-main {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
}

.header-heading {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding-right: 41px;
}

.header-text {
    display: flex;
    padding-left: 19px;
    padding-bottom: 4px;
    color: rgb(113, 113, 113);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    gap: 6px;
}

.header-symbol {
    display: flex;
    box-sizing: border-box;
    border: 1px solid grey;
    width: 159%;
    height: 40px;
    margin-top: 22px;
    padding-block: 6px;
    border-radius: 40px;
    margin-left: -14px;
    padding-left: 12px;
}

.header-symbol img {
    width: 61%;
}

.header-image-lists {
    display: flex;
    overflow: scroll;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 0px 37px;
    /* padding-top: 8px;
    padding-left: 11px; */
    gap: 28px;
    /* padding-bottom: 19px; */
}

.header-image-lists::-webkit-scrollbar {
    display: none;
}

.image-logo-container {
    display: grid;
    /* padding-left: 29px;
    padding-top: 16px; */
    margin-bottom: 10px;
    margin-top: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-bottom: 1px solid black;
}

.image-logo-container img {
    height: 24px;
}

.image-logo-container span {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    /* padding-top: 4px;
    margin-left: -5px; */
}

.image-logo-mobile {
    display: grid;
    margin-bottom: 10px;
    margin-top: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
    /* padding-left: 29px;
    padding-top: 16px; */
}

.image-logo-mobile img {
    height: 24px;
    margin-left: 18px;
    color: rgb(113, 113, 113);
}

.image-logo-mobile span {
    font-size: 12px;
    color: rgb(113, 113, 113);
    font-weight: 600;
    line-height: 16px;
    /* padding-top: 4px;
    margin-left: -12px; */
    font-family: font2;
    white-space: nowrap;
}

.tax-container-cards {
    margin: 24px 0px 32px;
    display: grid;
    column-gap: 24px;
    row-gap: 26px;
    padding: 0px 24px;
}

.main-body-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 32px;
}
.footer-room-contents-desktop{
    display: none;
}

.tablet-header {
    display: none;
}

.tablet-lists {
    display: none;
}

.tax-controller {
    border: 1px solid rgb(221, 221, 221);
    height: 67px;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 17px;
    margin-bottom: 2pc; */
    border-radius: 14px;
    display: flex;
    flex-direction: column;
}


.display-tax-text {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    padding-inline: 21px;
}

.display-tax-text span {
    color: rgb(34, 34, 34);
    font-size: 16px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.44px;
    margin-left: -4px;
}

.icon-bar-tick {
    border-left: 16px solid black;
    border-radius: 26px;
    width: 13%;
}

.tick {
    border: 2px solid black;
    border-radius: 15px;
}

.post-card {
    position: relative;
}

/* .post-one-image {
    padding-inline: 22px;
} */

/* .post-card-image {
    padding-left: 25px;
} */

.post-card-image img {
    width: 87vw;
    height: 82vw;
    border-radius: 14px;
}

.wishlist-icon {
    position: absolute;
    top: 25px;
    right: 42px;
}

.card-contents {
    display: grid;
    font-size: 15px;
    line-height: 19px;
    row-gap: 2px;
    padding-left: 24px;
}

.card-contents h3 {
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    color: rgb(34, 34, 34);
}

.card-contents p {
    color: rgb(113, 113, 113);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.48px;
}

.prize-contents {
    color: rgb(34, 34, 34);
    font-size: 17px;
    padding-top: 6px;
    text-decoration: underline;
    /* display: flex; */
}

.prize-tag {
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 600;
}

.prize-tag-tax {
    font-weight: 400;
}

.card-container-element {
    padding-bottom: 23px;
}

.exploring-card {
    color: rgb(34, 34, 34);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 33px;
}

.show-more {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-size: 14px;
    width: 38%;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(34, 34, 34);
    margin-top: 14px;

}

.show-more p {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 16px;
}

/* .post-two {
    position: relative;
}

.post-two-image {
    padding-inline: 22px;
    padding-top: 32px;
}

.post-two-image img {
    width: 94vw;
    height: 86vw;
    border-radius: 14px;
}

.image-two-contents {
    display: grid;
    font-size: 15px;
    line-height: 19px;
    row-gap: 2px;
    padding-left: 28px;
}

.image-two-contents h3 {
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    color: rgb(34, 34, 34);
}

.image-two-contents p {
    color: rgb(113, 113, 113);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.48px;
}

.money-contents-two {
    color: rgb(34, 34, 34);
    font-size: 17px;
    padding-top: 6px;
    text-decoration: underline;
    /* display: flex; */


.footer-section {
    box-sizing: border-box;
    line-height: 20.02px;
    background-color: #f7f7f7;
}

/* .footer-heading-container {
    padding-block: 21px;
    padding-inline: 24px;
} */

.footer-heading h2 {
    color: rgb(34, 34, 34);
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    margin: 0px 0px 8px;
    /* padding-left: 30px; */
}

.footer-heading-container {
    padding-block: 48px;
    padding-inline: 24px;
}

.footer-scroll {
    display: flex;
    overflow: scroll;
    /* position: relative; */
    /* padding-top: 24px; */
    gap: 29px;
    white-space: nowrap;
    /* padding-left: 30px; */
    border-bottom: 1px solid rgb(221, 221, 221);
}

.footer-scroll::-webkit-scrollbar {
    display: none;
}

/* .mobile-footer-begins {
    padding-top: 46px;
    margin-inline: -24px;
    padding-left: 27px;
} */

.footer-scroll img {
    position: absolute;
    width: 23px;
    right: 0px;
}

.popular {
    border-bottom: 2px solid rgb(34, 34, 34);
    padding-inline: 10px;
    padding-block: 10px;
    margin-bottom: 6px;
    margin-left: -10px;
    margin-right: 6px;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.footer-room-contents {
    padding-top: 32px;
    /* padding-left: 18px; */
}

.room-content-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 24px;
    /* padding-left: 22px; */
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 30px;
}

.footer-type-one {
    display: grid;
    grid-column: span 1;
}

.footer-type-two {
    grid-column: span 1;
}

.room-content-type a {
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 600;
}

.room-content-type p {
    color: rgb(113, 113, 113);
    font-size: 15px;
}

.scroll-items-footer {
    display: flex;
    gap: 33px;
    margin-bottom: 6px;
    margin-left: 0px;
    margin-right: 6px;
    margin-top: 6px;
    padding-block: 10px;
    padding-inline: 10px;
}

.main-footer {
    padding-inline: 24px;
}

.support-contents {
    display: grid;
    row-gap: 12px;
}

.support-page {
    /* padding-left: 22px; */
    /* padding-block: 7px; */
    display: grid;
    gap: 12px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.support-page h3 {
    font-size: 15px;
    font-weight: 600;
    margin-block: 12px;
    margin-bottom: 12px;
}

.support-contents p {
    /* padding-block: 6px; */
    font-size: 15px;
    font-weight: 400;
}

.hosting-contents {
    display: grid;
    row-gap: 12px;
}

.hosting-page {
    /* padding-left: 22px; */
    padding-block: 24px;
    display: grid;
    gap: 7px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.hosting-page h3 {
    font-size: 15px;
    font-weight: 600;
    margin: 0px 0px 4px;
}

.hosting-contents p {
    /* padding-block: 6px; */
    font-size: 15px;
    font-weight: 400;
}

.airbnb-home {
    /* padding-left: 20px; */
    padding-block: 24px;
    display: grid;
    /* gap: 7px; */
    border-bottom: 1px solid rgb(221, 221, 221);
}

.airbnb-home-contents {
    display: grid;
    row-gap: 12px;
}

.airbnb-home h3 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 12px;
}

.airbnb-home-contents p {
    /* padding-block: 4px; */
    font-size: 15px;
    font-weight: 400;
}

.currency-footer {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    /* padding-left: 14px; */
    gap: 12px;
    /* padding-top: 18px; */
}

.footer-last-session {
    padding-bottom: 24px;
    padding-top: 24px;
}

.media-access {
    display: flex;
    gap: 8px;
    /* padding-left: 10px; */
}

.media-access img {
    padding-left: 2px;
    padding-top: 4px;
}

.terms-conditions {
    /* padding-left: 25px; */
    /* padding-top: 13px; */
    font-size: 15px;
}

.media-icons {
    display: none;
}

.privacy-details {
    /* padding-top: 3px; */
}

.footer-room-contents-tablet {
    display: none;
}



@media screen and (min-width: 768px) {

    header {
        display: none;
    }

    .header-image-lists {
        display: none;
    }

    .header-image-lists {
        display: none;
    }

    .star-contents {
        display: none;
    }

    .footer-room-contents {
        display: none;
    }
    .emblem-icon-desktop{
        display: none;
    }

    .tablet-header {
        display: flex;
        height: 80px;
    }

    .tablet-header-controls {
        display: none;
    }

    .footer-room-contents-tablet {
        display: grid;
    }
    .footer-room-contents-desktop{
        display: none;
    }

    .tablet-lists {
        display: flex;
    }

    .media-icons {
        display: flex;
        gap: 15px;
        padding-left: 24px;
    }

    .tablet-emblem {
        display: flex;
        width: 100%;
        border-bottom: 1px solid rgb(221, 221, 221);
        padding: 0px 40px;
    }

    .emblem-icon {
        margin-top: 24px;
    }

    /* .tablet-emblem img {
        /* padding-top: 24px;
        margin-left: 40px; */


    .mobile-header-controls {
        width: 50%;
        padding-inline: 9px;
        margin-inline: 9px;
        border: 1px solid #dddd;
    }

    .mobile-header-controls p {
        color: rgb(34, 34, 34);
        font-size: 14px;
        font-weight: 600;
        border-right: 1px solid grey;
        height: 26px;
        padding-left: 13px;
    }

    .add-guest {
        display: flex;
        padding-left: 15px;
        margin-left: auto;
    }

    .add-guest p {
        color: rgb(113, 113, 113);
        border: none;
        padding-right: 22px;
        padding-top: 2px;
    }

    .add-guest img {
        background-color: rgb(255, 56, 92);
        border-radius: 17px;
        padding-block: 9px;
        padding-inline: 10px;
        margin-left: auto;
        margin-right: -2px;
        margin-top: -6px;
    }

    .tablet-head-home {
        display: flex;
        padding-left: 8px;
    }

    .icon-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-text span {
        color: rgb(34, 34, 34);
        font-size: 14px;
        font-weight: 600;
        white-space: nowrap;
        padding-left: 18px;
        padding-bottom: 0px;
    }


    .icon-text img {
        padding-left: 30px;
        padding-bottom: 0px;
    }

    .icon-emblems {
        border: 1px solid rgb(221, 221, 221);
        display: flex;
        margin-block: 42px;
        border-radius: 21px;
        margin-left: 26px;
        gap: 7px;
        margin-top: 13px;
        width: 32%;
        padding-top: 5px;
        padding-left: 12px;
        padding-right: 5px;
        padding-top: 5px;
    }


    .tablet-lists {
        display: flex;
        flex-direction: column;
    }

    .tablet-list-items {
        display: flex;
        overflow: scroll;
        /* flex-basis: 44%; */
        padding-left: 13px;
        gap: 36px;
        padding-top: 9px;
    }

    .tablet-list-items::-webkit-scrollbar {
        display: none;
    }

    /* .tax-controller {
        margin-block: 29px;
        margin-inline: -154px;
        width: 174%;
    } */

    .list-items {
        display: flex;
        padding: 0px 19px;
        padding-top: 29px;
    }

    .image-logo-tablet-container {
        padding-left: 15px;
        border-bottom: 2px solid black;
    }

    .image-logo-tablet-container img {
        margin-left: 5px;
        width: 24px;
        height: 24px;
    }

    .image-logo-tablet-container span {
        padding-top: 7px;
        margin-left: -6px;
    }

    .image-logo-tablet {
        padding-left: 15px;
    }

    .image-logo-tablet img {
        margin-left: 5px;
        width: 24px;
        height: 24px;
        color: rgb(113, 113, 113);
    }

    .image-logo-tablet span {
        padding-top: 7px;
        margin-left: -6px;
        white-space: nowrap;
        color: rgb(113, 113, 113);
    }


    .arrow-bar {
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 32px;
        width: 5%;
        height: 27px;
        padding-top: 6px;
        padding-left: 8px;
        margin-top: 18px;
        margin-right: 8px;
    }

    .arrow-bar img {
        padding-right: 7px;
    }

    .filters {
        border: 1px solid rgb(221, 221, 221);
        font-size: 14px;
        width: 16%;
        height: 47px;
        margin-top: 15px;
        border-radius: 10px;
        padding-left: 13px;
        padding-top: 14px;
        margin-right: 8px;
    }


    .tax-controller {
        border: 1px solid rgb(221, 221, 221);
        height: 64px;
        width: 100%;
        margin-top: 8px;
        /* margin-block: 27px;
        margin-inline: 42px; */
        border-radius: 14px;
        /* width: 174%;
        margin-block: 27px;
        margin-inline: -154px; */
    }


    .display-tax-text {
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        column-gap: 8px;
        row-gap: 8px;
    }

    .display-tax-text span {
        color: rgb(34, 34, 34);
        font-size: 15px;
        font-weight: 600;
        padding-top: 5px;
        margin-left: -5px;
    }

    .icon-bar-tick {
        border: 1px solid black;
        border-radius: 13px;
    }

    /* .post-one {
        position: relative;
    } */

    .post-card-image {
        /* padding-left: 37px; */
        width: 43vw;
        height: 41vw;
    }

    .post-card-image img {
        /* width: 43vw;
        height: 42vw; */
        width: 100%;
        height: 100%;
    }

    .card-contents {
        padding-left: 0px;
        padding-top: 12px;
    }

    .wishlist-icon {
        position: absolute;
        top: 17px;
        left: 290px;
    }

    .fixed-button button {
        top: 813px;
        left: 334px;
    }

    .tick {
        width: 67%;
    }

    .icon-bar-tick {
        width: 5%;
    }

    .tax-container-cards {
        display: grid;
        box-sizing: border-box;
        column-gap: 24px;
        row-gap: 40px;
        margin-block-end: 48px;
        margin-block-start: 16px;
        padding: 0px 40px;
    }

    .main-body-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 40px;
        margin-top: -16px;
        column-gap: 20px;
        /* margin-left: -10px; */
    }

    /* .tax-controller {
        grid-column: 2/4;
    } */

    .hero-banner-cards {
        grid-column: span 2;
    }

    .exploring-card {
        margin: 56px 0px 0px;
    }

    .show-more {
        width: 17%;
        margin-top: 16px;
    }

    .footer-room-contents-tablet {
        padding-top: 32px;
    }

    .room-content-type-tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8px;
        row-gap: 24px;
        /* padding-left: 22px; */
        border-bottom: 1px solid rgb(221, 221, 221);

    }

    .main-footer {
        padding-inline: 40px;
    }

    .footer-container-items {
        padding-block: 48px;
        padding-inline: 40px;
    }

    .footer-heading-container {
        padding-block: 0px;
        padding-inline: 0px;
    }

    .footer-type-one-tablet {
        display: grid;
        grid-column: span 1;
    }

    .footer-type-two {
        grid-column: span 1;
    }

    .room-content-type-tablet a {
        color: rgb(34, 34, 34);
        font-size: 15px;
        font-weight: 600;
    }

    .room-content-type-tablet p {
        color: rgb(113, 113, 113);
        font-size: 14px;
    }

    .footer-scroll {
        gap: 30px;
        position: relative;
    }

    .footer-scroll img {
        position: absolute;
    }

    .scroll-items-footer {
        color: rgb(113, 113, 113);
        display: flex;
        gap: 19px;
    }

    .support-page {
        padding-block: 24px;
        line-height: 20.02px;
    }

    .hosting-page {
        /* padding-bottom: 28px;
        padding-left: 38px; */
        line-height: 20.02px;
    }

    .airbnb-home {
        /* padding-left: 37px;
        padding-block: 5px; */
        padding-block: 24px;
        line-height: 20.02px;
    }

    .footer-last-session {
        display: grid;
        justify-content: center;
        /* padding-bottom: 23px;
        padding-right: 49px; */
    }

    .privacy-details {
        display: flex;
        gap: 8px;
    }

    .terms-conditions p {
        padding-left: 88px;
        /* padding-top: 4px; */
    }

    .currency-footer {
        /* padding-left: 19px; */
        margin-bottom: 16px;
    }

    .media-access {
        display: flex;
        gap: 16px;
    }

}

@media screen and (min-width: 1024px) {

    .emblem-icon {
        flex: 1 0 140px;
    }

    .scroll-items-footer img {
        display: none;
    }
    .emblem-icon-desktop{
        display: none;
    }
    .footer-room-contents-desktop{
        display: none;
    }

    .tablet-emblem {
        display: flex;
        justify-content: space-between;
    }

    .mobile-header-controls {
        display: none;
    }

    .tablet-emblem button {
        margin-right: auto;
        width: 37%;
        /* padding-left: 11px; */
        border: 1px solid #DDDDDD;
    }

    .tablet-header-controls {
        display: flex;
    }

    .tablet-head-home {
        padding-right: 46px;
    }

    .tablet-header-controls {
        width: 43%;
        padding-inline: 9px;
        margin-inline: 9px;
    }

    .tablet-header-controls p {
        color: rgb(34, 34, 34);
        font-size: 14px;
        font-weight: 600;
        border-right: 1px solid grey;
        height: 26px;
        padding: 0px 9px;
        white-space: nowrap;
    }

    .add-guest {
        display: flex;
        padding-left: 15px;
        margin-left: auto;
    }

    .add-guest p {
        color: rgb(113, 113, 113);
        border: none;
        padding: 0px 9px;
    }

    .add-guest img {
        background-color: rgb(255, 56, 92);
        border-radius: 17px;
        padding-block: 9px;
        padding-inline: 10px;
        margin-left: auto;
        margin-right: -2px;
        margin-top: -6px;
    }

    .arrow-bar {
        width: 3%;
    }

    .filters {
        width: 15%;
        padding-left: 19px;
        padding-top: 13px;
        margin-top: 5px;
        margin-right: 12px;
    }

    .arrow-bar {
        width: 3%;
        margin-top: 14px;
    }

    .icon-text span {
        padding-left: 1px;
    }

    .tablet-list-items {
        gap: 35px;
    }

    .tax-controller {
        /* margin-inline: -303px;
        width: 178%;
        grid-column: 3/6; */
        width: 100%;
    }

    .tax-container-cards {
        padding-inline: 40px;
    }

    .display-tax-text span {
        padding-top: 8px;
        padding-left: 6px;
    }

    .main-body-section {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 24px;
        row-gap: 40px;
    }

    .post-card-image {
        width: 29vw;
        height: 28vw;
    }

    .post-card-image img {
        width: 100%;
        height: 100%;
    }

    .wishlist-icon {
        position: absolute;
        top: 18px;
        left: 259px;
    }

    .fixed-button button {
        top: 803px;
        left: 459px;
    }

    .card-container-element {
        padding-bottom: 48px;
    }
    .show-more {
        width: 13%;
    }

    .footer-content-containers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* padding-inline: 40px; */
    }

    .footer-heading h2 {
        font-family: font2;
        letter-spacing: -0.52px;
    }

    .scroll-items-footer {
        gap: 23px;
    }

    .support-page {
        padding-block: 48px;
    }

    .support-page h3 {
        margin-block: 12px;
    }

    .hosting-page {
        padding-block: 48px;
    }

    .airbnb-home {
        padding-block: 48px;
    }

    .room-content-type-tablet {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .support-page h3 {
        margin: 0px 0px 1px;
    }

    .hosting-page h3 {
        margin: 0px 0px -21px;
    }

    .airbnb-home h3 {
        margin-bottom: -21px;
    }

}

@media screen and (min-width: 1440px) {

.emblem-icon{
    display: none;
}
.footer-room-contents-tablet{
    display: none;
}
.footer-room-contents-desktop{
    display: grid;
}
.emblem-icon-desktop{
    display: flex;
    /* flex: 1 0 140px; */    /* flex: 1 0 140px; */
    width: 100%;
    height: 100%;
}
.emblem-icon-desktop img{
    width: 95px;
    height: 31px;
    margin-top: 24px;
}
.tablet-emblem{
    padding: 0px 80px;
}
.filters{
    width: 7%;
}
.tax-controller {
    width: 46%;
}
.tax-container-cards{
    display: grid;
}
.tax-container-cards{
    margin: 16px 0px 48px;
    padding: 0px 80px;
}
.main-body-section{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}
.post-card-image {
    width: 21vw;
    height: 20vw;
}
.wishlist-icon{
    top: 18px;
    left: 262px;
}
.fixed-button button {
    top: 973px;
    left: 676px;
}
.show-more {
    width: 9%;
}
.footer-container-items {
    padding-block: 48px;
    padding-inline: 80px;
}
.footer-heading h2{
    font-size: 22px;
}
.room-content-type-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 8px;
    row-gap: 24px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.room-content-type-desktop a {
    color: rgb(34, 34, 34);
    font-size: 14px;
    font-weight: 600;
}

.room-content-type-desktop p {
    color: rgb(113, 113, 113);
    font-size: 14px;
}
.footer-room-contents-desktop{
    padding: 32px 0px 0px;
}
.main-footer{
    padding: 0px 80px;
}
.footer-last-session{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.terms-conditions{
    display: flex;
    margin-left: -87px;
}
.currency-footer{
    margin-bottom: 0px;
}




}