* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'font';
    src: url('https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.woff2');
}

@font-face {
    font-family: 'font1';
    src: url('https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2');
}

@font-face {
    font-family: 'font2';
    src: url('https://azure.microsoft.com/etc.clientlibs/onecloud/clientlibs/clientlib-mwf-new/resources/fonts/MWFFluentIcons.woff2');
}

@font-face {
    font-family: 'font3';
    src: url('https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.woff2');
}

.logo-nav-items {
    display: none;
}

.icon-text-bar {
    display: none;
}

.desktop-right-header {
    display: none;
}

.hero-image-container {
    display: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 12px;
    padding-top: 22px;
    padding-bottom: 16px;
}

.header-container {
    display: flex;
}

.azure-mobile-text {
    color: rgb(26, 26, 31);
    font-size: 18px;
    font-weight: 600;
    line-height: 44px;
    font-family: 'font';
}

.azure-mobile-text p {
    padding-left: 16px;
    margin-top: -5px;
}

.azure-image-logo {
    padding-bottom: 2px;
    margin-right: 11px;
}

.text-icon-bar {
    display: flex;
    gap: 20px;
}

.searchbar {
    padding-right: 9px;
}

.sign-in-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    font-family: 'font1';
    padding-right: 20px;
    padding-top: 4px;
}

.hero-banner {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 24px;
    height: 264px;
    padding-inline: 24px;
    padding-top: 32px;
    padding-bottom: 24px;
}

.hero-banner h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    font-family: 'font';
}

.hero-banner p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'font1';
    padding-top: 12px;
}

.start-button {
    background-color: rgb(137, 196, 2);
    width: 95px;
    height: 40px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-top: 12px;
    font-family: 'font';
    border-radius: 0.125rem;
    margin-top: 16px;
}

.text-arrow-tag {
    display: flex;
    color: rgb(80, 230, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-family: 'font';
    padding-top: 16px;
}

.arrow-bar {
    height: 16px;
    width: 16px;
    padding-top: 16px;
    margin-right: 6px;
}

/* .arrow-bar img{
    width: 100%;
    height: 100%;
} */
.horizontal-nav-container {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 16px;
    margin-right: 16px;
}

.horizontal-nav-items {
    box-shadow: 0 .375rem .875rem 0 rgba(0, 0, 0, .13), 0 .0625rem .25rem 0 rgba(0, 0, 0, .11);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3px;
}

.transition-item {
    border-bottom: 1px solid #d2d2d2;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 16px;
    padding-top: 9px;
    padding-bottom: 4px;
    font-family: 'font';
}

.transition-icon-bar {
    display: flex;
}

.text-arrow-icon {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'font';
    padding-left: 37px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.layout-container {
    box-sizing: border-box;
    padding-top: 72px;
}

.layout-heading {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 8px;
    padding-left: 36px;
    padding-top: 8px;
    padding-right: 8px;
    font-family: 'font';
    margin-bottom: 8px;
}

.layout-heading h2 {
    font-size: 19px;
    font-weight: 600;
    line-height: 22.8px;
}

.layout-details {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 8px;
    padding-left: 36px;
    padding-top: 32px;
    padding-right: 8px;
    font-family: 'font1';
    width: 97vw;
}

.layout-details p {
    padding-bottom: 50px;
}

.alert-container {
    padding-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
}

.dark-alert {
    background-color: rgb(36, 58, 94);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 16px;
    line-height: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    height: 82px;
}

.dark-alert span {
    color: rgb(80, 230, 255);
    font-family: 'font';
}

.learning-container {
    padding-top: 72px;
}

.vertical-row-container {
    box-sizing: border-box;
    padding-left: 34px;
    padding-right: 12px;
    display: flex;
    white-space: nowrap;
    overflow: scroll;
    gap: 45px;
    border-bottom: 1px solid rgb(80, 80, 80);
}

.vertical-row-container::-webkit-scrollbar {
    display: none;
}

.service {
    border-bottom: 4px solid rgb(0, 103, 184);
    color: rgb(0, 103, 184);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-family: 'font';
}

.machine-learning {
    color: rgb(80, 80, 80);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 8px;
    padding-top: 11px;
    font-family: 'font';
}

.exploring-content {
    padding-top: 52px;
    padding-bottom: 46px;
}

.image-card-container {
    width: 375px;
    height: 313px;
}

.image-card-container img {
    width: 100%;
    height: 100%;
}

.card-contents {
    background-color: #000;
    color: #fff;
    padding: 24px;
}

.card-defnitions {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'font1';
    padding-bottom: 15px;
    padding-top: 8px;
}

.card-key-points {
    padding-left: 40px;
}

.key-features a {
    text-decoration: underline;
}

.key-features {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'font1';
}

.explore-content {
    color: rgb(80, 230, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-right: 27px;
    margin-top: 13px;
    margin-bottom: 0px;
    font-family: 'font';
}

.ai-content {
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 72px;
    font-family: 'font';
    text-align: center;
}

.ai-card-body {
    padding-top: 24px;
}

.body-card-contents {
    padding-top: 25px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 96px;
}

.body-card-contents h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    font-family: 'font';
    margin-bottom: 8px;
}

.body-card-contents p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    font-family: 'font1';
}

.analyst-container {
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 37px;
    text-align: center;
    font-family: 'font';
}

.analyst-container h2 {
    margin-bottom: 8px;
}

.fluid-contents {
    padding-top: 24px;
    text-align: center;
    margin-bottom: 16px;
}

.fluid-image {
    padding: 3px;
    margin-right: 8px;
}

.gartner-contents {
    padding-top: 72px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    font-family: 'font1';
    padding-left: 12px;
    padding-right: 12px;
}

.innovater-container {
    padding-left: 12px;
    padding-right: 12px;
}

.innovater-header {
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 600;
    line-height: 22.8px;
    font-family: 'font';
    margin-bottom: 8px;
    padding-bottom: 72px;
    padding-top: 48px;
    text-align: center;
}

.image-tab-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tab-group {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    margin-bottom: 51px;
}

.tab-image {
    border-bottom: 1px solid rgb(0, 103, 184);
    color: rgb(0, 103, 184);
    margin-left: 3px;
    margin-right: 24px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
}

.tab-image img {
    width: 128px;
    height: 40px;
}

.tab-image-group {
    margin-right: 24px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    color: #000;
}

.tab-image-group img {
    width: 128px;
    height: 40px;
}

.tab-arrow::after {
    content: "f054";
}

.tab-arrow {
    position: absolute;
    right: 1px;
    top: 4070px;
    background-image: linear-gradient(to left, rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0));
}

.tab-arrow img {
    width: 20px;
    height: 20px;
}

.tab-group::-webkit-scrollbar {
    display: none;
}

.column-group {
    padding-left: 3px;
    padding-right: 4px;
}

.card-group-content {
    padding-left: 11px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    background-color: #f2f2f2;
    width: 342px;
}

.card-group-content h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    margin-bottom: 8px;
    font-family: 'font';
}

.blockquote p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    font-family: 'font1';
    width: 84vw;
}

.link-content {
    display: flex;
    color: rgb(0, 103, 184);
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-right: 27px;
    font-family: 'font';
}

.arrow-icon {
    padding-left: 4px;
    padding-top: 4px;
}

.arrow-icon img {
    width: 16px;
    height: 16px;
}

.column-image img {
    width: 343px;
    height: 243px;
}

.primary-container {
    padding-top: 24px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 24px;
}

.outline-primary-content {
    border: 2px solid rgb(0, 103, 184);
    box-sizing: border-box;
    color: rgb(0, 103, 184);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    font-family: 'font';
    margin-bottom: 8px;
    width: 351px;
    height: 56px;
}

.outline-primary-content span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 83vw;
    padding-left: 19px;
    text-align: center;
}

.cloud-container {
    box-sizing: border-box;
    padding-top: 24px;
    padding-left: 12px;
    padding-right: 12px;
}

.cloud-container h2 {
    font-size: 19px;
    font-weight: 600;
    line-height: 22.8px;
    margin-bottom: 8px;
    font-family: 'font';
    text-align: center;
}

.default-machine-container {
    padding-top: 48px;
}

.tab-window-container {
    padding-left: 28px;
    padding-right: 12px;
    display: flex;
    overflow: scroll;
}

.tab-window-container::-webkit-scrollbar {
    display: none;
}

.active-content {
    background-color: rgb(0, 103, 184);
    color: rgb(255, 255, 255);
    width: 221px;
    height: 40px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 8px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 8px;
    font-family: 'font1';
    border-end-start-radius: 20px;
    border-start-start-radius: 20px;
}

.minor-content {
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 76px;
    padding-right: 48px;
    font-family: 'font1';
    box-shadow: 0 0.1875rem 0.4375rem 0 rgba(0, 0, 0, .13), 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, .11);
}

.scroll-bar {
    position: absolute;
    right: 15px;
    bottom: -4141px;
    background: linear-gradient(to left, #fff 75%, rgba(255, 255, 255, 0));
}

.scroll-bar img {
    width: 20px;
    height: 20px;
}







@media screen and (min-width: 768px) {

    .header-container {
        display: none;
    }

    .azure-image-logo {
        display: none;
    }

    .text-icon-bar {
        display: none;
    }

    .desktop-right-header {
        display: none;
    }

    .tablet-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 16px;
        padding-left: 11px;
    }

    .logo-nav-items {
        display: flex;
    }

    header {
        padding: 0px;
    }

    .logo {
        width: 24px;
        height: 25px;
    }

    .logo img {
        width: 100%;
        height: 100%;
    }

    .nav-links {
        display: flex;
    }

    .icon-text-bar {
        display: flex;
    }

    .tablet-text {
        font-size: 18px;
        font-weight: 600;
        font-family: 'font';
        margin-left: 13px;
        margin-top: -1px;
    }

    .nav-links {
        font-size: 13px;
        color: #1a1a1f;
        font-weight: 400;
        line-height: 1.5;
        margin-left: 12px;
        font-family: 'font1';
    }

    .nav-items-list {
        display: flex;
        padding: 2px 8px;
        gap: 1px;
    }

    .icon {
        padding-right: 18px;
    }

    .dots {
        padding-right: 18px;
        margin-top: -1px;
    }

    .sign-in-text {
        font-size: 13px;
        font-weight: 400;
        white-space: nowrap;
        font-family: 'font1';
        padding-right: 8px;
        padding-top: 5px;
    }

    .hero-banner {
        margin-top: 10px;
        height: 177px;
    }

    .link-group {
        display: flex;
    }

    .text-arrow-tag {
        padding-top: 24px;
        padding-left: 29px;
    }

    .arrow-bar {
        padding-top: 3px;
        margin-left: 3px;
    }

    .layout-details {
        width: 98vw;
    }

    .dark-alert {
        height: 58px;
        padding-left: 0px;
        text-align: center;
    }

    .vertical-row-container {
        display: flex;
        justify-content: center;
    }

    .body-card-contents {
        margin-bottom: 86px;
    }

    .image-card-container {
        width: 768px;
        height: 641px;
    }

    .fluid-contents {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-top: 30px;
    }

    .tab-arrow {
        right: 11px;
        top: 3422px;
    }

    .card-group-content {
        width: 100%;
    }

    .column-image img {
        width: 739px;
        height: 506px;
        margin-top: -11px;
    }

    .blockquote p {
        width: 91vw;
    }

    .primary-container {
        display: flex;
        justify-content: center;
    }

    .outline-primary-content {
        height: 40px;
        width: 379px;
    }

    .outline-primary-content span {
        width: 46vw;
        padding-left: 0px;
        width: 100%;
    }

    .scroll-bar {
        right: 28px;
        bottom: -3638px;
    }

    .minor-content {
        border-top-right-radius: 20px;
        border-start-end-radius: 20px;
        border-bottom-right-radius: 20px;
    }


}

@media screen and (min-width: 1024px) {

    .hero-banner {
        height: 312px;
        padding-top: 56px;
        padding-left: 60px;
    }

    .hero-banner p {
        width: 40vw;
    }

    .link-group {
        display: block;
    }

    .text-arrow-tag {
        padding-top: 16px;
        padding-left: 0px;
        width: 39vw;
    }

    .arrow-bar {
        padding-top: 13px;
    }

    .horizontal-nav-container {
        display: flex;
    }

    .horizontal-nav-items {
        display: flex;
        flex-direction: row;
        width: 1000px;
        height: 104px;
        border-radius: 0px;
        align-items: center;
        margin-top: 1px;
        margin-left: -4px;
        padding-bottom: 5px;
        margin-right: -4px;
        gap: 0px;
    }

    .transition-item {
        border-bottom: none;
        margin-left: 0px;
    }

    .text-arrow-icon {
        padding-left: 22px;
        padding-top: 13px;
    }

    .layout-container {
        display: flex;
    }

    .layout-details {
        width: 69vw;
        padding-left: 68px;
        padding-top: 8px;
    }

    .alert-container {
        padding-top: 14px;
    }

    .dark-alert {
        padding-top: 17px;
    }

    .learning-container {
        display: flex;
        padding-bottom: 51px;
    }

    .vertical-row-container {
        display: flex;
        flex-direction: column;
        border-bottom: none;
        gap: 12px;
        margin-top: -298px;
        padding-left: 13px;
    }

    .machine-learning {
        padding-left: 28px;
        padding-top: 12px;
    }

    .service {
        border-left: 4px solid rgb(0, 103, 184);
        border-bottom: none;
        padding-left: 24px;
    }

    .image-card-container {
        width: 372px;
        height: 655px;
    }

    .exploring-content {
        display: flex;
        height: 688px;
        width: 744px;
        padding-top: 34px;
        margin-left: 46px;
    }


    .image-card-container img {
        object-fit: cover;
    }

    .card-contents {
        width: 372px;
        padding-top: 40px;
        height: 655px;
        padding: 40px;
        margin-right: 8px;
    }

    .card-defnitions {
        width: 26vw;
    }

    .key-features {
        width: 22vw;
    }

    .explore-content {
        margin-top: 27px;
    }

    .ai-card-body {
        display: flex;
    }

    .body-card-contents p {
        width: 31vw;
    }

    .fluid-contents {
        display: flex;
        padding-left: 25px;
        padding-right: 25px;
    }

    .tab-arrow {
        right: 26px;
        top: 2666px;
    }

    .tab-image {
        margin-left: -4px;
        padding-left: 23px;
        padding-right: 16px;
        padding-top: 2px;
    }

    .tab-image img {
        width: 160px;
        height: 50px;
    }

    .tab-image-group {
        margin-left: 24px;
        padding-top: 0px;
    }

    .tab-image-group img {
        width: 160px;
        height: 50px;
    }

    .column-group {
        display: flex;
        flex-wrap: nowrap;
    }

    .column-image img {
        width: 494px;
        height: 331px;
        margin-top: 0px;
    }

    .blockquote p {
        width: 39vw;
    }

    .card-group-content {
        margin-bottom: 5px;
        padding-left: 43px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .scroll-bar {
        right: 28px;
        /* bottom: -3523px; */
        top: 3333px;
        bottom: 0;
    }






}


@media screen and (min-width: 1440px) {

    .desktop-right-header {
        display: flex;
    }

    .icon-text-bar {
        display: none;
    }

    .lists {
        display: flex;
    }

    .hero-image-container {
        display: flex;
    }

    .logo {
        width: 24px;
        height: 25.25px;
    }

    .tablet-text {
        margin-left: 25px;
        margin-top: -2px;
    }

    .nav-links {
        margin-left: 24px;
        margin-top: -1px;
    }

    .searchbar {
        background-color: #f8f9fa;
        border-radius: 4px;
        border-color: #747479;
        color: #4c4c51;
        border: 1px solid #747479;
        font-size: 13px;
        display: flex;
        align-items: center;
        width: 120px;
        height: 32px;
        padding-left: 13px;
        justify-content: space-between;
        margin-top: -4px;
    }

    .searchbar input {
        border: none;
        outline: none;
        background-color: #f8f9fa;
        width: 40px;
    }

    .lists {
        color: #1a1a1f;
        font-size: 15px;
        margin: 0px;
        display: flex;
        align-content: space-between;
        justify-content: space-around;
        align-items: center;
        white-space: nowrap;
        padding-left: 30px;
        margin-top: -8px;
        margin-right: 14px;
    }

    .lists p {
        color: #1a1a1f;
        font-size: 13px;
        padding: 0px 6px;
        display: flex;
        justify-content: space-around;
        font-family: 'font1';
    }

    .lists button {
        background-color: #89c402;
        border: 1px solid #6f9e02;
        border-radius: 4px;
        color: #1a1a1f;
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-size: 12px;
        font-weight: 600;
        padding: 10px 8px;
        line-height: 1;
        text-align: center;
        height: 32px;
        width: 89px;
        font-family: 'font';
        margin-top: 1px;
    }

    .list-categories {
        display: flex;
        padding-right: 9px;
        gap: 4px;
    }

    .sign {
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        font-family: 'font1';
        padding-right: 8px;
        padding-top: 4px;
    }

    .hero-banner {
        height: 409px;
        /* padding: 112px; */
        padding-top: 112px;
        padding-left: 112px;
    }

    .hero-banner h2 {
        font-size: 37px;
        font-weight: 700;
        line-height: 44.4px;
        padding-top: 26px;
        padding-left: 8px;
    }

    .hero-banner p {
        padding-top: 21px;
        padding-left: 8px;
    }

    .hero-main-container {
        display: flex;
    }

    .hero-image-container {
        background-color: #000;
        height: 409px;
        margin-top: 10px;
        width: 780px;
    }

    .hero-image-container img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding-right: 12px;
    }

    .link-group {
        display: flex;
        padding-left: 8px;
    }

    .text-arrow-tag {
        padding-top: 24px;
        padding-left: 29px;
    }

    .hero-image-container img {
        margin-left: -77px;
    }

    .arrow-bar {
        padding-top: 3px;
    }

    .horizontal-nav-container {
        margin-left: 83px;
    }

    .horizontal-nav-items {
        width: 1274px;
        height: 104px;
        margin: 0px;
    }

    .layout-heading h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 28.8px;
    }

    .layout-heading {
        padding-left: 96px;
    }

    .layout-details {
        padding-left: 99px;
        width: 65vw;
    }

    .dark-alert {
        width: 1296px;
    }

    .alert-container {
        padding-top: 22px;
        padding-left: 72px;
    }

    .image-card-container {
        width: 483px;
        height: 524px;
    }

    .image-card-container img {
        width: 484px;
    }

    .card-contents {
        width: 483px;
        height: 524px;
        /* padding-right: 64px; */
        padding: 50px;
    }

    .card-defnitions {
        width: 27vw;
    }

    .exploring-content {
        padding-top: 50px;
        /* margin-left: 175px; */
        padding-left: 30px;
    }

    .explore-content {
        margin-top: 21px;
    }

    .vertical-row-container {
        padding-left: 109px;
        margin-top: -247px;
    }

    .key-features {
        width: 23vw;
    }

    .ai-content {
        padding-top: 0px;
        font-size: 16px;

    }

    .learning-container {
        padding-bottom: 0px;
    }

    .exploring-content {
        padding-top: 31px;
    }

    .body-card-contents h3 {
        font-size: 21px;
    }

    .body-card-contents p {
        width: 29vw;
    }

    .ai-card-body {
        display: flex;
        justify-content: center;
    }

    .analyst-container {
        font-size: 16px;
        padding-top: 50px;
    }

    .exploring-content {
        padding-bottom: 0px;
    }

    .fluid-contents {
        padding-top: 39px;
        padding-left: 10px;
    }

    .innovater-header {
        font-size: 16px;
    }

    .image-tab-container {
        /* display: flex;
        justify-content: center; */
    }

    .tab-arrow {
        display: none;
    }

    .blockquote p {
        width: 38vw;
    }

    .column-image img {
        width: 642px;
        height: 430px;
    }

    .innovater-container {
        padding-left: 72px;
        padding-right: 72px;
    }

    .tab-group {
        display: flex;
        justify-content: center;
    }

    .cloud-container h2 {
        font-size: 22px;
    }
    .scroll-bar{
        top: 3253px;
    }










}