* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'font';
    src: url('https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.woff2');
}

@font-face {
    font-family: 'font1';
    src: url('https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2');
}

@font-face {
    font-family: 'font2';
    src: url('https://azure.microsoft.com/etc.clientlibs/onecloud/clientlibs/clientlib-mwf-new/resources/fonts/MWFFluentIcons.woff2');
}

@font-face {
    font-family: 'font3';
    src: url('https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.woff2');
}

.logo-nav-items {
    display: none;
}

.icon-text-bar {
    display: none;
}

.desktop-right-header {
    display: none;
}

.hero-image-container {
    display: none;
}

.fixed-nav-bar {
    display: none;
}

.fixed-button {
    display: flex;
    position: fixed;
}

.fixed-button button {
    font-size: 16px;
    background-color: rgb(0, 103, 184);
    border: none;
    display: flex;
    color: white;
    white-space: nowrap;
    border-radius: 8px;
    padding-block: 5px;
    /* letter-spacing: -0.3px; */
    font-family: 'font';
    font-weight: 600;
    padding-bottom: 14px;
    position: relative;
    bottom: -57px;
    left: 218px;
    top: 842px;
    /* padding-right: 29px; */
    padding-left: 15px;
    margin-left: -18px;
    margin-top: 5px;
    padding-top: 8px;
    height: 40px;
    width: 159px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 12px;
    padding-top: 22px;
    padding-bottom: 16px;
}

.header-container {
    display: flex;
}

.azure-mobile-text {
    color: rgb(26, 26, 31);
    font-size: 18px;
    font-weight: 600;
    line-height: 44px;
    font-family: 'font';
}

.azure-mobile-text p {
    padding-left: 16px;
    margin-top: -5px;
}

.azure-image-logo {
    padding-bottom: 2px;
    margin-right: 22px;
}

.text-icon-bar {
    display: flex;
    gap: 20px;
}

.searchbar {
    padding-right: 9px;
}

.sign-in-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    font-family: 'font1';
    padding-right: 19px;
    padding-top: 3px;
}

.hero-banner {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 24px;
    height: 265px;
    padding-inline: 24px;
    padding-top: 32px;
    padding-bottom: 24px;
}

.hero-banner h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    font-family: 'font';
}

.hero-banner p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'font1';
    padding-top: 12px;
}

.start-button {
    background-color: rgb(137, 196, 2);
    width: 95px;
    height: 40px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-top: 12px;
    font-family: 'font';
    border-radius: 0.125rem;
    margin-top: 16px;
}

.text-arrow-tag {
    display: flex;
    color: rgb(80, 230, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-family: 'font';
    padding-top: 16px;
}

.arrow-bar {
    height: 16px;
    width: 16px;
    padding-top: 16px;
    margin-right: 6px;
}

/* .arrow-bar img{
    width: 100%;
    height: 100%;
} */
.horizontal-nav-container {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 16px;
    margin-right: 16px;
}

.horizontal-nav-items {
    box-shadow: 0 .375rem .875rem 0 rgba(0, 0, 0, .13), 0 .0625rem .25rem 0 rgba(0, 0, 0, .11);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3px;
}

.transition-item {
    border-bottom: 1px solid #d2d2d2;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 16px;
    padding-top: 9px;
    padding-bottom: 4px;
    font-family: 'font';
}

.transition-icon-bar {
    display: flex;
}

.text-arrow-icon {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'font';
    padding-left: 37px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.layout-container {
    box-sizing: border-box;
    padding-top: 72px;
}

.layout-heading {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 8px;
    padding-left: 36px;
    padding-top: 8px;
    padding-right: 8px;
    font-family: 'font';
    margin-bottom: 8px;
}

.layout-heading h2 {
    font-size: 19px;
    font-weight: 600;
    line-height: 22.8px;
}

.layout-details {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 8px;
    padding-left: 36px;
    padding-top: 32px;
    padding-right: 8px;
    font-family: 'font1';
    width: 97vw;
}

.layout-details p {
    padding-bottom: 50px;
}

.alert-container {
    padding-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
}

.dark-alert {
    background-color: rgb(36, 58, 94);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 16px;
    line-height: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    height: 82px;
}

.dark-alert span {
    color: rgb(80, 230, 255);
    font-family: 'font';
}

.learning-container {
    padding-top: 72px;
}

.vertical-row-container {
    box-sizing: border-box;
    padding-left: 34px;
    padding-right: 12px;
    display: flex;
    white-space: nowrap;
    overflow: scroll;
    gap: 45px;
    border-bottom: 1px solid rgb(80, 80, 80);
}

.vertical-row-container::-webkit-scrollbar {
    display: none;
}

.service {
    border-bottom: 4px solid rgb(0, 103, 184);
    color: rgb(0, 103, 184);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-family: 'font';
}

.machine-learning {
    color: rgb(80, 80, 80);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 8px;
    padding-top: 11px;
    font-family: 'font';
}

.exploring-content {
    padding-top: 52px;
    padding-bottom: 46px;
}

.image-card-container {
    width: 375px;
    height: 313px;
}

.image-card-container img {
    width: 100%;
    height: 100%;
}

.card-contents {
    background-color: #000;
    color: #fff;
    padding: 24px;
}

.card-defnitions {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'font1';
    padding-bottom: 15px;
    padding-top: 8px;
}

.card-key-points {
    padding-left: 40px;
}

.key-features a {
    text-decoration: underline;
}

.key-features {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'font1';
}

.explore-content {
    color: rgb(80, 230, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-right: 27px;
    margin-top: 13px;
    margin-bottom: 0px;
    font-family: 'font';
}

.ai-content {
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 72px;
    font-family: 'font';
    text-align: center;
}

.ai-card-body {
    padding-top: 24px;
}

.body-card-contents {
    padding-top: 25px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 96px;
}

.body-card-contents h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    font-family: 'font';
    margin-bottom: 8px;
}

.body-card-contents p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    font-family: 'font1';
}

.analyst-container {
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 37px;
    text-align: center;
    font-family: 'font';
}

.analyst-container h2 {
    margin-bottom: 8px;
}

.fluid-contents {
    padding-top: 24px;
    text-align: center;
    margin-bottom: 16px;
}

.fluid-image {
    padding: 3px;
    margin-right: 8px;
}

.gartner-contents {
    padding-top: 72px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    font-family: 'font1';
    padding-left: 12px;
    padding-right: 12px;
}

.innovater-container {
    padding-left: 12px;
    padding-right: 12px;
}

.innovater-header {
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 600;
    line-height: 22.8px;
    font-family: 'font';
    margin-bottom: 8px;
    padding-bottom: 72px;
    padding-top: 48px;
    text-align: center;
}

.image-tab-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tab-group {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    margin-bottom: 51px;
}

.tab-image {
    border-bottom: 1px solid rgb(0, 103, 184);
    color: rgb(0, 103, 184);
    margin-left: 3px;
    margin-right: 24px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
}

.tab-image img {
    width: 128px;
    height: 40px;
}

.tab-image-group {
    margin-right: 24px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    color: #000;
}

.tab-image-group img {
    width: 128px;
    height: 40px;
}

.tab-arrow::after {
    /* content: "f054"; */
}

.tab-arrow {
    position: absolute;
    right: 22px;
    top: 4072px;
    background-image: linear-gradient(to left, rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0));
}

.tab-arrow img {
    width: 20px;
    height: 20px;
}

.tab-group::-webkit-scrollbar {
    display: none;
}

.column-group {
    padding-left: 3px;
    padding-right: 4px;
}

.card-group-content {
    padding-left: 11px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    background-color: #f2f2f2;
    width: 342px;
}

.card-group-content h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    margin-bottom: 8px;
    font-family: 'font';
}

.blockquote p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    font-family: 'font1';
    width: 84vw;
}

.link-content {
    display: flex;
    color: rgb(0, 103, 184);
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-right: 27px;
    font-family: 'font';
}

.arrow-icon {
    padding-left: 4px;
    padding-top: 4px;
}

.arrow-icon img {
    width: 16px;
    height: 16px;
}

.column-image img {
    width: 343px;
    height: 243px;
}

.primary-container {
    padding-top: 24px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 24px;
}

.outline-primary-content {
    border: 2px solid rgb(0, 103, 184);
    box-sizing: border-box;
    color: rgb(0, 103, 184);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    font-family: 'font';
    margin-bottom: 8px;
    width: 351px;
    height: 56px;
}

.outline-primary-content span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 83vw;
    padding-left: 19px;
    text-align: center;
}

.cloud-container {
    box-sizing: border-box;
    padding-top: 24px;
    padding-left: 12px;
    padding-right: 12px;
}

.cloud-container h2 {
    font-size: 19px;
    font-weight: 600;
    line-height: 22.8px;
    margin-bottom: 8px;
    font-family: 'font';
    text-align: center;
}

.default-machine-container {
    padding-top: 48px;
    /* padding-left: 12px; */
    padding-right: 12px;
}

.tab-window-container {
    padding-left: 28px;
    padding-right: 12px;
    display: flex;
    overflow: scroll;
}

.tab-window-container::-webkit-scrollbar {
    display: none;
}

.active-content {
    background-color: rgb(0, 103, 184);
    color: rgb(255, 255, 255);
    width: 221px;
    height: 40px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 8px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 8px;
    font-family: 'font1';
    border-end-start-radius: 20px;
    border-start-start-radius: 20px;
}

.minor-content {
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 76px;
    padding-right: 48px;
    font-family: 'font1';
    box-shadow: 0 0.1875rem 0.4375rem 0 rgba(0, 0, 0, .13), 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, .11);
}

.scroll-bar {
    position: absolute;
    right: 15px;
    bottom: -4141px;
    background: linear-gradient(to left, #fff 75%, rgba(255, 255, 255, 0));
}

.scroll-bar img {
    width: 20px;
    height: 20px;
}

/* .machine-body-overall{
    padding-left: 12px;
    padding-right: 12px;
} */
.machine-body-contents {
    padding-left: 23px;
    padding-right: 19px;
    padding-top: 81px;
    padding-bottom: 16px;
}

.machine-body-contents h3 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    font-family: 'font';
}

.machine-body-details {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    font-family: 'font1';
}

.machine-body-details a {
    color: rgb(0, 103, 184);
    text-decoration: underline;
}

.machine-key-points {
    color: rgb(0, 103, 184);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
    margin-top: 8px;
    /* padding-right: 27px; */
    font-family: 'font';
    display: flex;
    align-items: center;
}

.machine-body-details p {
    width: 88vw;
}

.chevron-right-bar img {
    height: 16px;
    width: 16px;
    color: rgb(0, 103, 184);
    padding-top: 4px;
}

.machine-image-container {
    padding-bottom: 40px;
}

.machine-image-container img {
    width: 375px;
    height: 232px;
}

.industry-container {
    padding-top: 72px;
}

.industry-container h2 {
    box-sizing: border-box;
    font-size: 19px;
    font-weight: 600;
    line-height: 22.8px;
    margin-bottom: 8px;
    text-align: center;
    font-family: 'font';
    padding-left: 12px;
    padding-right: 12px;
}

.operation-scroll-items {
    padding-left: 28px;
    padding-right: 12px;
    display: flex;
    overflow: scroll;
    padding-bottom: 50px;
}

.operation-scroll-items::-webkit-scrollbar {
    display: none;
}

.scroll-active-content {
    background-color: rgb(0, 103, 184);
    color: rgb(255, 255, 255);
    width: 221px;
    height: 40px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 8px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 8px;
    font-family: 'font1';
    border-end-start-radius: 20px;
    border-start-start-radius: 20px;
}

.scroll-minor-content {
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 76px;
    padding-right: 48px;
    font-family: 'font1';
    box-shadow: 0 0.1875rem 0.4375rem 0 rgba(0, 0, 0, .13), 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, .11);
}

.scroll-bar-operation img {
    width: 20px;
    height: 20px;
}

.scroll-bar-operation {
    position: absolute;
    right: 14px;
    padding-top: 8px;
    background: linear-gradient(to left, #fff 75%, rgba(255, 255, 255, 0));
}

.operation-container {
    padding-top: 48px;
}

.operation-contents {
    padding-left: 20px;
    padding-right: 20px;
}

.operation-header-contents {
    padding-top: 16px;
}

.operation-header-contents h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    margin-bottom: 8px;
    font-family: 'font';
    width: 75vw;
}

.operation-header-contents p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    font-family: 'font1';
    width: 86vw;
}

.operation-header-contents a {
    color: rgb(0, 103, 184);
    text-decoration: underline;
}

.horizontal-cards {
    padding-top: 50px;
}

.horizontal-card-container {
    display: flex;
    padding-left: 16px;
    padding-top: 18px;
    padding-bottom: 34px;
}

.image-horizontal-card {
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 12px;
    padding-top: 24px;
}

.image-horizontal-card img {
    width: 48px;
    height: 48px;
}

.horizontal-card-contents {
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
}

.horizontal-card-contents h4 {
    font-size: 17px;
    font-weight: 600;
    line-height: 20.4px;
    margin-bottom: 8px;
    font-family: 'font';
}

.horizontal-card-contents p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'font1';
    line-height: 24px;
    margin-bottom: 16px;
    width: 58vw;
}

.solution-container {
    padding-top: 40px;
}

.solution-contents {
    background-color: #f2f2f2;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 36px;
    padding-right: 24px;
}

.solution-contents h2 {
    font-size: 19px;
    font-weight: 600;
    font-family: 'font';
    line-height: 22.8px;
    margin-bottom: 8px;
}

.solution-contents p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    font-family: 'font1';
}

.solution-contents a {
    color: rgb(0, 103, 184);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
    margin-bottom: 2px;
    display: flex;
    font-family: 'font1';
}

.solution-image img {
    width: 375px;
    height: 183px;
}

.action-heading {
    margin-bottom: 48px;
    padding-top: 20px;
}

.action-content-cards {
    padding-left: 23px;
    padding-right: 23px;
    margin-top: 35px;
}

.action-heading p {
    font-size: 19px;
    font-weight: 600;
    line-height: 22.8px;
    margin-bottom: 16px;
    font-family: 'font';
    text-align: center;
}

.content-vertical-card {
    background-color: #f4f5f6;
    box-shadow: 0 0.1875rem 0.4375rem 0 rgba(0, 0, 0, .13), 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, .11);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 24px;
}

.content-vertical-card h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 21.6px;
    margin-bottom: 8px;
    font-family: 'font';
    text-align: center;
}

.content-vertical-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    font-family: 'font1';
    text-align: center;
}

.credit-bar {
    text-align: center;
    margin-bottom: 14px;
}

.credit-bar span {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    margin-bottom: 12px;
    font-family: 'font1';
    color: rgb(41, 128, 185);
    padding-left: 19px;
}

.validity-content {
    text-align: center;
}

.content-vertical-card a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    font-family: 'font1';
    padding-left: 40px;
}

.link-button {
    background-color: rgb(137, 196, 2);
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    font-family: 'font';
    width: 83px;
    height: 40px;
    margin-bottom: 8px;
    margin-top: 21px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 97px;
}

.action-link {
    text-align: center;
    margin-top: 16px;
    margin-bottom: -8px;
}

.action-link a {
    color: rgb(0, 103, 184);
    font-size: 16px;
    font-weight: 400;
    font-family: 'font1';
    padding-left: 0px;
    line-height: 24px;
    margin-bottom: 8px;
    margin-top: 8px;
    text-decoration: underline;
}

.action-detail-contents {
    padding-top: 25px;
    padding-bottom: 32px;
}

.vertical-card-check {
    display: flex;
}

.check-image img {
    width: 20px;
    height: 25px;
}

.vertical-card-check p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    text-align: left;
    font-family: 'font1';
}

.link-button-sign {
    background-color: rgb(0, 103, 184);
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    font-family: 'font';
    width: 83px;
    height: 40px;
    margin-bottom: 8px;
    margin-top: 21px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 97px;
}

.action-final-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    font-family: 'font1';
    padding-top: 23px;
    padding-left: 9px;
    padding-right: 12px;
}


.fuel-container {
    padding-top: 96px;
}

.fuel-app-container {
    background-color: #243a5e;
    display: flex;
    height: 337px;
    margin-left: 12px;
    margin-right: 12px;
}


.object-fuel-image img {
    width: 190px;
    height: 292px;
    margin-left: 24px;
    margin-right: 12px;
    padding-top: 24px;
    /* padding-bottom: 24px; */
}

.fuel-contents {
    padding-left: 5px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
}

.fuel-contents a {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    font-family: 'font';
    text-decoration: underline;
}

.fuel-contents p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    font-family: 'font1';
    width: 29vw;
}

.documentation-container {
    padding-top: 96px;
}

.vertical-card-demo {
    margin-bottom: 48px;
    padding-left: 12px;
    padding-right: 12px;
}

.vertical-image-card img {
    width: 48px;
    height: 48px;
}

.vertical-card-contents h3 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'font';
    line-height: 21.6px;
    margin-bottom: 8px;
    padding-top: 12px;
}

.demo-contents {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.demo-contents p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    font-family: 'font1';
}

.demo-contents a {
    color: rgb(0, 103, 184);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'font1';
    text-decoration: underline;
    /* display: flex; */
}

.startup-container {
    background-color: rgb(36, 58, 94);
    padding-left: 12px;
    padding-right: 12px;
    height: 604px;
}

.start-gutter-contents {
    padding-left: 12px;
    padding-right: 12px;
    color: rgb(255, 255, 255);
    padding-top: 41px;
}

.start-gutter-contents h2 {
    font-size: 19px;
    font-weight: 600;
    line-height: 22.8px;
    margin-bottom: 8px;
    font-family: 'font';
}

.start-gutter-contents p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    font-family: 'font1';
}

.start-up-button {
    background-color: rgb(137, 196, 2);
    border-radius: 2px;
    width: 95px;
    height: 40px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding-top: 8px;
    padding-left: 14px;
    padding-right: 12px;
    padding-bottom: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.start-up-button p {
    font-family: 'font';
}

.main-gutter-container {
    padding-top: 48px;
}

.gutter-image img {
    width: 351px;
    height: 198px;
}

.gutter-contents {
    color: rgb(255, 255, 255);
    padding-left: 24px;
    padding-top: 33px;
    padding-bottom: 24px;
    padding-right: 24px;
}

.inline-gutter {
    margin-bottom: 12px;
    margin-right: 24px;
    display: flex;
    gap: 6px;
    padding-top: 1px;
}

.inline-gutter p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'font1';
    padding-left: 2px;
}


.material-symbols-outlined {
    /* color: rgb(0, 103, 184); */
    font-weight: 400;
    font-size: 18px;
    padding-top: 4px;
    padding-right: 5px;
}


.footer-section {
    background-color: #f7f7f7;
    padding-top: 2px;
    /* padding-bottom: 31px; */
}

.footer-nav-azure {
    padding-bottom: 10px;
}

.footer-nav-items {
    background-color: rgb(234, 235, 236);
    box-sizing: border-box;
    color: rgb(76, 76, 81);
    font-size: 12px;
    font-weight: 400;
    /* letter-spacing: -0.48px; */
    margin-block: 50px;
    margin-inline: 21px;
    width: 56%;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.icon-size {
    padding-left: 9px;
    padding-right: 10px;
}

.footer-text-heading {
    color: rgb(76, 76, 81);
    font-size: 14px;
    font-weight: 600;
    /* letter-spacing: -0.48px; */
    white-space: nowrap;
    font-family: 'font';
}

.footer-nav-social {
    padding-left: 30px;
    margin-top: -32px;
    display: flex;
    gap: 24px;
}

.footer-nav-bar {
    margin-block: 6px;
    display: flex;
    flex-direction: column;
    row-gap: 34px;
    margin-bottom: 43px;
    margin-top: 26px;

}


.footer-nav-columns {
    background-color: rgb(234, 235, 236);
    box-sizing: border-box;
    color: rgb(26, 26, 31);
    width: 90%;
    margin-left: 19px;
    padding-bottom: 10px;
    padding-left: 25px;
    border-radius: 6px;
}

.footer-button-one {
    display: flex;
    width: 309px;
    height: 38px;
    align-items: center;
    justify-content: space-between;
}

.footer-button-one span {
    padding-right: 22px;
    font-size: 14px;
    padding-top: 8px;
    font-weight: 600;
    font-family: 'font';
}

.footer-button-one p {
    font-size: 23px;
    padding-right: 20px;
    padding-top: 11px;
    font-weight: 600;
}


.dropdown-menu-footer {
    display: flex;
    flex-direction: column;
    margin-inline: 18px;
    padding-bottom: 7px;
}

.dropdown-menu-footer label {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* margin-bottom: 4px; */
    font-family: 'font1';
}

.dropdown-default {
    width: 67%;
    padding-bottom: 10px;
    padding-top: 8px;
    padding-left: 5px;
    margin-top: -6px;
}

.dropdown-default option {
    font-size: 14px;
    font-weight: 400;
    font-family: 'font1';
    color: rgb(26, 26, 31);
}

.symbol-drawer {
    padding-left: 18px;
    padding-top: 15px;
    display: flex;
    gap: 11px;
    padding-bottom: 31px;
}

.symbol-drawer img {
    width: 10%;
}

.symbol-drawer span {
    color: rgb(26, 26, 31);
    font-size: 12px;
    font-weight: 400;
    /* letter-spacing: -0.48px; */
    line-height: 18px;
    font-family: 'font1';
}

.column-footer-items {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: 400;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
    padding-bottom: 7px;
    line-height: 22px;
    font-family: 'font1';
    width: 89vw;
    margin-top: 5px;
    justify-content: flex-end;
    margin-left: 24px;

}

.footer-microsoft {
    margin-bottom: 38px;
    font-weight: 600;
}

/* .footer-last-text{
    margin-bottom: 32px;
} */

.footer-last-text span {
    /* letter-spacing: -0.48px; */
}

.footer-row-column-section {
    display: none;
}

.column-footer-items {
    padding-bottom: 0px;
    margin-bottom: -8px;
    gap: 16px;
}

.dropdown-menu-footer {
    margin-top: -6px;
}










@media screen and (min-width: 768px) {

    .header-container {
        display: none;
    }

    .azure-image-logo {
        display: none;
    }

    .text-icon-bar {
        display: none;
    }

    .desktop-right-header {
        display: none;
    }

    .fixed-button button {
        position: relative;
        left: 589px;
        top: 840px;
        width: 159px;
        padding-bottom: 11px;
        padding-left: 12px;
        margin-left: 4px;
        margin-top: 5px;
    }

    .material-symbols-outlined {
        font-size: 20px;
    }



    .button p {
        padding-top: 8px;
    }



    .tablet-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 16px;
        padding-left: 11px;
    }

    .logo-nav-items {
        display: flex;
    }

    header {
        padding: 0px;
    }

    .logo {
        width: 24px;
        height: 25px;
    }

    .logo img {
        width: 100%;
        height: 100%;
    }

    .nav-links {
        display: flex;
    }

    .icon-text-bar {
        display: flex;
    }

    .tablet-text {
        font-size: 18px;
        font-weight: 600;
        font-family: 'font';
        margin-left: 13px;
        margin-top: -1px;
    }

    .nav-links {
        font-size: 13px;
        color: #1a1a1f;
        font-weight: 400;
        line-height: 1.5;
        margin-left: 12px;
        font-family: 'font1';
    }

    .nav-items-list {
        display: flex;
        padding: 2px 8px;
        gap: 1px;
    }

    .icon {
        padding-right: 18px;
    }

    .dots {
        padding-right: 18px;
        margin-top: -1px;
    }

    .sign-in-text {
        font-size: 13px;
        font-weight: 400;
        white-space: nowrap;
        font-family: 'font1';
        padding-top: 5px;
        padding-right: 8px;
    }

    .hero-banner {
        margin-top: 10px;
        height: 177px;
    }

    .link-group {
        display: flex;
    }

    .text-arrow-tag {
        padding-top: 24px;
        padding-left: 29px;
    }

    .arrow-bar {
        padding-top: 3px;
        margin-left: 3px;
    }

    .layout-details {
        width: 98vw;
    }

    .dark-alert {
        height: 58px;
        padding-left: 0px;
        text-align: center;
    }

    .vertical-row-container {
        display: flex;
        justify-content: center;
    }

    .body-card-contents {
        margin-bottom: 86px;
    }

    .image-card-container {
        width: 768px;
        height: 641px;
    }

    .fluid-contents {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-top: 30px;
    }

    .tab-arrow {
        right: 11px;
        top: 3422px;
    }

    .card-group-content {
        width: 100%;
    }

    .column-image img {
        width: 739px;
        height: 506px;
        margin-top: -11px;
    }

    .blockquote p {
        width: 91vw;
    }

    .primary-container {
        display: flex;
        justify-content: center;
    }

    .outline-primary-content {
        height: 40px;
        width: 379px;
    }

    .outline-primary-content span {
        width: 46vw;
        padding-left: 0px;
        width: 100%;
    }

    .tab-window-container {
        padding-left: 18px;
        padding-bottom: 19px;
    }

    .scroll-bar {
        right: 28px;
        bottom: -3638px;
    }

    .scroll-bar img {
        padding-top: 3px;
    }

    .minor-content {
        border-top-right-radius: 20px;
        border-start-end-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .machine-key-points {
        padding-right: 194px;
    }

    .chevron-right-bar img {
        padding-top: 4px;
    }

    .machine-body-details {
        width: 94vw;
    }

    .machine-body-contents {
        padding-top: 70px;
    }

    .machine-body-details p {
        width: 94vw;
    }

    .machine-image-container img {
        width: 768px;
        height: 476px;
    }

    .operation-header-contents {
        padding-left: 6px;
    }

    .operation-header-contents p {
        width: 89vw;
    }

    .horizontal-card-contents p {
        width: 73vw;
        width: 73vw;
    }

    .horizontal-card-container {
        padding-left: 45px;
    }

    .solution-image img {
        width: 768px;
        height: 376px;
    }

    .action-content-cards {
        margin-top: 46px;
    }

    .link-button {
        margin-left: 296px;
    }

    .link-button-sign {
        margin-left: 296px;
    }


    .fuel-contents p {
        width: 63vw;
        padding-top: 9px;
    }

    .startup-container {
        display: flex;
        height: 390px;
    }

    .gutter-image img {
        width: 372px;
        height: 198px;
    }

    .main-gutter-container {
        padding-top: 17px;
    }

    .start-button {
        padding-top: 12px;
        margin-top: 16px;
    }

    .horizontal-nav-container {
        height: 287px;
        margin-top: -2px;
    }

    .layout-container {
        padding-top: 74px;
    }

    .footer-nav-items {
        height: 48px;
        width: 219px;
        margin-block: -6px;
        margin-top: 37px;
    }

    .footer-nav-social {
        padding-left: 16px;
        margin-top: 45px;
    }

    .footer-button-one {
        width: 100%;
    }

    .footer-nav-azure {
        display: flex;
        padding-bottom: 10px;
    }

    .symbol-drawer {
        padding-top: 46px;
        padding-left: 4px;
    }

    .symbol-drawer img {
        width: 34px;
        height: 16px;
    }

    .symbol-drawer span {
        white-space: nowrap;
        width: 62%;
    }

    .column-footer-items {
        gap: 16px;
        padding-bottom: 7px;
        margin-left: 66px;
        line-height: 19px;
    }

    .column-footer-items span {
        font-weight: 600;
    }

    .footer-nav-columns {
        width: 95%;
    }

    .footer-nav-two {
        width: 95%;
    }

    .footer-nav-three {
        width: 95%;
    }

    .footer-nav-four {
        width: 95%;
    }

    .footer-nav-five {
        width: 95%;
    }

    .footer-nav-six {
        width: 95%;
    }

    .section-master img {
        /* width: 100%;
        height: 861px; */

    }

    .footer-nav-minimum {
        display: flex;
    }

    .footer-button-one p {
        padding-right: 24px;
        padding-top: 13px;
        font-weight: 500;
    }

    .dropdown-default {
        width: 188px;
    }

    .footer-nav-bar {
        margin-top: 32px;
        margin-bottom: 40px;
    }
    .icon-size{
        padding-top: 5px;
    }
    .footer-text-heading{
        padding-left: 2px;
    }






}

@media screen and (min-width: 1024px) {



    .fixed-nav-bar {
        display: none;
    }

    .fixed-nav-bar {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        /* padding-bottom: 16px; */
        padding-top: 16px;
        position: fixed;
        background-color: #fff;
        height: 72px;
        box-shadow:  0 .375rem .875rem 0 rgba(0,0,0,.13),0 .0625rem .25rem 0 rgba(0,0,0,.11);
        margin-left: 12px;
        width: 97%;
        justify-content: space-between;
    }

    .fixed-nav-items {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 600;
        font-family: 'font';
        line-height: 24px;
        margin-bottom: 8px;
        margin-top: 8px;
        gap: 16px;
        padding-left: 16px;
    }

    .fixed-more-item {
        font-size: 16px;
        font-weight: 600;
        font-family: 'font';
        line-height: 16px;
        margin-bottom: 8px;
        margin-top: -7px;
        padding-bottom: 10px;
        padding-left: 6px;
        padding-right: 35px;
        padding-top: 11px;
    }
    .fixed-free-button{
        background-color: rgb(137, 196, 2);
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        font-family: 'font';
        margin-bottom: 8px;
        margin-top: 1px;
        padding-bottom: 10px;
        padding-left: 13px;
        padding-right: 12px;
        padding-top: 11px;
        width: 120px;
        height: 40px;
        margin-right: 17px;
    }
    /* .chevron-fixed-bar::after{
        content: "f078";
    } */

    



    .fixed-button button {
        left: 846px;
        width: 159px;
        padding-left: 10px;
    }

    .hero-banner {
        height: 313px;
        padding-top: 56px;
        padding-left: 60px;
    }

    .hero-banner p {
        width: 40vw;
    }

    .link-group {
        display: block;
    }

    .text-arrow-tag {
        padding-top: 16px;
        padding-left: 0px;
        width: 39vw;
    }

    .arrow-bar {
        padding-top: 13px;
    }

    .horizontal-nav-container {
        display: flex;
        height: 105px;
    }

    .horizontal-nav-items {
        display: flex;
        flex-direction: row;
        width: 1000px;
        height: 72px;
        border-radius: 0px;
        align-items: center;
        margin-top: 2px;
        margin-left: -4px;
        padding-bottom: 5px;
        margin-right: -4px;
        gap: 0px;
    }

    .transition-item {
        border-bottom: none;
        margin-left: 0px;
    }

    .text-arrow-icon {
        padding-left: 22px;
        padding-top: 13px;
    }

    .layout-container {
        display: flex;
        padding-top: 41px;
    }

    .layout-details {
        width: 69vw;
        padding-left: 68px;
        padding-top: 8px;
    }

    .alert-container {
        padding-top: 14px;
    }

    .dark-alert {
        padding-top: 17px;
    }

    .learning-container {
        display: flex;
        padding-bottom: 51px;
    }

    .vertical-row-container {
        display: flex;
        flex-direction: column;
        border-bottom: none;
        gap: 12px;
        margin-top: -298px;
        padding-left: 13px;
    }

    .machine-learning {
        padding-left: 28px;
        padding-top: 12px;
    }

    .service {
        border-left: 4px solid rgb(0, 103, 184);
        border-bottom: none;
        padding-left: 24px;
    }

    .image-card-container {
        width: 372px;
        height: 655px;
    }

    .exploring-content {
        display: flex;
        height: 688px;
        width: 744px;
        padding-top: 34px;
        margin-left: 46px;
    }


    .image-card-container img {
        object-fit: cover;
    }

    .card-contents {
        width: 372px;
        padding-top: 40px;
        height: 655px;
        padding: 40px;
        margin-right: 8px;
    }

    .card-defnitions {
        width: 26vw;
    }

    .key-features {
        width: 22vw;
    }

    .explore-content {
        margin-top: 27px;
    }

    .ai-card-body {
        display: flex;
    }

    .body-card-contents p {
        width: 31vw;
    }

    .fluid-contents {
        display: flex;
        padding-left: 25px;
        padding-right: 25px;
    }

    .tab-arrow {
        right: 26px;
        top: 2666px;
    }

    .tab-image {
        margin-left: -4px;
        padding-left: 23px;
        padding-right: 16px;
        padding-top: 2px;
    }

    .tab-image img {
        width: 160px;
        height: 50px;
    }

    .tab-image-group {
        margin-left: 24px;
        padding-top: 0px;
    }

    .tab-image-group img {
        width: 160px;
        height: 50px;
    }

    .column-group {
        display: flex;
        flex-wrap: nowrap;
    }

    .column-image img {
        width: 494px;
        height: 331px;
        margin-top: 0px;
    }

    .blockquote p {
        width: 39vw;
    }

    .card-group-content {
        margin-bottom: 5px;
        padding-left: 43px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .scroll-bar {
        right: 28px;
        /* bottom: -3523px; */
        top: 3301px;
        bottom: 0;
        background: linear-gradient(to left,#fff 75%,rgba(255,255,255,0));
    }

    .machine-body-details p {
        width: 41vw;
    }

    .machine-key-points p {
        width: 34vw;
    }

    .machine-image-container img {
        width: 500px;
        height: 309px;
    }

    .machine-body-overall {
        display: flex;
        padding-left: 13px;
    }

    .machine-body-contents {
        width: 500px;
        padding-left: 46px;
    }

    .tab-window-container {
        padding-bottom: 65px;
        padding-left: 28px;
    }

    .machine-key-points {
        width: 36vw;
        padding-right: 0px;
    }

    .scroll-bar-operation {
        display: none;
    }

    .scroll-minor-content {
        border-end-end-radius: 20px;
        border-start-end-radius: 20px;
    }

    .operation-container {
        padding-top: 55px;
    }

    .operation-scroll-items {
        display: flex;
        justify-content: center;
    }

    .operation-header-contents {
        padding-left: 4px;
    }

    .operation-header-contents p {
        width: 94vw;
    }

    .horizontal-cards {
        padding-top: 24px;
        padding-left: 46px;
    }

    .solution-container {
        display: flex;
        padding-left: 12px;
        padding-right: 12px;
    }

    .solution-contents {
        width: 500px;
        height: 318px;
        padding-left: 42px;
        padding-top: 49px;
    }

    .solution-contents p {
        width: 39vw;
    }

    .solution-image img {
        width: 500px;
        height: 318px;
    }

    .action-main-cards {
        display: flex;
    }

    .action-content-cards {
        margin-top: 3px;
    }

    .content-vertical-card {
        height: 660px;
    }

    .link-button {
        margin-left: 170px;
    }

    .link-button-sign {
        margin-left: 170px;
    }

    .documentation-container {
        display: flex;
        gap: 72px;
    }

    .vertical-image-card img {
        width: 48px;
        height: 60px;
    }

    .startup-container {
        height: 288px;
    }

    .main-gutter-container {
        display: flex;
        padding-left: 53px;
    }

    .gutter-image img {
        width: 233px;
    }

    .gutter-contents {
        padding-left: 44px;
        padding-top: 69px;
    }

    .inline-gutter p {
        width: 17vw;
    }

    .layout-details p {
        width: 62vw;
        margin-left: 0px;
    }

    .footer-nav-bar {
        display: none;
    }

    .footer-row-column-section {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding-bottom: 17px;
    }

    .nav-column-one {
        color: rgb(26, 26, 31);
        /* display: block; */
        font-size: 12px;
        font-weight: 400;
        /* letter-spacing: -0.48px; */
        line-height: 24px;
        padding-left: 18px;
        margin-top: -1px;
    }

    .nav-column-one h3 {
        margin-top: -28px;
        font-size: 14px;
        font-weight: 600;
        /* letter-spacing: -0.7px; */
        line-height: 27.2px;
        font-family: 'font';
    }

    .column-links {
        display: grid;
        font-size: 12px;
        font-weight: 400;
        /* letter-spacing: -0.48px; */
        line-height: 35px;
        font-family: 'font1';
    }

    .column-footer-items {
        max-width: 63%;
        margin-left: auto;
        margin-top: -67px;
    }

    .footer-section {
        padding-top: 22px;
        padding-bottom: 9px;
    }

    .dropdown-default {
        width: 162px;
    }

    .column-footer-items {
        margin-top: -57px;
        padding-right: 16px;
    }

    .footer-nav-social {
        padding-left: 20px;
        margin-top: 10px;
    }

    .footer-nav-items {
        width: 21%;
        margin-block: 37px;
    }

    .footer-nav-azure {
        padding-bottom: 29px;
    }

    .symbol-drawer {
        padding-top: 38px;
    }


}


@media screen and (min-width: 1440px) {

    header {
        max-width: 1600px;
        margin: 0 auto;
    }

    .main-hero-container {
        background-color: #000;
    }

    .hero-main-container {
        max-width: 1500px;
        margin: 0 auto;
    }

    .solution-container {
        max-width: 1500px;
        margin: 0 auto;
    }

    .horizontal-nav-container {
        max-width: 1600px;
        margin: 0 auto;
    }

    .layout-container {
        max-width: 1600px;
        margin: 0 auto;
    }

    .alert-container {
        max-width: 1600px;
        margin: 0 auto;
    }

    .learning-container {
        max-width: 1600px;
        margin: 0 auto;
    }

    .ai-card-body {
        max-width: 1600px;
        margin: 0 auto;
    }

    .column-group {
        max-width: 1600px;
        margin: 0 auto;
    }

    .tab-window-container {
        max-width: 1600px;
        margin: 0 auto;
    }

    .machine-body-overall {
        max-width: 1600px;
        margin: 0 auto;
    }

    .operation-contents {
        max-width: 1600px;
        margin: 0 auto;
        width: 100%;
    }

    .horizontal-cards {
        max-width: 1600px;
        margin: 0 auto;
        width: 100%;
    }

    .footer-main-section {
        background-color: rgb(244, 245, 246);
    }

    .footer-section {
        max-width: 1600px;
        margin: 0 auto;
    }

    .fixed-nav-bar{

    }


    .desktop-right-header {
        display: flex;
    }

    .icon-text-bar {
        display: none;
    }

    .lists {
        display: flex;
    }

    .hero-image-container {
        display: flex;
    }

    .logo {
        width: 24px;
        height: 25.25px;
    }

    .tablet-text {
        margin-left: 25px;
        margin-top: -2px;
    }

    .nav-links {
        margin-left: 24px;
        margin-top: -1px;
    }

    .searchbar {
        background-color: #f8f9fa;
        border-radius: 4px;
        border-color: #747479;
        color: #4c4c51;
        border: 1px solid #747479;
        font-size: 13px;
        display: flex;
        align-items: center;
        width: 120px;
        height: 32px;
        padding-left: 13px;
        justify-content: space-between;
        margin-top: -4px;
    }

    .searchbar input {
        border: none;
        outline: none;
        background-color: #f8f9fa;
        width: 40px;
    }

    .lists {
        color: #1a1a1f;
        font-size: 15px;
        margin: 0px;
        display: flex;
        align-content: space-between;
        justify-content: space-around;
        align-items: center;
        white-space: nowrap;
        padding-left: 25px;
        margin-top: -8px;
        margin-right: 14px;
    }

    .lists p {
        color: #1a1a1f;
        font-size: 13px;
        padding: 0px 6px;
        display: flex;
        justify-content: space-around;
        font-family: 'font1';
    }

    .lists button {
        background-color: #89c402;
        border: 1px solid #6f9e02;
        border-radius: 4px;
        color: #1a1a1f;
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-size: 12px;
        font-weight: 600;
        padding: 10px 8px;
        line-height: 1;
        text-align: center;
        height: 32px;
        width: 89px;
        font-family: 'font';
        margin-top: 1px;
    }

    .list-categories {
        display: flex;
        padding-right: 9px;
        gap: 4px;
    }

    .sign {
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        font-family: 'font1';
        padding-right: 8px;
        padding-top: 4px;
    }

    .hero-banner {
        /* padding: 112px; */
        /* padding-top: 112px; */
        /* padding-left: 112px; */
        height: 398px;
        padding-top: 102px;
        padding-left: 112px;
    }

    .hero-banner h2 {
        font-size: 37px;
        font-weight: 700;
        line-height: 44.4px;
        padding-top: 26px;
        padding-left: 8px;
    }

    .hero-banner p {
        padding-top: 21px;
        padding-left: 8px;
        width: 100%;
    }

    .hero-main-container {
        display: flex;
        margin-top: 10px;
    }

    .hero-image-container {
        background-color: #000;
        height: 409px;
        /* margin-top: 11px; */
        width: 780px;
    }

    .hero-image-container img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding-right: 35px;
    }

    .link-group {
        display: flex;
        padding-left: 8px;
    }

    .text-arrow-tag {
        padding-top: 24px;
        padding-left: 29px;
        width: 100%;
    }

    /* .hero-image-container img {
        /* margin-left: -77px; */
    /* } */ 

    .arrow-bar {
        padding-top: 3px;
    }

    .horizontal-nav-container {
        padding-left: 83px;
    }

    .horizontal-nav-items {
        width: 1274px;
        /* width: 100%; */
        margin: 0px;
        height: 72px;
        padding-bottom: 4px;
    }

    .transition-item {
        padding-top: 8px;
    }

    .layout-heading h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 28.8px;
    }

    .layout-heading {
        /* padding-left: 96px; */
        /* width: 100%; */
        padding-left: 21px;
        padding-top: 6px;
    }

    .layout-details {
        padding-left: 100px;
        width: 65vw;
    }

    .dark-alert {
        /* width: 1296px; */
        padding-left: 1px;
        padding-top: 16px;
        width: 100%;
    }

    .alert-container {
        padding-top: 22px;
        /* padding-left: 72px; */
    }

    .image-card-container {
        width: 483px;
        height: 524px;
    }

    .image-card-container img {
        width: 484px;
    }

    .card-contents {
        width: 483px;
        height: 524px;
        /* padding-right: 64px; */
        padding: 50px;
    }

    .card-defnitions {
        width: 27vw;
    }

    .exploring-content {
        padding-top: 50px;
        /* margin-left: 175px; */
        padding-left: 30px;
    }

    .explore-content {
        margin-top: 21px;
    }

    .vertical-row-container {
        padding-left: 109px;
        margin-top: -247px;
    }

    .key-features {
        width: 23vw;
    }

    .ai-content {
        padding-top: 0px;
        font-size: 16px;

    }

    .learning-container {
        padding-bottom: 0px;
    }

    .exploring-content {
        padding-top: 31px;
    }

    .body-card-contents h3 {
        font-size: 21px;
    }

    .body-card-contents p {
        /* width: 29vw; */
        width: 100%;
    }

    .ai-card-body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .analyst-container {
        font-size: 16px;
        padding-top: 50px;
    }

    .exploring-content {
        padding-bottom: 0px;
    }

    .fluid-contents {
        padding-top: 39px;
        padding-left: 10px;
    }

    .innovater-header {
        font-size: 16px;
    }

    .image-tab-container {
        /* display: flex;
        justify-content: center; */
        padding-bottom: 40px;
    }

    .tab-arrow {
        display: none;
    }

    .blockquote p {
        /* width: 38vw; */
        width: 100%;
    }

    .column-image img {
        width: 642px;
        height: 430px;
    }

    .innovater-container {
        padding-left: 72px;
        padding-right: 72px;
    }

    .tab-group {
        display: flex;
        justify-content: center;
    }

    .cloud-container h2 {
        font-size: 24px;
    }

    .scroll-bar {
        top: 3258px;
        right: 44px;
    }

    .tab-window-container {
        padding-left: 90px;
    }

    .default-machine-container {
        padding-top: 69px;
    }

    .card-group-content {
        padding-top: 39px;
        padding-left: 49px;
    }

    .card-group-content h3 {
        font-size: 21px;
    }

    .link-content {
        margin-top: 1px;
    }

    .column-group {
        /* margin-right: 6px; */
    }

    .machine-body-contents {
        padding-left: 100px;
    }

    .machine-body-details p {
        width: 36vw;
    }

    .machine-key-points p {
        width: 35vw;
    }

    .machine-image-container {
        padding-left: 207px;
        margin-top: -7px;
    }

    .machine-image-container img {
        width: 648px;
        height: 401px;
    }

    .industry-container h2 {
        font-size: 24px;
    }

    .operation-header-contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-left: -32px; */
        width: 100%;
    }

    .operation-header-contents h3 {
        font-size: 21px;
        width: 100%;
    }

    .operation-header-contents p {
        width: 79vw;
        padding-left: 24px;
        width: 100%;
    }

    .horizontal-card-contents p {
        width: 62vw;
    }

    .horizontal-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .horizontal-card-container {
        display: flex;
        gap: 30px;
    }

    .solution-container {
        padding-left: 72px;
        padding-right: 72px;
    }

    .solution-contents {
        width: 648px;
        height: 317px;
        padding-left: 48px;
    }

    .solution-contents h2 {
        font-size: 25px;
    }

    .solution-contents p {
        padding-top: 7px;
    }

    .solution-image img {
        width: 648px;
        height: 317px;
    }

    .fuel-container {
        display: flex;
        justify-content: center;
    }

    .fuel-app-container {
        margin-left: 27px;
        margin-right: 25px;
        width: 1301px;
    }

    .object-fuel-image img {
        width: 190px;
        height: 259px;
        margin-top: 28px;
    }

    .fuel-contents {
        padding-left: 23px;
        padding-top: 55px;
    }

    .documentation-container {
        display: flex;
        gap: 169px;
        justify-content: center;
    }

    .startup-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 256px;
    }

    .start-gutter-contents {
        padding-right: 70px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .start-gutter-contents h2 {
        font-size: 24px;
    }


    .footer-nav-items {
        width: 223px;
        margin-block: 32px;
    }

    .footer-nav-social {
        margin-top: -2px;
    }

    .column-footer-items {
        margin-top: -89px;
    }

    .nav-column-one h3 {
        font-size: 14px;
    }

    .column-links {
        font-size: 12px;
    }

    .machine-body-details {
        width: 100%;
    }

    .layout-container {
        padding-top: 41px;
        display: flex;
        justify-content: center;
    }

    .layout-details p {
        /* width: 58vw; */
        width: 100%;
        margin-left: -1px;
    }

    .text-arrow-icon {
        padding-top: 13px;
    }

    .start-button {
        margin-top: 16px;
        width: 114px;
    }

    .scroll-bar {
        display: none;
    }

    .fixed-button button {
        padding-top: 10px;
        margin-left: -12px;
        padding-left: 9px;
        left: 1278px;
        top: 886px;
    }

    .action-heading p {
        font-size: 24px;
    }

    .content-vertical-card {
        width: 571px;
    }

    .action-main-cards {
        display: flex;
        justify-content: center;
    }

    .link-button {
        margin-left: 226px;
    }

    .link-button-sign {
        margin-left: 226px;
    }

    .dropdown-menu-footer {
        margin-top: -41px;
    }

    .dropdown-default {
        width: 188px;
    }

    .footer-row-column-section {
        padding-bottom: 51px;
    }
    .arrow-bar img{
        color: rgb(80, 230, 255);
    }
    .footer-nav-azure{
        padding-bottom: 25px;
    }

}



/* @media screen and (min-width:2791px)  {
    .main-hero-container{
        width: 2791px;
        height: 505px;
    }

    
} */