* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'font';
    src: url('https://open.spotifycdn.com/cdn/fonts/spoticon_regular_2.d728648c.woff2');
}

@font-face {
    font-family: 'font1';
    src: url('https://encore.scdn.co/fonts/CircularSp-Book-4eaffdf96f4c6f984686e93d5d9cb325.woff2');
}

@font-face {
    font-family: 'font2';
    src: url('https://encore.scdn.co/fonts/CircularSp-Bold-fe1cfc14b7498b187c78fa72fb72d148.woff2');
}

@font-face {
    font-family: 'font3';
    src: url('https://encore.scdn.co/fonts/CircularSpTitle-Bold-2fbf72b606d7f0b0f771ea4956a8b4d6.woff2');
}

@font-face {
    font-family: 'font4';
    src: url('https://encore.scdn.co/fonts/CircularSpTitle-Black-3f9afb402080d53345ca1850226ca724.woff2');
}

.desktop-main-container {
    display: none;
}

body {
    background-color: black;
}

.mobile-container {
    background-color: black;
}

header {
    background-color: var(rgba(0, 0, 0, 0.5), transparent);
    display: flex;
    justify-content: space-between;
}

.app-icon {
    padding-top: 12px;
    padding-left: 16px;
}

.header-symbols {
    display: flex;
    color: rgb(255, 255, 255);
}

.search-bar {
    padding: 20px 17px;
}

.app-button {
    background-color: #fff;
    border: none;
    border-radius: 500px;
    padding: 9px 23px;
    height: 34px;
    width: 114px;
    text-transform: uppercase;
    color: #000;
    margin-top: 4px;
    margin-top: 11px;
    margin-right: 16px;
}

.app-button span {
    font-size: 12px;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-weight: 700;
    font-family: 'font2';
    white-space: nowrap;
}

.ham-burger {
    padding-top: 16px;
    padding-right: 16px;
}

.hero-heading {
    box-sizing: border-box;
    padding-left: 16px;
    padding-top: 35px;
    color: rgb(255, 255, 255);
}

.hero-heading h2 {
    box-sizing: border-box;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: 'font3';
}

.hero-banner-scroll-bar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding-top: 20px;
    gap: 16px;
}
.hero-banner-scroll-bar::-webkit-scrollbar {
    display: none;
  }

.hero-banner-image-contents {
    display: flex;
    flex-direction: column;
}

.hero-banner-image-contents img {
    width: 152px;
    height: 152px;
    object-fit: cover;
    border-radius: 4px;
}

.hero-banner-image-contents span {
    font-size: 16px;
    font-weight: 400;
    font-family: 'font1';
    padding-top: 8px;
}


@media screen and (min-width: 768px) {



    .hero-heading h2 {
        font-size: 24px;

    }



}

@media screen and (min-width: 1024px) {
    .desktop-main-container {
        display: flex;
        flex-direction: column;
    }

    .button-data-encore {
        display: flex;
    }

    .mobile-container {
        display: none;
    }

    .desktop-container-image {
        display: none;
    }

    .left-items {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .home-container {
        background-color: #121212;
        border-radius: 8px;
        width: 420px;
        height: 156px;
        margin-top: 8px;
        margin-left: 9px;
    }

    .spotify-app {
        padding-left: 23px;
        padding-top: 20px;
    }

    .home-search-bar {
        padding-left: 23px;
        padding-top: 14px;
    }

    .home-tag {
        display: flex;
    }

    .home-tag-image {
        padding-top: 1px;
    }

    .home-tag span {
        font-size: 16px;
        font-weight: 700;
        line-height: 25.6px;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        font-family: 'font2';
        padding-left: 20px;
    }

    .search-bar-tag {
        padding-top: 18px;
        display: flex;
    }

    .search-bar-tag-image {
        padding-top: 1px;
    }

    .search-bar-tag span {
        color: rgb(179, 179, 179);
        font-size: 16px;
        font-weight: 700;
        line-height: 25.6px;
        font-family: 'font2';
        padding-left: 20px;
    }

    .cookies-playlist-container {
        margin-left: 9px;
        background-color: #121212;
        border-radius: 8px;
        width: 419px;
        height: 634px;
    }

    .library-container {
        width: 420px;
        height: 56px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .library-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .library-content img {
        padding-left: 23px;
        padding-top: 5px;
    }

    .library-content span {
        color: rgb(167, 167, 167);
        font-size: 16px;
        font-weight: 700;
        font-family: 'font2';
        padding-left: 12px;
    }

    .library-plus-icon {
        padding-top: 20px;
        padding-right: 25px;
    }

    .playlist-podcast-container {
        display: flex;
        flex-direction: column;
    }

    .playlist-container {
        background-color: rgb(36, 36, 36);
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        justify-content: center;
        margin: 8px 7px;
        width: 404px;
        height: 140px;
    }

    .playlist-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: rgb(179, 179, 179);
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .playlist-content span {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 25.6px;
        font-family: 'font2';
    }

    .playlist-content p {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        font-family: 'font1';
    }

    .playlist-button {
        background-color: rgb(255, 255, 255);
        box-sizing: border-box;
        display: flex;
        border-radius: 300px;
        justify-content: center;
        align-items: center;
        width: 127px;
        height: 32px;
        margin-left: 20px;
        /* margin-top: 22px; */       
    }

    .playlist-button p {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 700;
        font-family: 'font2';
    }

    .podcast-container {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        gap: 20px;
        padding: 16px 20px;
        justify-content: center;
        background-color: rgb(36, 36, 36);
        margin: 16px 7px;
        width: 404px;
        height: 140px;
    }

    .podcast-contents span {
        font-size: 16px;
        font-weight: 700;
        line-height: 25.6px;
        color: rgb(255, 255, 255);
        font-family: 'font2';
    }

    .podcast-contents p {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        font-family: 'font1';
        padding-top: 8px;
    }

    .podcast-button {
        background-color: rgb(255, 255, 255);
        box-sizing: border-box;
        display: flex;
        border-radius: 300px;
        justify-content: center;
        align-items: center;
        width: 143px;
        height: 32px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .podcast-button p {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 700;
        font-family: 'font2';
    }

    .cookie-content span {
        color: rgb(179, 179, 179);
        font-size: 11px;
        font-weight: 400;
        line-height: 17.6px;
        font-family: 'font1';
    }

    .cookies-container {
        padding-top: 134px;
        padding-left: 23px;
    }

    .cookie-button {
        display: flex;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid rgb(114, 114, 114);
        width: 96px;
        height: 32px;
        border-radius: 500px;
        align-items: center;
        justify-content: center;
        margin-top: 33px;
        padding-left: 3px;
    }

    .cookie-button img {
        height: 16px;
        width: 16px;
        margin-right: 4px;
        margin-top: 5px;
    }

    .cookie-button p {
        font-size: 14px;
        font-weight: 700;
        font-family: 'font2';
        padding-right: 7px;
    }

    .desktop-container {
        display: grid;
        gap: 8px;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
    }

    .main-right-container {
        background-color: #121212;
        width: 580px;
        height: 789px;
        border-radius: 7px;
        margin-top: 8px;
        margin-right: 8px;
    }

    .right-header {
        display: flex;
        justify-content: space-between;
    }

    .arrow-side-bar {
        display: flex;
        gap: 8px;
        box-sizing: border-box;
        padding-top: 17px;
        padding-left: 15px;
    }

    .side-right {
        background-color: rgba(0, 0, 0, .7);
        border: none;
        border-radius: 50%;
        color: #727272;
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        padding-top: 7px;
    }

    .side-right img {
        height: 16px;
        width: 16px;
    }

    .side-left {
        background-color: rgba(0, 0, 0, .7);
        border: none;
        border-radius: 50%;
        color: #727272;
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        padding-top: 7px;
    }

    .side-left img {
        height: 16px;
        width: 16px;
    }

    .sign-in-container {
        display: flex;
        padding-top: 8px;
        padding-right: 17px;
    }

    .sign-up-tag {
        color: rgb(167, 167, 167);
        font-size: 16px;
        font-weight: 700;
        font-family: 'font2';
        padding-right: 32px;
        padding-top: 13px;
    }

    .log-in-tag {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        display: flex;
        border-radius: 500px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        width: 109px;
        height: 48px;
    }

    .log-in-tag p {
        color: #000;
        font-size: 16px;
        font-weight: 700;
        font-family: 'font2';
    }

    .spotify-playlist-main-container {
        background-color: #121212;
        box-sizing: border-box;
        width: 580px;
        height: 732px;
        border-radius: 8px;
        margin-top: 10px;
    }

    .playlist-header {
        display: flex;
        justify-content: space-between;
    }

    .header-content-playlist {
        color: rgb(255, 255, 255);
        /* font-size: 24px; */
        font-size: 15px;
        font-weight: 700;
        font-family: 'font1';
        box-sizing: border-box;
        padding-left: 15px;
        padding-top: 2px;
        letter-spacing: 0.08px;
    }

    .show-contents {
        color: rgb(179, 179, 179);
        font-size: 14px;
        font-weight: 700;
        line-height: 22.4px;
        font-family: 'font1';
        padding-right: 18px;
        padding-top: 8px;
        letter-spacing: 0.08px;
    }

    .playlists-image-container {
        display: flex;
        flex-direction: row;
        gap: 1px;
    }

    .image-container-items {
        background-color: #1a1a1a;
        display: flex;
        flex-direction: column;
        width: 170px;
        height: 261px;
        border-radius: 8px;
        margin-left: 17px;
        margin-top: 21px;
    }

    .image-container-items img {
        height: 138px;
        width: 138px;
        margin-top: 15px;
        margin-left: 15px;
        /* border-radius: 8px; */
        border-radius: 5px;
    }

    .image-contents-playlist {
        padding-left: 14px;
        padding-top: 14px;
    }

    .image-contents-playlist p {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 700;
        line-height: 25.6px;
        font-family: 'font3';
        letter-spacing: 0.68px;
    }

    .text-content {
        color: rgb(167, 167, 167);
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        box-sizing: border-box;
        font-family: 'font1';
        margin-top: 1px;
    }

    .preview-encloser-tag {
        background-image: linear-gradient(90deg, rgb(175, 40, 150), rgb(80, 155, 245));
        width: 1008px;
        height: 67px;
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: space-between;
        padding: 11px 24px 7px 15px;
        margin-left: 8px;
    }

    .preview-element-tag {
        box-sizing: border-box;
        color: #fff;
    }

    .preview-heading {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1.2px;
        line-height: 19.2px;
        font-family: 'font1';
    }

    .paragraph-tag {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        font-family: 'font1';
    }

    .button-preview-tag {
        background-color: rgb(255, 255, 255);
        box-sizing: border-box;
        width: 178px;
        height: 48px;
        border-radius: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 8px;
        padding-inline: 32px;
        margin-top: 1px;
    }

    .button-preview-tag span {
        color: #000;
        font-weight: 700;
        font-size: 16px;
        font-family: 'font2';
        white-space: nowrap;
    }


}

@media screen and (min-width: 1440px) {

    /* .right-header{
        width: 996px;
    } */
    .cookies-playlist-container {
        height: 679px;
    }

    .main-right-container {
        width: 996px;
        height: 843px;
    }

    .preview-encloser-tag {
        width: 1424px;
    }

    .right-header {
        background-color: rgba(0, 0, 0, .5);
        /* background-color: #121212; */
        height: 64px;
    }

    .arrow-side-bar {
        padding-left: 23px;
    }

    .sign-in-container {
        padding-right: 25px;
    }

    .playlist-header {
        width: 948px;
    }

    .header-content-playlist h2 {
        margin-top: -9px;
        margin-left: 8px;
        letter-spacing: 0.08px;
    }

    .show-contents span {
        /* margin-top: -5px;
        margin-right: -21px; */
        margin-right: -41px;
        white-space: nowrap;
        letter-spacing: 0.18px;
    }

    .desktop-container-image {
        display: flex;
        gap: 8px;
    }

    .show-contents {
        padding-top: 0px;
    }

    .playlists-image-container {
        margin-left: 6px;
        margin-top: 0px;
        gap: 7px;
    }

    .image-container-items img {
        margin-right: 16px;
        margin-top: 16px;
        margin-left: 16px;
    }

    .cookies-container {
        padding-top: 180px;
    }

    .image-contents-playlist p {
        font-family: 'font2';
        margin-top: -7px;
        letter-spacing: 0.05px;
    }

    .search-bar-tag span {
        margin-top: -1px;
    }

    .cookie-button {
        margin-top: 33px;
        width: 96px;
        padding-left: 0px;
    }

    .cookie-button-image {
        padding-top: 5px;
    }

    .cookie-button img {
        margin-right: 5px;
        margin-top: 1px;
    }

    .cookie-button p {
        padding-right: 3px;
    }

    .playlist-content {
        padding-left: 20px;
    }

    /* .playlist-button {
        width: 127px;
        margin-top: 22px;
    } */

    .library-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .library-content span {
        margin-block: 2px;
        padding-left: 12px;
    }

    .library-content img {
        padding-top: 5px;
    }

    .search-bar-tag {
        padding-top: 19px;
    }

    .home-tag-image {
        padding-top: 1px;
    }

    .image-contents-playlist {
        padding-left: 16px;
        padding-top: 18px;
    }

    .image-container-items {
        background-color: #1a1a1a;
    }

    .search-bar-tag-image {
        padding-top: 0px;
    }
    .preview-encloser-tag{
        margin-top: 1px;
    }
    .text-content{
        margin-top: 4px;
    }

     /* .side-right{
        color: internal light dark(rgba(16,16,16,0.3),rgba(255,255,255,0.3));
    } */
    .image-contents-playlist span{
        margin-top: 4px;
    }

    .arrow-side-bar{
        /* color: rgb(179,179,179); */
        color: rgb(0,0,0,0.7);
    }

     
   
   





}